{% extends "base.html" %}

{% block page_title %}{{ _('Firefox Flicks - Home Page') }}{% endblock %}

{% block content %}
    <h1>Home page</h1>

    {% if not user.is_authenticated() %}
      <a id="browserid" href="#"><img src="{{ MEDIA_URL }}img/sign_in_red.png"></a>
      <form method="POST" action="{{ url('browserid_verify') }}">
        {{ csrf() }}
        {{ browserid_form.as_p() }}
      </form>
    {% else %}
      <p>You are logged in as {{ user.email }}. <a href="{{ url('logout') }}">Logout</a></p>
    {% endif %}
{% endblock %}

{% block site_js %}
  {{ super() }}
  <script src="https://browserid.org/include.js"></script>
{% endblock %}
