.section#rules:after {
  background: none;
  display: none;
}

.section:focus {
  outline: 0;
}

.section.alt {
  background: #e9e9e9 url(/media/img/bg-grid.png);
}

.section-intro {
  font-size: 20px;
  line-height: 1.35;
  text-align: center;
  margin: 0 auto 2em;
  max-width: 100%;
}

.section-detail {
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
  margin: 0 auto 3em;
}

.actions {
  text-align: center;
  margin: 0 auto;
}
.actions:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.actions ul {
  text-align: center;
  list-style: none;
}

.actions li {
  float: left;
  width: 20%;
  margin: 0 6.6%;
}

.actions p {
  font: 14px/1.2 "Open Sans", Helvetica, Arial, sans-serif;
}

.actions .soon {
  color: #999;
}

/*** @Slides *********/
#slideshow.js {
  position: relative;
  height: 300px;
  margin: 0 0 2em;
  padding-bottom: 17px;
  background: url(/media/img/shadow-940.png) center bottom no-repeat;
}

#slideshow ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

#slideshow .slide {
  margin: 0 0 1.5em;
  padding: 0 0 1em;
  border-bottom: 1px solid #dbd8cd;
}

#slideshow.js .slide {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

#slideshow.js .slide-desc {
  position: absolute;
  top: -50px;
  left: 30px;
  width: 230px;
  min-height: 140px;
  text-align: center;
  padding: 80px 30px 20px;
  background-color: #444;
  background-color: rgba(0,0,0,.75);
  font-size: 18px;
  line-height: 1.25;
  color: #fff;
  text-shadow: none;
  border-radius: 50%;
}

#slideshow.js .slide-desc a {
  color: #1f9ee5;
}

#slideshow .slide-desc .act {
  clear: both;
}

/* @About *********/
#about {
  background: url(/media/img/spot-1.png) -500px -40px no-repeat, url(/media/img/spot-2.png) 140% 100px no-repeat, url(/media/img/spot-3.png) 75% 220% no-repeat;
}

#about .section-intro {
  width: 740px;
}

#about .section-detail {
  width: 320px;
  position: relative;
  padding-left: 320px;
}

#about .section-detail .video {
  width: 240px;
  padding-bottom: 9px;
  background: url(/media/img/shadow-240.png) center bottom no-repeat;
  float: left;
  margin-left: -300px;
}

#about .section-detail .video img {
  display: block;
  margin: 0 auto;
}

#about .actions {
  width: 660px;
}

#about .actions h3 {
  overflow: hidden;
}

#about .actions h3 span {
  float: left;
  margin: 0 15px .75em;
}

#about .actions p {
  width: 460px;
  margin: 0 auto 1em;
}

/* @Winners from 2012 *********/
#winners2012 .section-intro {
  width: 620px;
}

.entry-list {
  list-style: none;
  overflow: auto;
  font-family: "Open Sans", sans-serif;
  margin: 0 -10px 1em;
}

.entry-list .entry {
  width: 300px;
  float: left;
  margin: 0 10px 2em;
}

.entry-list .entry:nth-child(3n+1) {
  clear: left;
}

.entry .thumbnail {
  border: 5px solid #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  margin-left: -5px;
}

.entry h2 {
  font-size: 16px;
  font-weight: normal;
}

.entry h3 {
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}

.entry a:link,
.entry a:visited {
  color: #28333a;
}

.entry a:focus,
.entry a:active {
  color: #28333a;
  outline: 0;
}

/* @Judges *********/
#judges {
  background: url(/media/img/spot-1.png) 170% 10px no-repeat, url(/media/img/spot-2.png) -20% 200% no-repeat, url(/media/img/spot-3.png) 5% -320px no-repeat;
}

#judges .section-intro {
  width: 620px;
}

.judges {
  list-style: none;
  margin: 0 -10px 2em;
}

.judges:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.judge {
  width: 140px;
  margin: 0 10px 2em;
  float: left;
  font-family: "Open Sans", sans-serif;
}

.judge h2 {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: -.5px;
  margin: 0 0 .5em;
}

.judge h3 {
  font-size: 12px;
  font-weight: normal;
}

.judge .photo {
  width: 130px;
  border: 5px solid #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.quote {
  clear: both;
  border-top: 1px solid #ccc;
  width: 300px;
  margin: 20px auto 0;
  padding: 20px 0 0;
  text-align: center;
}

.quote blockquote {
  margin: 0 -50px;
  font: italic 14px/1.3 "Open Sans", sans-serif;
}

.quote cite {
  white-space: nowrap;
  margin-left: 1em;
  font-style: normal;
  font-weight: bold;
}

/* @Prizes *********/
.prizes {
  overflow: auto;
  margin: 2em -10px 0;
}

.prize {
  text-align: center;
  width: 300px;
  margin: 0 10px 2em;
  float: left;
}

.prize h2 {
  font-size: 22px;
}

.prize p {
  font-family: "Open Sans", sans-serif;
  margin: 0 10px 1em;
}

.prize h2:before {
  content: "{ ";
  font-weight: normal;
  white-space: nowrap;
}

.prize h2:after {
  content: " }";
  font-weight: normal;
  white-space: nowrap;
}

.prize.grand {
  width: 460px;
  float: none;
  clear: both;
  margin: 1em auto 3em;
}

.prize.grand h2 {
  font-size: 28px;
}

/* @Rules *********/
#rules {
  background: url(/media/img/spot-1.png) -50% 50% no-repeat, url(/media/img/spot-2.png) 85% 180% no-repeat, url(/media/img/spot-3.png) 120% -120px no-repeat;
  text-align: center;
}

#rules .section-intro {
  width: 780px;
}

.rules {
  width: 460px;
  margin: 0 auto;
}

.rules h2 {
  font-size: 22px;
}

.rules p {
  font-family: "Open Sans", sans-serif;
}

/* Full-window overlays *********/
body.noscroll {
  overflow: hidden;
}

#modal {
  background: #444;
  background: rgba(0,0,0,.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  overflow: auto;
}

#modal .inner {
  width: 80%;
  margin: 60px auto;
  padding: 40px 0;
  color: #f3f3f3;
  text-shadow: 0 1px 1px rgba(0,0,0,.95);
}

#modal .inner iframe {
  max-width: 90%;
  display: block;
  margin: 0 auto;
}

#modal .close {
  display: inline;
  position: fixed;
  top: 30px;
  right: 30px;
  background: #000;
  border: 1px solid #ccc;
  color: #ccc;
  font: 1em "Open Sans", sans-serif;
  text-transform: uppercase;
  padding: .2em 10px;
  cursor: pointer;
}

#modal .close:hover,
#modal .close:focus {
  background: #666;
  color: #eee;
  border-color: #eee;
}

/* Tablet Layout: 760px */
@media only screen and (min-width: 760px) and (max-width: 1000px) {

  #intro .section-title {
    width: 80%;
    margin: 0 auto .15em;
  }

  #slideshow.js {
    width: 720px;
    height: 230px;
    background-image: url(/media/img/shadow-720.png);
  }

  #slideshow.js .slide-desc {
    min-height: 100px;
  }

  #slideshow.js .slide-desc h2 {
    font-size: 24px;
  }

  .judges {
    width: 480px;
    margin: 0 auto 2em;
  }

  .judges .judge:nth-child(3n+1) {
    clear: left;
  }

  .entry-list {
    width: 640px;
    margin: 0 auto 1em;
  }

  .entry-list .entry:nth-child(3n+1) {
    clear: none;
  }

  .entry-list .entry:nth-child(2n+1) {
    clear: left;
  }

  .prize {
    text-align: center;
    width: 300px;
    margin: 0 auto 2em;
    float: none;
  }

  #about {
    background-position: 355% 10px, -15% 250%, 5% -350px;
  }

  #judges {
    background-position: -40% 500%, 10% -100%, 165% 70%;
  }

  #rules {
    background-position: -460px -40px, 170% 280px, 75% 165%;
  }

}

/* Mobile Layout: 320px */
@media only screen and (max-width: 760px) {

  #about .section-intro,
  #about .section-detail,
  #about .section-detail .video,
  #about .actions,
  #about .actions p,
  #winners2012 .section-intro,
  #judges .section-intro,
  #rules .section-intro,
  #rules .rules {
    width: auto;
  }

  .section-intro {
    font-size: 18px;
    line-height: 1.35;
  }

  #slideshow.js {
    height: auto;
    padding: 0;
    background: none;
    box-shadow: 0 3px 2px rgba(0,0,0,.25);
  }

  #slideshow.js .slide img {
    display: block;
    margin: 0 auto;
    max-width: 940px;
  }

  #slideshow.js .slide-desc {
    left: -30px;
    top: -80px;
    width: 100%;
    padding-top: 110px;
  }

  #slideshow.js .slide-desc h2,
  #slideshow.js .slide-desc p {
    padding: 0 20px;
  }

  #about .section-detail {
    padding: 0;
  }

  #about .section-detail .video {
    margin: 0 0 1em;
    float: none;
  }

  #about .actions h3 span {
    float: none;
    display: block;
    margin: 0;
  }

  .prize {
    width: auto;
    float: none;
  }

  .entry-list {
    width: auto;
  }

  .entry-list .entry {
    float: none;
    clear: both;
    width: 220px;
    margin: 0 auto 2em;
  }

  .entry-list .entry:nth-child(3n+1) {
    clear: none;
  }

  .entry-list .entry:nth-child(2n+1) {
    clear: left;
  }

  .actions li {
    float: none;
    width: 190px;
    margin: 0 auto 1.6em;
  }

  #about {
    background-position: 190px 45%, -300px -160px, -200px 150%;
  }

  #judges {
    background-position: -260px 260%, -360px 30%, 200px -330px;
  }

  #rules {
    background-position: 150px -340px, 190px 140%, -370px 420px;
  }

}

/* Wide Mobile Layout: 480px */
@media only screen and (min-width: 480px) and (max-width: 760px) {

  .actions li {
    width: auto;
  }

  .entry-list .entry {
    float: left;
    clear: none;
    width: 210px;
    margin: 0 15px 2em;
  }

  #about {
    background-position: 420px 55%, -320px -160px, -200px 170%;
  }

  #judges {
    background-position: 300px 560%, -360px 30%, 260px -360px;
  }

  #rules {
    background-position: 290px -430px, 320px 165%, -320px 220px;
  }

}


