.wrapper {
    position: relative;
    width: 100%;
}

div.field label {
    text-align: right;
    width: 200px;
}

div.field.agreement label {
    float: left;
    text-align: left;
    width: 500px;
}

.content-wrapper .agreement {
    padding-bottom: 20px;
}

.content-wrapper p, .content-wrapper ol, .content-wrapper ul {
    clear: both;
    color: #9eaab3;
    float: left;
    font-size: 16px;
}

.home .wrapper {
    background-image: url('../img/curtains.jpg');
    background-repeat: repeat-x;
    min-height: 738px;
}

.content-wrapper, .header-wrapper, .footer-wrapper {
    margin: 0 auto;
    position: relative;
    width: 896px;
}

.home section {
    clear: both;
    display: block;
    margin: 10px 0px 25px 0px;
    padding: 30px 0px 40px;
    text-align: center;
}

.home section h3 {
    display: inline;
    font-size: 44px;
    padding: 0px 20px 0px 0px;
    text-transform: uppercase;
    width: auto;
}

.social-share {
    background-color: #3f4a52;
    background: url('../img/social-logos.png') no-repeat scroll 0pt 50% rgba(63, 74, 82, 0.4);
    box-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid #434c54;
    color: #fff;
    display: inline-block;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 0px 10px;
    padding: 4px 20px 6px 60px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: text-bottom;
    -moz-transition: border 0.3s ease-out 0s;
}

.social-share.share-facebook {
    background-position: -400px 50%;
}

body.form .form-wrapper, ul.errorlist, .content-wrapper .agreement {
    clear: both;
    display: block;
    margin: 0 auto;
    width: 600px;
}

div.gravatar-content {
    height: 100px;
}

.content-wrapper ul.errorlist {
    text-align: center;
}

div.field.error input, div.field.error select {
    border: 1px solid #f00;
}

.home .headline {
    clear: both;
    float: left;
    position: relative;
    width: 100%;
}

.content-wrapper span.title {
    display: block;
    float: left;
    font-size: 28px;
    line-height: 32px;
    margin-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    width: 600px;
}

.profile-header {
    background-image: url('../img/profile-banner.png');
    background-repeat: repeat-x;
    height: 61px;
    margin: -10px 0px 5px 0px;
}

body.form .profile-header {
    background-image: url('../img/form-profile-banner.png');
}

.home ol.videos {
    padding-top: 50px;
}

ol.videos li {
    float: left;
    list-style-type: none;
    margin: 0px 15px 35px 15px;
    overflow: hidden;
    position: relative;
    width: 252px;
}

.user-details .left-col {
    float: left;
    margin-top: 3px;
    width: 160px;
}

.user-details .right-col {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
}

.user-details .right-col .button {
    clear: both;
}

.user-details p.bio {
    margin: 20px 0px 40px 0px;
    white-space: normal;
    width: 100%;
}

.user-details h2 {
    color: #fab041;
    display: block;
    float: none;
    font-size: 46px;
    margin: 40px 0px 40px 0px;
    text-align: center;
    text-transform: uppercase;
}

ul.user-actions {
    clear: none;
    display: block;
    float: right;
    margin-left: 10px;
}

.user-metadata {
    margin: 0 auto;
    padding-top: 46px;
    width: 500px;
}

.content-wrapper ol.videos {
    float: none;
    margin: 0 auto;
    width: 850px;
}

.home .headline p.intro {
    color: #e05f26;
    font-size: 56px;
    line-height: 66px;
    margin: 0px;
    text-transform: uppercase;
}

.home .flicks-logo {
    display: block;
    margin: 0 auto;
    width: 191px;
}

.home .mozilla-presents {
    clear: both;
    height: 73px;
    margin: 10px auto;
    position: relative;
    width: 734px;
}

.home .mozilla-presents .flair {
    background-image: url('../img/flair.png');
    background-position: 0px 48px;
    background-repeat: no-repeat;
    color: #fff;
    float: left;
    font-family: Lobster;
    font-size: 34px;
    height: 65px;
    padding-top: 20px;
    text-indent: 20px;
    width: 270px;
}

.home .mozilla-presents img {
    display: block;
    float: right;
}

.home .headline .blob {
    margin: 0 auto;
    width: 536px;
}

.video-content, .video-view .video-details,
.video-view p.video-info {
    clear: both;
    margin: 0 auto;
    position: relative;
    width: 600px;
}

.video-view .video-details {
    float: none;
    margin-top: 10px;
}

.video-content {
    height: 337px;
}

.video-info {
    display: block;
    width: 252px;
}

.video-info span {
    color: #c74c09;
    display: block;
    font-size: 13px;
}

.video-info span.date {
    float: left;
}

.video-info span.views {
    float: right;
}

.info {
    margin: 0 auto;
    width: 528px;
}

#mozilla-tag {
    background-image: url('../img/mozilla-tab.png');
    background-repeat: no-repeat;
    display: block;
    font-size: 1px;
    height: 42px;
    position: absolute;
    right: 0px;
    text-indent: -9999px;
    top: -20px;
    width: 152px;
}

#header {
    background-image: url('../img/sub-curtains.png');
    background-repeat: repeat-x;
    border-top: 2px solid #fff;
    height: 56px;
    padding-top: 20px;
}

#header li {
    line-height: 35px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .content-wrapper, .header-wrapper, .footer-wrapper {
        width: 712px;
    }

    .info {
        width: 528px;
    }

    .content-wrapper span.title {
        width: 400px;
    }

    .content-wrapper ol.videos {
        width: 600px;
    }

    #header ul {
        float: left;
    }
}

@media only screen and (max-width: 767px) {
    .content-wrapper, .header-wrapper, .info, .footer-wrapper {
        width: 252px;
    }

    #header ul li {
        line-height: 15px;
        margin-top: 15px;
    }

    .content-wrapper span.title {
        width: 180px;
    }

    .content-wrapper ol.videos {
        height: 225px;
        width: 400px;
    }

    .home .flicks-logo {
        width: 161px;
    }

    .home .mozilla-presents {
        background-size: 60%;
    }

    .video-content, .video-content iframe, .video-view .video-details,
    .video-view p.video-info {
        width: 400px;
    }

    .video-content, .video-content iframe {
        height: 225px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    html, body {
        overflow-x: hidden;
    }

    .errorlist li {
        margin-left: 20px;
        text-align: left;
        width: 480px;
    }

    .home section {
        margin: -10px 0px 40px 0px;
    }

    .home section .social-share {
        display: block;
        float: right;
    }

    div.field label {
        clear: both;
        float: left;
        text-align: left;
        width: 100%;
    }

    div.field.agreement label {
        clear: none;
        width: 300px;
    }

    body.form form, body.form .form-wrapper  {
        width: 480px;
    }

    body.form .form-wrapper p {
        float: right;
        width: 500px;
    }

    .content-wrapper, .header-wrapper, .info, .footer-wrapper {
        width: 436px;
    }

    ol.videos {
        width: 700px;
    }

    #header {
        background-image: url('../img/sub-curtains-mid.png');
        height: 86px;
    }

    #header ul {
        clear: both;
        float: left;
    }

    .user-metadata {
        width: 400px;
    }

    .home .mozilla-presents {
        width: 480px;
    }

    .home .mozilla-presents .flair {
        float: none;
        margin: 0 auto;
    }

    .home .mozilla-presents img, .home .headline p.flicks-description {
        display: block;
        clear: both;
        float: none;
        margin: 0 auto;
    }

    .home .headline p.flicks-description {
        width: 300px;
    }

    .home .mozilla-presents img {
        padding-right: 30px;
        width: 400px;
    }

    .home .headline p.flicks-description {
        margin: 80px 0px 20px 0px;
        text-align: center;
        width: 450px;
    }

    .profile-header {
        background-image: url('../img/profile-banner-mobile.png');
        background-repeat: repeat-x;
        height: 91px;
    }

    body.form .profile-header {
        background-image: url('../img/form-profile-banner-mobile.png');
    }

    ul.user-actions {
        clear: both;
        float: left;
        margin-left: 0px;
    }

    ol.videos li {
        margin-left: 70px;
        width: 252px;
    }

    .user-metadata {
        width: 300px;
    }

    .home .headline .blob {
        margin: 0 auto;
        width: 436px;
    }

    .video-content, .video-content iframe, .video-view .video-details,
    .video-view p.video-info {
        width: 400px;
    }

    .video-content, .video-content iframe {
        height: 225px;
    }

    .sort_filter li {
        clear: both;
        text-align: left;
    }
}

@media only screen and (max-width: 479px) {
    html, body {
        overflow-x: hidden;
    }

    .errorlist li {
        margin-left: 20px;
        text-align: left;
        width: 252px;
    }

    .home section {
        margin: -30px 0px 60px 0px;
    }

    .home section .social-share {
        display: block;
        float: left;
        margin-top: 3px;
        text-align: none;
    }

    div.field label {
        clear: both;
        float: left;
        text-align: left;
        width: 100%;
    }

    div.field.agreement label {
        clear: none;
        width: 202px;
    }

    body.form form, body.form .form-wrapper  {
        width: 252px;
    }

    #header {
        background-image: url('../img/sub-curtains-mobile.png');
        height: 116px;
    }

    #header ul {
        clear: both;
        display: block;
        float: left;
    }

    #mozilla-tag {
        display: none;
    }

    .home .mozilla-presents {
        width: 252px;
    }

    .home .mozilla-presents img, .home .headline p.flicks-description {
        display: block;
        clear: both;
        float: none;
        margin: 0 auto;
    }

    .home .mozilla-presents img {
        width: 252px;
    }

    .home .headline p.flicks-description {
        margin: 80px 0px 20px 0px;
        text-align: center;
        width: 252px;
    }

    .profile-header {
        background-image: url('../img/profile-banner-mobile.png');
        background-repeat: repeat-x;
        height: 91px;
    }

    body.form .profile-header {
        background-image: url('../img/form-banner-mobile.png');
    }

    ul.user-actions {
        clear: both;
        float: left;
        margin-left: 0px;
    }

    .user-metadata {
        width: 252px;
    }

    .home .flicks-logo {
        width: 121px;
    }

    .home .mozilla-presents {
        background-size: 35%;
    }

    .home .headline .blob {
        margin: 0 auto;
        width: 236px;
    }

    ol.videos li {
        margin-left: 0px;
    }

    .video-content, .video-content iframe, .video-view .video-details,
    .video-view p.video-info {
        width: 252px;
    }

    .video-content, .video-content iframe {
        height: 141px;
    }

    .user-details .right-col {
        clear: both;
        float: left;
        width: 252px;
    }

    .sort_filter li {
        clear: both;
        text-align: left;
    }

    div.field label {
        clear: both;
        display: block;
        float: none;
        width: 100%;
    }

    textarea {
        width: 242px;
    }

    div.gravatar-content {
        height: 160px;
    }
}

body {
    background-image: url('../img/black-bg.jpg');
    font-family: Georgia, serif;
}

body.form {
    background-image: url('../img/grey-bg.jpg');
}

body.home {
    background-image: url('../img/home-back.jpg');
}

h1, h2, h3, #header li, .home-link, a.title, .content-wrapper span.title,
.headline p.intro, .headline p.flicks-description, .user-details .right-col p,
.home section h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: normal;
}

.home .headline .blob p {
    color: #e05f26;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 25px;
    text-align: justify;
}

.home .headline .blob p a {
    color: #fff;
}

.home p.flicks-description {
    color: #fff;
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

h2, h3, #header li, .home-link, a.title, .content-wrapper span.title {
    color: #fff;
}

a.user {
    text-decoration: none;
}

h1 {
    clear: both;
    color: #fab041;
    text-transform: uppercase;
}

body.form h1 {
    color: #fff;
}

.home #header {
    background-image: none;
}

.home .headline p {
    clear: both;
    display: block;
    float: left;
    text-align: center;
    width: 100%;
}

.content-wrapper h1 {
    text-align: center;
    margin: 46px 0px 46px 0px;
}

.user-details .right-col h1 {
    color: #fff;
    float: left;
    font-size: 46px;
    line-height: 42px;
    margin: 0px 0px 0px -4px;
}


.user-details .right-col p {
    font-size: 26px;
    margin: 7px 0px 0px 0px;
    padding: 0px;
    text-transform: uppercase;
}

h2 {
    clear: both;
    float: left;
    margin: 20px 0px 10px 0px;
}

.content-wrapper form {
    float: left;
    width: 100%;
}

.content-wrapper form div.field {
    clear: both;
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

.content-wrapper form label, .content-wrapper form span {
    color: #eee;
    display: block;
    float: left;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 26px;
    line-height: 36px;
    margin-right: 10px;
    text-transform: uppercase;
}

.content-wrapper .agreement input {
    display: block;
    float: left;
    margin-right: 10px;
}

.content-wrapper .agreement label {
    display: block;
    float: left;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: none;
}

.content-wrapper form span.required {
    color: #fff;
}

.content-wrapper form div.field input {
    margin-bottom: 5px;
    padding: 3px;
}

#footer {
    background-image: url('../img/footer-mini.jpg');
    background-repeat: repeat-x;
    clear: both;
    float: left;
    height: 95px;
    margin-top: 20px;
    width: 100%;
}

body.form #footer {
    background-image: url('../img/form-footer-mini.jpg');
}

.home #footer {
    background-image: url('../img/footer.jpg');
    height: 268px;
}

#footer label, #footer li a {
    color: #76838d;
    font-size: 13px;
}

#header li, #footer li {
    float: left;
    list-style-type: none;
    margin-right: 10px;
}

#header li a {
    color: #fff;
    display: block;
    float: left;
    font-size: 18px;
    margin-right: 8px;
    text-decoration: none;
    text-transform: uppercase;
}

#header li a:hover {
    text-decoration: underline;
}

#header a.logo {
    background-image: url('../img/title-en-US.png');
    background-repeat: no-repeat;
    display: block;
    float: left;
    font-size: 1px;
    height: 26px;
    margin-right: 20px;
    text-indent: -9999px;
    width: 160px;
}

.content-wrapper p a, .content-wrapper li a {
    color: #398bc8;
    text-decoration: none;
}

.home-link {
    clear: both;
    color: #fff;
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.gravatar {
    height: 32px;
    width: 32px;
}

div.home {
    margin: 20px 0px 20px 0px;
}

.home #browserid, button {
    background-image: linear-gradient(bottom, #267CC2 26%, #4590C9 63%, #70B8EB 100%);
    background-image: -o-linear-gradient(bottom, #267CC2 26%, #4590C9 63%, #70B8EB 100%);
    background-image: -moz-linear-gradient(bottom, #267CC2 26%, #4590C9 63%, #70B8EB 100%);
    background-image: -webkit-linear-gradient(bottom, #267CC2 26%, #4590C9 63%, #70B8EB 100%);
    background-image: -ms-linear-gradient(bottom, #267CC2 26%, #4590C9 63%, #70B8EB 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.26, #267CC2),
        color-stop(0.63, #4590C9),
        color-stop(1, #70B8EB)
    );
    border: 0px;
    border-radius: 3px;
    clear: both;
    color: #fff;
    display: block;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 250px;
}

button {
    float: left;
    line-height: 18px;
    margin-top: 20px;
}

body.form button {
    float: none;
    margin: 0 auto;
}

.content-wrapper ol {
    list-style-type: disc;
    margin-left: 30px;
}

.content-wrapper ol li {
    margin-bottom: 10px;
}

.video-details {
    clear: both;
    float: left;
    margin: 10px 0px 40px 0px;
}

.video-details a {
    clear: both;
    display: block;
    float: left;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 252px;
}

.content-wrapper .video-details a.title {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
}

.content-wrapper .video-details a {
    color: #c74c09;
    font-size: 14px;
}

.profile-header .avatar {
    display: block;
    float: left;
}

.profile-header .content-wrapper {
    padding: 15px 0px 15px 0px;
}

.profile-header .content-wrapper span.user {
    clear: none;
    display: block;
    float: left;
    font-size: 24px;
    line-height: 35px;
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 205px;
}

.content-wrapper {
    min-height: 700px;
}

.content-wrapper p {
    margin-bottom: 20px;
}

.category {
    width: 252px;
}

.category span {
    color: #fff;
    font-size: 13px;
}

.category a {
    clear: none;
    display: inline;
    float: none;
    width: auto;
}

.content-wrapper a.vote {
    background-image: url('../img/vote.png');
    background-position: -30px;
    background-repeat: no-repeat;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    height: 30px;
    line-height: 28px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 31px;
    z-index: 5;
}

.content-wrapper a.vote:hover, .content-wrapper a.vote.on {
    background-position: 0px;
    color: #111;
    width: 30px;
}

ul.user-actions li {
    float: left;
    list-style-type: none;
    margin-right: 10px;
    text-align: right;
}

ul.user-actions li a, .footer-wrapper li span {
    color: #76838d;
    font-family: Open Sans, sans-serif;
    font-size: 12px;
}

.wrapper a.button {
    background-image: linear-gradient(bottom, #C2C2C2 4%, #D1D1D1 52%, #EBEBEB 76%);
    background-image: -o-linear-gradient(bottom, #C2C2C2 4%, #D1D1D1 52%, #EBEBEB 76%);
    background-image: -moz-linear-gradient(bottom, #C2C2C2 4%, #D1D1D1 52%, #EBEBEB 76%);
    background-image: -webkit-linear-gradient(bottom, #C2C2C2 4%, #D1D1D1 52%, #EBEBEB 76%);
    background-image: -ms-linear-gradient(bottom, #C2C2C2 4%, #D1D1D1 52%, #EBEBEB 76%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.04, #C2C2C2),
        color-stop(0.52, #D1D1D1),
        color-stop(0.76, #EBEBEB)
    );
    border-radius: 3px;
    color: #666;
    display: block;
    float: left;
    font-family: Arial, sans-serif;
    font-size: 13px;
    margin-top: 10px;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
}

ul.user-actions a.button {
    margin-top: 0px;
}

.content-wrapper ul.partners {
    display: block;
    float: none;
    margin: 0 auto;
    width: 270px;
}

.partners li {
    list-style-type: none;
    margin-bottom: 40px;
    text-align: center;
    width: 270;
}

.partners li a {
    clear: both;
    display: block;
}

.footer-wrapper {
    font-family: Open Sans, sans-serif;
    padding: 20px;
    text-align: center;
}

.sort_filter {
    position: relative;
}

.sort_filter .search-wrapper {
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 200px;
}

.sort_filter input {
    float: left;
    padding: 2px;
    width: 150px;
}

.sort_filter .search {
    background-color: #267CC2;
    background-image: url('../img/search.png');
    background-position: 3px;
    background-repeat: no-repeat;
    clear: none;
    display: block;
    float: left;
    font-size: 1px;
    height: 25px;
    margin: 0px 0px 0px 10px;
    padding: 3px;
    text-indent: -9999px;
    width: 30px;
}

#share-container {
    clear: both;
    float: left;
    margin: 10px 0px 30px 0px;
    position: relative;
    width: 100%;
}

button.share, #share-container input {
    display: block;
    float: left;
    margin: 0px;
    width: auto;
}

button.share {
    font-size: 13px;
    font-weight: normal;
    height: 27px;
    margin-right: 10px;
    padding: 0px 5px 0px 5px;
}

#share-container input {
    padding: 3px;
    width: 180px;
}

.pagination {
    clear: both;
    float: left;
    font-family: Open Sans, sans-serif;
    text-align: center;
    width: 100%;
}

.pagination span, .pagination a {
    display: inline;
    padding: 0px 5px 0px 5px;
}

.pagination span {
    color: #c74c09;
}

.pagination a {
    color: #fff;
    text-decoration: none;
}

.sort_filter {
    clear: both;
    display: block;
    margin: 20px 0px 60px 0px;
    text-align: center;
    width: 100%;
}

.sort_filter h3 {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.sort_filter li {
    float: left;
    list-style-type: none;
    width: 33%;
}

div.gravatar {
    width: 125px;
}

div.gravatar, div.gravatar-link {
    display: block;
    float: left;
}

div.field img {
    margin-right: 10px;
}

.gravatar-link {
    padding-top: 32px;
    width: 200px;
}

.gravatar-link a {
    color: #398bc8;
    text-decoration: none;
}

.gravatar-link a, .gravatar-link span#gravatar-tip {
    clear: both;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 15px;
    text-transform: none;
}

img.judge {
    float: left;
    height: 139px;
    margin: 5px 15px 10px 0px;
    width: 139px;
}
