@font-face {
    font-family: 'Lobster';
    src: url('../fonts/Lobster_1.3-webfont.eot');
    src: url('../fonts/Lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lobster_1.3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../fonts/OpenSans-CondLight-webfont.eot');
    src: url('../fonts/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-CondLight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.wrapper {
    position: relative;
    width: 100%;
}

div.field label {
    text-align: right;
    width: 200px;
}

div.field.agreement label {
    float: left;
    font-size: 15px;
    text-align: left;
    width: 500px;
}

div.field.agreement label a {
    color: #fff;
}

.content-wrapper .agreement {
    padding-bottom: 20px;
}

.content-wrapper div.youth-contest {
    margin-left: 230px;
}

.content-wrapper div.youth-contest label {
    width: 300px;
}

.content-wrapper p, .content-wrapper ol, .content-wrapper ul {
    clear: both;
    color: #9eaab3;
    float: left;
    font-size: 16px;
}

.content-wrapper, .header-wrapper, .footer-wrapper {
    margin: 0 auto;
    position: relative;
    width: 896px;
}

.header-wrapper ul {
    margin-top: 5px;
    float: left;
}

.winners .header-wrapper ul {
    margin-right: 160px;
}

.social-share {
    background-color: #3f4a52;
    background: url('../img/social-logos.png') no-repeat scroll 0pt 50% rgba(63, 74, 82, 0.4);
    box-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid #434c54;
    color: #fff;
    display: inline-block;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 300;
    height: 24px;
    line-height: 24px;
    margin: 0px 10px;
    padding: 4px 20px 6px 60px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    -moz-transition: border 0.3s ease-out 0s;
    width: 50px;
}

.social-share.share-facebook {
    background-position: -269px 50%;
}

.social-share.share-tumblr {
    background-position: -130px 50%;
}

.social-share.share-flickr {
    background-position: -425px 50%;
}

.share-links .share-widget {
    float: left;
    margin-left: 10px;
    position: relative;
}

.share-widget.facebook {
    width: 120px;
}

body.form .form-wrapper, ul.errorlist, .content-wrapper .agreement {
    clear: both;
    display: block;
    margin: 0 auto;
}

div.gravatar-content {
    height: 100px;
}

.content-wrapper ul.errorlist {
    color: #FF8383;
    list-style-type: none;
    margin-left: 230px;
}

div.field.error input, div.field.error select {
    border: 1px solid #f00;
}

.content-wrapper span.title {
    display: block;
    float: left;
    font-size: 28px;
    line-height: 32px;
    margin-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    width: 400px;
}

.profile-header {
    background-image: url('../img/profile-banner.png');
    background-repeat: repeat-x;
    height: 61px;
    margin: -10px 0px 5px 0px;
}

body.form .profile-header {
    background-image: url('../img/form-profile-banner.png');
}

ol.videos li {
    float: left;
    list-style-type: none;
    margin: 0px 15px 35px 15px;
    overflow: hidden;
    position: relative;
    width: 252px;
}

.videos li:nth-child(3n+1) {
    clear: left;
}

.user-details .left-col {
    float: left;
    margin-top: 3px;
    width: 160px;
}

.user-details .right-col {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
}

.user-details .right-col .button {
    clear: both;
}

.user-details p.bio {
    margin: 20px 0px 40px 0px;
    white-space: normal;
    width: 100%;
}

.user-details h2 {
    color: #fab041;
    display: block;
    float: none;
    font-size: 46px;
    margin: 40px 0px 40px 0px;
    text-align: center;
    text-transform: uppercase;
}

ul.user-actions {
    clear: none;
    display: block;
    float: right;
    margin-left: 10px;
    margin-top: 3px;
}

.download-firefox {
    background-image: linear-gradient(bottom, rgb(117,145,41) 3%, rgb(129,162,45) 52%, rgb(140,173,48) 76%);
    background-image: -o-linear-gradient(bottom, rgb(117,145,41) 3%, rgb(129,162,45) 52%, rgb(140,173,48) 76%);
    background-image: -moz-linear-gradient(bottom, rgb(117,145,41) 3%, rgb(129,162,45) 52%, rgb(140,173,48) 76%);
    background-image: -webkit-linear-gradient(bottom, rgb(117,145,41) 3%, rgb(129,162,45) 52%, rgb(140,173,48) 76%);
    background-image: -ms-linear-gradient(bottom, rgb(117,145,41) 3%, rgb(129,162,45) 52%, rgb(140,173,48) 76%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.03, rgb(117,145,41)),
        color-stop(0.52, rgb(129,162,45)),
        color-stop(0.76, rgb(140,173,48))
    );
    border-radius: 3px;
    color: #fff;
    display: block;
    float: right;
    font-family: Georgia, serif;
    font-size: 14px;
    margin-left: 15px;
    padding: 4px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.download-firefox span {
    background: url('../img/firefox-small.png') no-repeat;
    padding: 18px 14px 16px 54px;
    margin-left: -15px;
}

.user-metadata {
    margin: 0 auto;
    padding-top: 46px;
    width: 500px;
}

.content-wrapper ol.videos {
    float: none;
    margin: 0 auto;
    width: 850px;
}

.video-content, .video-view .video-details,
.video-view p.video-info {
    clear: both;
    margin: 0 auto;
    position: relative;
    width: 600px;
}

.video-view .video-details {
    float: none;
    margin-top: 10px;
}

.video-content {
    height: 337px;
}

.video-info {
    display: block;
    width: 252px;
}

.video-info span {
    color: #c74c09;
    display: block;
    font-size: 13px;
}

.video-info span.date {
    float: left;
}

.video-info span.views {
    float: right;
}

.info {
    margin: 0 auto;
    width: 528px;
}

#mozilla-tag {
    background-image: url('../img/mozilla-tab.png');
    background-repeat: no-repeat;
    display: block;
    font-size: 1px;
    height: 42px;
    position: absolute;
    right: 0px;
    text-indent: -9999px;
    top: -20px;
    width: 152px;
}

#header {
    background-image: url('../img/sub-curtains-mid.png');
    background-repeat: repeat-x;
    border-top: 2px solid #fff;
    height: 56px;
    padding-top: 20px;
}

html[lang="es"] #header,
html[lang="ja"] #header,
html[lang="pt-BR"] #header,
html[lang="tr"] #header {
    background-image: url('../img/sub-curtains-mid.png');
    height: 86px;
}

.winners #header {
  background-image: none;
}

#header li {
    line-height: 35px;
}

.recent #footer,
.winners #footer {
    background-image: url('../img/footer.png');
    height: 268px;
}

#social {
    clear: both;
    display: block;
    height: 110px;
    line-height: 110px;
    margin-bottom: 30px;
    text-align: center;
    white-space: nowrap;
}

#social h3 {
    display: inline-block;
    font-size: 44px;
    padding: 0px 20px 0px 0px;
    text-transform: uppercase;
    vertical-align: middle;
    width: 200px;
    white-space: normal;
}

/* @Winners ***/
body.winners {
    background-color: #400;
    background-image: url('../img/home-back.jpg');
    background-repeat: repeat;
}

body.winners > .wrapper {
    background-image: url('../img/curtains.jpg');
    background-repeat: repeat-x;
}

body.winners #header {
    background-image: none;
}

.winners #header .logo {
    background-image: url('../img/home-title-en-US.png');
    width: 263px;
    height: 57px;
    margin: 8px 20px 0 -15px;
}

.winners-head {
    background: transparent url('../img/winners-header.png') center top no-repeat;
    min-height: 350px;
    margin: 70px auto 0;
}

.winners .winners-head p {
    float: none;
}

.winners .winners-head h1 {
    text-align: center;
    float: none;
    color: #fbae53;
    font-size: 72px;
    height: 130px;
    line-height: 1;
    padding: 30px 120px 0 360px;
}

.winners .winners-head h1 span {
    display: block;
    color: #fbae53;
}

.winner-mark {
    position: absolute;
    right: 10px;
    top: 10px;
}

.winner-details {
    color: #fbae53;
    clear: both;
    font-size: 14px;
}

#nav-sections.fixed {
    position: fixed;
    top: 0;
    width: 896px;
    margin: 0;
}

#nav-sections {
    position: relative;
    z-index: 99;
    margin: 0 auto 48px;
    padding: 0;
    display: block;
}

#nav-sections ul {
    background-color: #fff;
    text-align: center;
    margin: 0 -48px;
    padding: 0 20px;
    font: 16px/1.2 'Open Sans Light', sans-serif;
    -ms-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -o-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    float: none;
    list-style: none;
}

#nav-sections li {
    display: inline-block;
    padding: 12px 0;
}

#nav-sections a:link {
    display: inline-block;
    padding: 6px 15px;
    border-left: 1px dotted #ccc;
}

#nav-sections li:first-child a {
    border-left: 0;
}

#nav-sections a:link,
#nav-sections a:visited {
    color: #af3232;
}

#nav-sections a:hover,
#nav-sections a:focus,
#nav-sections a:active {
    color: #484848;
}

.winners .section {
    line-height: 1.4;
    padding: 0 48px 48px;
    margin: 0 -48px 48px;
    border-bottom: 1px dotted #906168;
}

.section:after,
.category:after,
.runnerups:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.winners .section ul,
.winners .section p {
    float: none;
}

.winners .grandprize img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 0 .25em;
    border: 1px solid rgba(0,0,0,.15);
}

.winners .section h1 {
    text-align: left;
    margin: 0 0 .5em;
}

.section h1,
.section h2,
.section h3 {
    float: none;
    line-height: 1.2;
    margin: 0;
    text-transform: uppercase;
}

.section ul {
    list-style: none;
    margin: 0;
}

.grandprize {
    float: left;
    width: 69%;
    margin: 0 0 24px;
}

.grandprize .credit {
    font-size: 1.125em;
}

.section .category {
    width: 28%;
    float: right;
    margin: 0 0 24px;
}

.category h2 {
    color: #fbae53;
    font-size: 34px;
    margin-bottom: .25em;
}

.category h3 {
    color: #e25b31;
    margin-bottom: 0;
}

.section .title {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

.section .title a:link,
.section .title a:visited {
    color: #fff;
    text-decoration: none;
}

.section .title a:hover,
.section .title a:focus,
.section .title a:active {
    text-decoration: underline;
}

.category .title,
.runnerups .title {
    font-size: 18px;
}

.winners .credit {
    color: #c9481c;
    margin: 0 0 .5em;
}

.category .credit,
.runnerups .credit {
    font-size: .857em;
}

.runnerups {
    clear: both;
    background: rgba(0,0,0,.1);
    border-radius: 9px;
    box-shadow: inset 0 0 3px rgba(0,0,0,.25);
    padding: 12px 24px;
    margin: 24px -24px;
    overflow: hidden;
}

.runnerups h2 {
    font-size: 28px;
    color: #fbae53;
    margin: 0 0 .5em;
}

.runnerups h3 {
    font-size: 24px;
    color: #c9481c;
}

.runnerups ul {
    list-style: none;
    width: 100%;
    margin: 0 -24px 0 0;
}

.runnerups li {
    width: 22%;
    margin: 0 3% 0 0;
    float: left;
}

/* @Tablet Layout: 768px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    html[lang="fr"] #header,
    html[lang="pl"] #header,
    html[lang="de"] #header,
    html[lang="en-US"] #header {
        background-image: url('../img/sub-curtains-mid.png');
        height: 86px;
    }

    html[lang="es"] .header-wrapper ul,
    html[lang="fr"] .header-wrapper ul,
    html[lang="ja"] .header-wrapper ul,
    html[lang="pl"] .header-wrapper ul,
    html[lang="pt-BR"] .header-wrapper ul,
    html[lang="tr"] .header-wrapper ul,
    html[lang="de"] .header-wrapper ul,
    html[lang="en-US"] .header-wrapper ul {
        width: 400px;
    }

    .content-wrapper, .header-wrapper, .footer-wrapper {
        width: 712px;
    }

    .info {
        width: 528px;
    }

    .content-wrapper span.title {
        overflow: hidden;
        white-space: nowrap;
        width: 230px;
    }

    .social-share {
        background-position: -10px 50%;
        margin-right: 0px;
        padding: 6px 12px 6px 45px;
    }

    .social-share.share-facebook {
        background-position: -279px 50%;
    }

    .social-share.share-tumblr {
        background-position: -140px 50%;
    }

    .social-share.share-flickr {
        background-position: -435px 50%;
    }

    .video-content, .video-content iframe, .video-view .video-details,
    .video-view p.video-info {
        width: 400px;
    }

    body.winners #header {
        background-image: none;
    }

    .winners .winners-head h1 {
        padding: 30px 0 0 270px;
    }

    #nav-sections.fixed {
        width: 712px;
    }

    #nav-sections ul {
        font-size: 14px;
    }

    #nav-sections li {
        padding: 6px 0;
    }

    #nav-sections a:link {
        padding: 6px 12px;
    }

}

/* @Mobile Layout: 320px */
@media only screen and (max-width: 767px) {
    html[lang="es"] #header,
    html[lang="fr"] #header,
    html[lang="ja"] #header,
    html[lang="pl"] #header,
    html[lang="pt-BR"] #header,
    html[lang="tr"] #header {
        background-image: url('../img/sub-curtains-mobile.png');
    }

    .content-wrapper, .header-wrapper, .info, .footer-wrapper {
        width: 252px;
    }

    #header ul {
        margin: 0;
        clear: both;
    }

    #header ul li {
        line-height: 15px;
        margin-top: 15px;
    }

    .content-wrapper span.title {
        width: 180px;
    }

    .content-wrapper ol.videos {
        height: 225px;
        width: 400px;
    }

    .winners .winners-head {
        background: url('../img/winner-trophy-lg.png') left top no-repeat;
    }

    .winners .winners-head h1 {
        font-size: 48px;
        padding: 30px 0 0 180px;
    }

    .winners .winners-head .headline {
        padding-top: 20px;
    }

    #nav-sections,
    #nav-sections.fixed {
        width: 348px;
        margin-left: -48px;
    }

    #nav-sections ul {
        float: none;
        list-style: none;
        margin: 0;
    }

    #nav-sections li {
        display: block;
        padding: 8px 0;
        border-left: 0;
        border-top: 1px dotted #ccc;
    }

    #nav-sections li:first-child {
        border-top: 0;
    }

    #nav-sections a:link,
    #nav-sections a:visited {
        border: 0;
        padding: 0;
    }

    .grandprize {
        float: none;
        width: 100%;
    }

    .section .category {
        float: none;
        clear: both;
        width: 100%;
    }

    .category ul {
        list-style: none;
        width: 100%;
        margin: 0 -24px 24px 0;
    }

    .runnerups li {
        float: none;
        width: auto;
    }

    .category h3,
    .runnerups h3 {
        font-size: 20px;
    }
}

/* @Wide @Mobile Layout: 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    html, body {
        overflow-x: hidden;
    }

    .content-wrapper ul.errorlist {
        margin-left: 0px;
    }

    .content-wrapper div.youth-contest {
        margin-left: 0px;
    }

    .content-wrapper div.youth-contest label {
        width: 200px;
    }

    .errorlist li {
        margin-left: 20px;
        text-align: left;
        width: 480px;
    }

    #social {
        margin: -10px 0px 40px 0px;
    }

    #social {
        text-align: left;
    }

    .social-share {
        white-space: nowrap;
    }

    #social h3 {
        padding: 0px;
    }

    .video-content, .video-content iframe {
        height: 225px;
    }

    div.field label {
        clear: both;
        float: left;
        text-align: left;
        width: 100%;
    }

    div.field.agreement label {
        clear: none;
        width: 300px;
    }

    body.form form, body.form .form-wrapper  {
        width: 480px;
    }

    body.form .form-wrapper p {
        float: right;
        width: 500px;
    }

    .content-wrapper, .header-wrapper, .info, .footer-wrapper {
        width: 436px;
    }

    ol.videos {
        width: 700px;
    }

    #header {
        background-image: url('../img/sub-curtains-mobile.png');
        height: 116px;
    }

    .winners #header {
        background-image: none;
    }

    #header ul {
        clear: both;
        float: left;
    }

    .user-metadata {
        width: 400px;
    }

    .profile-header {
        background-image: url('../img/profile-banner-mobile.png');
        background-repeat: repeat-x;
        height: 91px;
    }

    body.form .profile-header {
        background-image: url('../img/form-profile-banner-mobile.png');
    }

    ul.user-actions {
        clear: both;
        float: left;
        margin-left: 0px;
    }

    .download-firefox {
        display: none;
    }

    ol.videos li {
        margin-left: 70px;
        width: 252px;
    }

    .user-metadata {
        width: 300px;
    }

    .video-content, .video-content iframe, .video-view .video-details,
    .video-view p.video-info {
        width: 400px;
    }

    .video-content, .video-content iframe {
        height: 225px;
    }

    .social-share {
        background-position: -10px;
        font-size: 1px;
        margin-right: 0px;
        margin-top: 0px;
        padding: 6px 5px 6px 40px;
        text-indent: -9999px;
        width: auto;
    }

    .social-share.share-facebook {
        background-position: -279px 50%;
    }

    .social-share.share-tumblr {
        background-position: -140px 50%;
    }

    .social-share.share-flickr {
        background-position: -435px 50%;
    }

    .sort_filter li {
        clear: both;
        text-align: left;
    }

    #nav-sections {
        width: 532px;
    }

    #nav-sections.fixed {
        width: 532px;
        margin-left: -48px;
    }

    .category ul {
        list-style: none;
        width: 100%;
        margin: 0 -24px 24px 0;
    }

    .category li {
        width: 22%;
        margin: 0 3% 0 0;
        float: left;
    }

}

@media only screen and (max-width: 479px) {
    html, body {
        overflow-x: hidden;
    }

    html[lang="es"] #header,
    html[lang="fr"] #header,
    html[lang="ja"] #header,
    html[lang="pl"] #header,
    html[lang="pt-BR"] #header,
    html[lang="tr"] #header {
        background-image: url('../img/sub-curtains-mobile-long.png');
        height: 136px;
    }

    .content-wrapper ul.errorlist {
        margin-left: 0px;
    }

    .content-wrapper div.youth-contest {
        margin-left: 0px;
    }

    .content-wrapper div.youth-contest label {
        width: 200px;
    }

    .errorlist li {
        margin-left: 20px;
        text-align: left;
        width: 252px;
    }

    .social-share {
        display: block;
        float: left;
        margin-top: 3px;
        text-align: none;
    }

    div.field label {
        clear: both;
        float: left;
        text-align: left;
        width: 100%;
    }

    div.field.agreement label {
        clear: none;
        width: 202px;
    }

    body.form form, body.form .form-wrapper  {
        width: 252px;
    }

    #header {
        background-image: url('../img/sub-curtains-mobile.png');
        height: 116px;
    }

    .winners #header {
        background-image: none;
    }

    #header ul {
        clear: both;
        display: block;
        float: left;
    }

    #mozilla-tag {
        display: none;
    }

    .profile-header {
        background-image: url('../img/profile-banner-mobile.png');
        background-repeat: repeat-x;
        height: 91px;
    }

    body.form .profile-header {
        background-image: url('../img/form-banner-mobile.png');
    }

    ul.user-actions {
        clear: both;
        float: left;
        margin-left: 0px;
    }

    .user-metadata {
        width: 252px;
    }

    ol.videos li {
        margin-left: 0px;
    }

    .video-content, .video-content iframe, .video-view .video-details,
    .video-view p.video-info {
        width: 252px;
    }

    .video-content, .video-content iframe {
        height: 141px;
    }

    .user-details .right-col {
        clear: both;
        float: left;
        width: 252px;
    }

    .sort_filter li {
        clear: both;
        text-align: left;
    }

    div.field label {
        clear: both;
        display: block;
        float: none;
        width: 100%;
    }

    textarea {
        width: 242px;
    }

    div.gravatar-content {
        height: 160px;
    }

    .social-share {
        background-position: -10px;
        font-size: 1px;
        margin-right: 0px;
        margin-top: 20px;
        padding: 6px 5px 6px 40px;
        text-indent: -9999px;
        width: auto;
    }

    .social-share.share-facebook {
        background-position: -279px 50%;
    }

    .social-share.share-tumblr {
        background-position: -140px 50%;
    }

    .social-share.share-flickr {
        background-position: -435px 50%;
    }

    .header-wrapper ul {
        width: 255px;
    }

    #social {
        clear: both;
        display: block;
        height: 24px;
        line-height: 24px;
        margin: 10px 0px 25px;
        padding: 0px 0px 80px;
        text-align: center;
        whitespace: normal;
    }

    .download-firefox {
        display: none;
    }

    .winners .winners-head {
        background: transparent none;
        min-height: 0;
    }

    .winners .winners-head h1 {
        font-size: 48px;
        padding: 0;
        text-align: center;
    }
}

body {
    background-image: url('../img/black-bg.jpg');
    font-family: Georgia, serif;
}

body.form {
    background-image: url('../img/grey-bg.jpg');
}

body.secondary.recent.closed {
    background-color: #000;
    background-image: url('../img/curtains-contest-closed.png');
    background-repeat: repeat-x;
}

h1, h2, h3, #header li, .home-link, a.title, .content-wrapper span.title,
.headline p.intro, .headline p.flicks-description, .user-details .right-col p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: normal;
}

.recent p.flicks-description {
    color: #fff;
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

h2, h3, #header li, .home-link, a.title, .content-wrapper span.title {
    color: #fff;
}

.headline .intro-description {
    color: #e05f26;
}

a.user {
    text-decoration: none;
}

h1 {
    clear: both;
    color: #fab041;
    text-transform: uppercase;
}

body.form h1 {
    color: #fff;
}

.content-wrapper h1 {
    text-align: center;
    margin: 46px 0px 46px 0px;
}

.youth_judges_header {
    padding-top: 46px;
}

.user-details .right-col h1 {
    color: #fff;
    float: left;
    font-size: 46px;
    line-height: 42px;
    margin: 0px;
}


.user-details .right-col p {
    font-size: 26px;
    margin: 7px 0px 0px 0px;
    padding: 0px;
    text-transform: uppercase;
}

h2 {
    clear: both;
    float: left;
    margin: 20px 0px 10px 0px;
}

.content-wrapper form {
    float: left;
    width: 100%;
}

.content-wrapper form div.field {
    clear: both;
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

.content-wrapper form label, .content-wrapper form span {
    color: #eee;
    display: block;
    float: left;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 26px;
    line-height: 36px;
    margin-right: 10px;
    text-transform: uppercase;
}

.content-wrapper .agreement input {
    display: block;
    float: left;
    margin-right: 10px;
}

.content-wrapper .agreement label {
    display: block;
    float: left;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: none;
}

.content-wrapper form span.required {
    color: #fff;
}

.content-wrapper form div.field input {
    margin-bottom: 5px;
    padding: 3px;
}

#footer {
    background-image: url('../img/footer-mini.jpg');
    background-repeat: repeat-x;
    clear: both;
    float: left;
    height: 95px;
    margin-top: 20px;
    width: 100%;
}

body.form #footer {
    background-image: url('../img/form-footer-mini.jpg');
}

#footer label, #footer li a {
    color: #76838d;
    font-size: 13px;
}

#header li, #footer li {
    float: left;
    list-style-type: none;
    margin-right: 10px;
}

#header li a {
    color: #fff;
    display: block;
    float: left;
    font-size: 18px;
    line-height: 24px;
    margin-right: 8px;
    text-decoration: none;
    text-transform: uppercase;
}

#header li a:hover {
    text-decoration: underline;
}

#header a.logo {
    background-image: url('../img/title-en-US.png');
    background-repeat: no-repeat;
    display: block;
    float: left;
    font-size: 1px;
    height: 26px;
    margin-right: 20px;
    text-indent: -9999px;
    width: 160px;
}

.content-wrapper p a, .content-wrapper li a, .content-wrapper h2 a {
    color: #398bc8;
    text-decoration: none;
}

.home-link {
    clear: both;
    color: #fff;
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.gravatar {
    height: 32px;
    width: 32px;
}

button {
    background-image: linear-gradient(bottom, #267CC2 26%, #4590C9 63%, #70B8EB 100%);
    background-image: -o-linear-gradient(bottom, #267CC2 26%, #4590C9 63%, #70B8EB 100%);
    background-image: -moz-linear-gradient(bottom, #267CC2 26%, #4590C9 63%, #70B8EB 100%);
    background-image: -webkit-linear-gradient(bottom, #267CC2 26%, #4590C9 63%, #70B8EB 100%);
    background-image: -ms-linear-gradient(bottom, #267CC2 26%, #4590C9 63%, #70B8EB 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.26, #267CC2),
        color-stop(0.63, #4590C9),
        color-stop(1, #70B8EB)
    );
    border: 0px;
    border-radius: 3px;
    clear: both;
    color: #fff;
    display: block;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 250px;
}

button {
    cursor: pointer;
    float: left;
    line-height: 18px;
    margin-top: 20px;
}

body.form button {
    cursor: pointer;
    float: none;
    margin: 0 auto;
}

.content-wrapper ol {
    list-style-type: disc;
    margin-left: 30px;
}

.content-wrapper ol.numbered {
    list-style-type: decimal;
}

.content-wrapper ol li {
    margin-bottom: 10px;
}

.video-details {
    clear: both;
    float: left;
    margin: 10px 0px 40px 0px;
}

.video-details a {
    clear: both;
    display: block;
    float: left;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 252px;
}

.content-wrapper .video-details a.title {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
}

.content-wrapper .video-details a {
    color: #c74c09;
    font-size: 14px;
}

.profile-header .avatar {
    display: block;
    float: left;
}

.profile-header .content-wrapper {
    padding: 15px 0px 15px 0px;
}

.profile-header .content-wrapper span.user {
    clear: none;
    display: block;
    float: left;
    font-size: 24px;
    line-height: 35px;
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 205px;
}

.content-wrapper {
    min-height: 600px;
}

.content-wrapper p {
    margin-bottom: 20px;
}

.region-info {
    width: 252px;
}

.region-info span {
    color: #fff;
    font-size: 13px;
}

.region-info .category,
.region-info .region {
    color: #C74C09;
}

.category a {
    clear: none;
    display: inline;
    float: none;
    width: auto;
}

.content-wrapper a.vote {
    background-image: url('../img/vote.png');
    background-position: 0px;
    background-repeat: no-repeat;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    height: 42px;
    line-height: 43px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 42px;
    z-index: 5;
}

.content-wrapper a.vote:hover, .content-wrapper a.vote.on {
    background-position: -42px;
    width: 42px;
}

ul.user-actions li {
    float: left;
    list-style-type: none;
    margin-right: 10px;
    text-align: right;
}

ul.user-actions li a, .footer-wrapper li span {
    color: #76838d;
    font-family: Open Sans, sans-serif;
    font-size: 12px;
}

.wrapper a.button {
    background-image: linear-gradient(bottom, #C2C2C2 4%, #D1D1D1 52%, #EBEBEB 76%);
    background-image: -o-linear-gradient(bottom, #C2C2C2 4%, #D1D1D1 52%, #EBEBEB 76%);
    background-image: -moz-linear-gradient(bottom, #C2C2C2 4%, #D1D1D1 52%, #EBEBEB 76%);
    background-image: -webkit-linear-gradient(bottom, #C2C2C2 4%, #D1D1D1 52%, #EBEBEB 76%);
    background-image: -ms-linear-gradient(bottom, #C2C2C2 4%, #D1D1D1 52%, #EBEBEB 76%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.04, #C2C2C2),
        color-stop(0.52, #D1D1D1),
        color-stop(0.76, #EBEBEB)
    );
    border-radius: 3px;
    color: #666;
    display: block;
    float: left;
    font-family: Arial, sans-serif;
    font-size: 13px;
    margin-top: 10px;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
}

ul.user-actions a.button {
    margin-top: 0px;
}

.content-wrapper ul.partners {
    display: block;
    float: none;
    margin: 0 auto;
    width: 270px;
}

.partners li {
    list-style-type: none;
    margin-bottom: 40px;
    text-align: center;
    width: 270;
}

.partners li a {
    clear: both;
    display: block;
}

.partners li img {
    border: 5px solid #76838d;
}

.footer-wrapper {
    font-family: Open Sans, sans-serif;
    padding: 20px;
    text-align: center;
}

.sort_filter {
    position: relative;
}

.sort_filter .search-wrapper {
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 200px;
}

.sort_filter input {
    float: left;
    padding: 2px;
    width: 150px;
}

.sort_filter .search {
    background-color: #267CC2;
    background-image: url('../img/search.png');
    background-position: 3px;
    background-repeat: no-repeat;
    clear: none;
    display: block;
    float: left;
    font-size: 1px;
    height: 25px;
    margin: 0px 0px 0px 10px;
    padding: 3px;
    text-indent: -9999px;
    width: 30px;
}

#share-container {
    clear: both;
    float: left;
    margin: 10px 0px 30px 0px;
    position: relative;
    width: 100%;
}

button.share, #share-container input {
    display: block;
    float: left;
    margin: 0px;
    width: auto;
}

button.share {
    font-size: 13px;
    font-weight: normal;
    height: 27px;
    margin-right: 10px;
    padding: 0px 5px 0px 5px;
}

#share-container input {
    padding: 3px;
    width: 180px;
}

.pagination {
    clear: both;
    float: left;
    font-family: Open Sans, sans-serif;
    text-align: center;
    width: 100%;
}

.pagination span, .pagination a {
    display: inline;
    padding: 0px 5px 0px 5px;
}

.pagination span {
    color: #c74c09;
}

.pagination a {
    color: #fff;
    text-decoration: none;
}

.sort_filter {
    clear: both;
    display: block;
    margin: 20px 0px 60px 0px;
    text-align: center;
    width: 100%;
}

.sort_filter h3 {
    font-family: Arial, sans-serif;
    font-size: 14px;
}


.sort_filter li {
    float: left;
    list-style-type: none;
    width: 33%;
}

div.gravatar {
    width: 125px;
}

div.gravatar, div.gravatar-link {
    display: block;
    float: left;
}

div.field img {
    margin-right: 10px;
}

.gravatar-link {
    padding-top: 32px;
    width: 200px;
}

.gravatar-link a {
    color: #398bc8;
    text-decoration: none;
}

.gravatar-link a, .gravatar-link span#gravatar-tip {
    clear: both;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 15px;
    text-transform: none;
}

img.judge {
    float: left;
    height: 139px;
    margin: 5px 15px 10px 0px;
    width: 139px;
}

#signup-public-message {
    font-size: 14px;
    margin-top: 20px;
}

.search-message {
    text-align: center;
    width: 100%;
}

a.website {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
}

html[lang="ja"] body {
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans",
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "Verdana",
    "ＭＳ Ｐゴシック", "MS PGothic", "VL Pゴシック", "Takao Pゴシック",
    "IPA Pゴシック", sans-serif;
}

p.form-errors {
    color: #ff8383;
}

.button-wrapper {
    clear: both;
    float: left;
    padding-top: 30px;
    width: 100%;
}
