@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../fonts/OpenSans-CondLight-webfont.eot');
    src: url('../fonts/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-CondLight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('../fonts/Vollkorn-Regular-webfont.eot');
    src: url('../fonts/Vollkorn-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vollkorn-Regular-webfont.woff') format('woff'),
         url('../fonts/Vollkorn-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('../fonts/Vollkorn-Bold-webfont.eot');
    src: url('../fonts/Vollkorn-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vollkorn-Bold-webfont.woff') format('woff'),
         url('../fonts/Vollkorn-Bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('../fonts/Vollkorn-Italic-webfont.eot');
    src: url('../fonts/Vollkorn-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vollkorn-Italic-webfont.woff') format('woff'),
         url('../fonts/Vollkorn-Italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('../fonts/Vollkorn-BoldItalic-webfont.eot');
    src: url('../fonts/Vollkorn-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vollkorn-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/Vollkorn-BoldItalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* @Reset defaults *********/
header, hgroup, nav, section, article, aside, footer { display: block; }
html, body, form, fieldset, legend, h1, h2, h3, h4, h5, h6, dd { margin: 0; padding: 0; }
p, pre, blockquote, ul, ol, dl, table, figure { margin: 0 0 1.4em; padding: 0; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset { border: 0; }
legend { color: inherit; } /* For IE */
form ul, form ol { list-style: none; }
a img { border: 0; }
input, select, textarea { font-family: inherit; font-size: 100%; }
.dtstart, .dtend, .published, .updated { border: 0; }
img, video, object, embed { max-width: 100%; height: auto; }

/* @General styles *********/
html, body {
    height: 100%;
}

body {
    background: #f5f5f5 url(/media/img/bg-grain.png) fixed;
    font: 16px/1.428 Vollkorn, Georgia, sans-serif;
    color: #212a2f;
}

#page {
    position: relative;
}

/*** @Headings *********/
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.1;
    margin: 0 0 .25em;
    text-shadow: 0 1px rgba(255,255,255,.9);
}

h1,
.page-title,
.section-title {
    font-size: 48px;
    margin-bottom: .15em;
    letter-spacing: -1px;
    text-shadow: 0 1px rgba(255,255,255,.9);
}

.page-title,
.section-title {
    text-align: center;
}

h2 {
    font-size: 34px;
    letter-spacing: -.25px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5, h6 {
    font-size: 1em;
}

/*** @Links *********/
a:link {
    color: #1677b9;
    text-decoration: none;
}

a:visited {
    color: #4e687a;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: #1287d7;
    text-decoration: underline;
}

a.go:after {
    content: " »";
    white-space: nowrap;
}

/*** @Buttons *********/
.button,
.button:link,
.button:visited {
  display: inline-block;
  border-radius: 0.25em;
  -moz-box-shadow: 0 2px 0 0 rgba(0,0,0,.1), inset 0 -2px 0 0 rgba(0,0,0,.2);
  -webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,.1), inset 0 -2px 0 0 rgba(0,0,0,.2);
  box-shadow: 0 2px 0 0 rgba(0,0,0,.1), inset 0 -2px 0 0 rgba(0,0,0,.2);
  background-color: #276195;
  background-image: -moz-linear-gradient(#3c88cc, #276195);
  background-image: -ms-linear-gradient(#3c88cc, #276195);
  background-image: -webkit-linear-gradient(#3c88cc, #276195);
  background-image: -o-linear-gradient(#3c88cc, #276195);
  background-image: linear-gradient(#3c88cc, #276195);
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 12px 20px;
  text-decoration: none;
  min-width: 100px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.25);
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: all linear .25s;
  -moz-transition: all linear .25s;
  -o-transition: all linear .25s;
  -ms-transition: all linear .25s;
  transition: all linear .25s;
}
.button:hover,
.button:focus,
.button:active {
  -moz-box-shadow: 0 2px 0 0 rgba(0,0,0,.1), inset 0 -2px 0 0 rgba(0,0,0,.2), inset 0 12px 24px 2px #3089d8;
  -webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,.1), inset 0 -2px 0 0 rgba(0,0,0,.2), inset 0 12px 24px 2px #3089d8;
  box-shadow: 0 2px 0 0 rgba(0,0,0,.1), inset 0 -2px 0 0 rgba(0,0,0,.2), inset 0 12px 24px 2px #3089d8;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all linear .25s;
  -moz-transition: all linear .25s;
  -o-transition: all linear .25s;
  -ms-transition: all linear .25s;
  transition: all linear .25s;
}
.button:focus {
  outline-color: #484848;
}
.button:active {
  -moz-box-shadow: inset 0 2px 0 0 rgba(0,0,0,.2), inset 0 12px 24px 6px rgba(0,0,0,.2), inset 0 0 2px 2px rgba(0,0,0,.2);
  -webkit-box-shadow: inset 0 2px 0 0 rgba(0,0,0,.2), inset 0 12px 24px 6px rgba(0,0,0,.2), inset 0 0 2px 2px rgba(0,0,0,.2);
  box-shadow: inset 0 2px 0 0 rgba(0,0,0,.2), inset 0 12px 24px 6px rgba(0,0,0,.2), inset 0 0 2px 2px rgba(0,0,0,.2);
  color: #fff;
  text-decoration: none;
  -webkit-transition: all linear .25s;
  -moz-transition: all linear .25s;
  -o-transition: all linear .25s;
  -ms-transition: all linear .25s;
  transition: all linear .25s;
}


/* @Layout *********/
.wrap {
  width: 940px;
  padding: 0 10px;
  position: relative;
  margin: 0 auto;
}

/* @Header *********/
#masthead {
  position: relative;
}

#head-inner {
  background: #2d3438;
  background: rgba(27,34,38,.9);
  border-top: 2px solid #fff;
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
}

.fixed #head-inner {
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
}

#head-inner:after {
  content: "";
  display: block;
  background: url(/media/img/div-shadow.png) center bottom no-repeat;
  width: 100%;
  height: 6px;
  position: absolute;
  bottom: -6px;
}

.logo {
  position: absolute;
  left: 0;
  top: 2px;
  line-height: 1;
  z-index: 91;
}

#masthead ul {
  list-style: none;
}

#page-nav {
  font: 14px/1 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: -.25px;
  position: absolute;
  right: 160px;
  top: 14px;
}

#page-nav li {
  display: inline;
  margin-left: 12px;
}

#page-nav a:link,
#page-nav a:visited {
  color: #dadada;
  text-decoration: none;
  padding: 2px 6px;
  border-radius: 3px;
  -moz-transition: all .125s ease-out;
  -ms-transition: all .125s ease-out;
  -o-transition: all .125s ease-out;
  -webkit-transition: all .125s ease-out;
  transition: all .125s ease-out;
}

#page-nav a:hover,
#page-nav a:focus,
#page-nav a:active {
  background: #434749;
  background: rgba(150,150,150,.2);
  color: #fff;
  text-decoration: underline;
  -moz-transition: all .125s ease-in;
  -ms-transition: all .125s ease-in;
  -o-transition: all .125s ease-in;
  -webkit-transition: all .125s ease-in;
  transition: all .125s ease-in;
}

#page-nav .current a {
  background: #53585a;
  background: rgba(150,150,150,.35);
  color: #fff;
}

#tabzilla {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 91;
}

/*** @Social links *********/
#nav-social-head {
  width: 300px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 80px;
  z-index: 89;
}

.nav-social ul {
  list-style: none;
  margin: 0;
  text-align: right;
  font: 14px/34px 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.nav-social li {
  display: inline;
  text-align: left;
  margin: 0 0 0 8px;
}

.nav-social a {
  display: inline-block;
  color: #8d9092;
  width: 34px;
  height: 34px;
  overflow: hidden;
  text-indent: -99em;
  background-repeat: no-repeat;
  background-image: url(/media/img/social-icons.png);
}

.nav-social .blog {
  width: auto;
  height: auto;
  text-indent: 0;
  background: none;
  margin-right: 10px;
}

.nav-social .blog:hover,
.nav-social .blog:focus
.nav-social .blog:active {
  color: #1677b9;
}

.nav-social .vimeo {
  background-position: 0 0;
}
.nav-social .vimeo:hover,
.nav-social .vimeo:focus,
.nav-social .vimeo:active {
  background-position: 0 -100px;
}

.nav-social .facebook {
  background-position: -50px 0;
}
.nav-social .facebook:hover,
.nav-social .facebook:focus,
.nav-social .facebook:active {
  background-position: -50px -100px;
}

.nav-social .tumblr {
  background-position: -100px 0;
}
.nav-social .tumblr:hover,
.nav-social .tumblr:focus,
.nav-social .tumblr:active {
  background-position: -100px -100px;
}

.nav-social .twitter {
  background-position: -150px 0;
}
.nav-social .twitter:hover,
.nav-social .twitter:focus,
.nav-social .twitter:active {
  background-position: -150px -100px;
}

/* @Footer *********/
#footer {
  background: #2d3438;
  background: rgba(27,34,38,.9);
  color: #b7bcc0;
  width: 100%;
  padding: 30px 0;
  position: relative;
}

#footer:before {
  content: "";
  background: url(/media/img/div-shadow-up.png) center top repeat-x;
  width: 100%;
  height: 6px;
  display: block;
  position: absolute;
  top: -6px;
}

#footer h4 {
  font: normal 14px "Open Sans", sans-serif;
  text-transform: uppercase;
  text-shadow: none;
}

#footer .sponsors {
  width: 640px;
  float: left;
}

.sponsors li {
  list-style: none;
  display: inline-block;
  margin: 0 10px 10px 0;
  vertical-align: top;
}

#footer .util {
  width: 220px;
  float: right;
}

#nav-social-foot ul {
  text-align: left;
}

#nav-social-foot li {
  margin: 0 10px 0 0;
}

#footer .firefoxos a {
  display: block;
  width: 142px;
  height: 30px;
  text-indent: -99em;
  overflow: hidden;
  background: url(/media/img/firefoxos-logo.png) 0 0 no-repeat;
}

#footer .firefoxos a:hover,
#footer .firefoxos a:focus,
#footer .firefoxos a:active {
  background-position: 0 -50px;
}

#nav-fineprint {
  clear: both;
  text-align: center;
  font: 12px "Open Sans", sans-serif;
}

#nav-fineprint li {
  list-style: none;
  display: inline-block;
  margin: 0 0 1em 15px;
  padding: 0 0 0 15px;
  border-left: 1px solid #b7bcc0;
}

#nav-fineprint li:first-child {
  border: 0;
  padding: 0;
  margin-left: 0;
}

#nav-fineprint a {
  color: #b7bcc0;
}

.languages select {
  border: 1px solid #333;
  background: transparent;
  color: #b7bcc0;
}

.js .languages button {
  display: none;
}


/* Tablet Layout: 760px */
@media only screen and (min-width: 760px) and (max-width: 1000px) {

  .wrap {
    width: 720px;
  }

  .logo {
    width: 60px;
    overflow: hidden;
  }

  .logo img {
    max-width: 300px;
  }

}

/* Mobile Layout: 320px */
@media only screen and (max-width: 760px) {

  .wrap {
    width: 300px;
  }

}

/* Wide Mobile Layout: 480px */
@media only screen and (min-width: 480px) and (max-width: 760px) {

  .wrap {
    width: 460px;
  }

}

