[submodule "vendor"]
	path = vendor
	url = git://github.com/mozilla/playdoh-lib.git
[submodule "vendor-local/src/django-south"]
	path = vendor-local/src/django-south
	url = git://github.com/lambdafu/django-south.git
[submodule "vendor-local/src/django-browserid"]
	path = vendor-local/src/django-browserid
	url = git://github.com/mozilla/django-browserid.git
[submodule "vendor-local/src/happyforms"]
	path = vendor-local/src/happyforms
	url = git://github.com/mozilla/happyforms.git
[submodule "vendor-local/src/elasticutils"]
	path = vendor-local/src/elasticutils
	url = git://github.com/davedash/elasticutils.git
[submodule "vendor-local/src/pyes"]
	path = vendor-local/src/pyes
	url = git://github.com/aparo/pyes.git
