[submodule "vendor"]
	path = vendor
	url = git://github.com/mozilla/playdoh-lib.git
[submodule "vendor-local/src/django-south"]
	path = vendor-local/src/django-south
	url = git://github.com/lambdafu/django-south.git
[submodule "vendor-local/src/django-browserid"]
	path = vendor-local/src/django-browserid
	url = git://github.com/mozilla/django-browserid.git
[submodule "vendor-local/src/happyforms"]
	path = vendor-local/src/happyforms
	url = git://github.com/mozilla/happyforms.git
[submodule "vendor-local/src/django-cache-machine"]
	path = vendor-local/src/django-cache-machine
	url = git://github.com/jbalogh/django-cache-machine.git
[submodule "vendor-local/src/django-csp"]
	path = vendor-local/src/django-csp
	url = git://github.com/mozilla/django-csp.git
[submodule "vendor-local/src/pystatsd"]
	path = vendor-local/src/pystatsd
	url = git://github.com/jsocol/pystatsd.git
[submodule "vendor-local/src/django-statsd"]
	path = vendor-local/src/django-statsd
	url = git://github.com/andymckay/django-statsd.git
[submodule "vendor-local/src/django-waffle"]
	path = vendor-local/src/django-waffle
	url = git://github.com/jsocol/django-waffle.git
[submodule "vendor-local/src/django-jingo-offline-compressor"]
	path = vendor-local/src/django-jingo-offline-compressor
	url = git://github.com/peterbe/django-jingo-offline-compressor.git
[submodule "vendor-local/src/django-compressor"]
	path = vendor-local/src/django-compressor
	url = git://github.com/jezdez/django_compressor.git
