{% extends 'base.html' %}

{% block page_title %}Firefox Flicks Contest Official Rules{% endblock %}


{% block meta_description -%}
  <meta property="og:description" content="{% trans %}

  Firefox Flicks Contest Official Rules

  {% endtrans %}">
{%- endblock %}

{% block content %}
<div class="section">
  <article class="wrap info rules">
    <h1 class="page-title">Firefox Flicks Contest Official Rules</h1>

    <p>
      <strong>Introduction:</strong> The objective of this Contest is to give budding film makers the opportunity
      to create and submit short videos promoting Firefox OS. The contest will run worldwide (except for the
      excluded countries below) and winners will be chosen from four regions around the world - (i) the U.S. and Canada,
      (ii) Latin America, (iii) Europe, Middle East and Africa, and (iv) Asia, Australia and New Zealand.
    </p>

    <p>
      <strong>Sponsor:</strong> The sponsor of this Contest is Mozilla Corporation, located at 650 Castro Street,
      Suite 300, Mountain View, CA 94041 ("Sponsor").
    </p>

    <p>
      <strong>Eligibility:</strong><br/>
      <strong>No purchase or fee is necessary to enter or claim any prize.</strong>
    </p>
    <p>
      The Contest is open to individuals who are at least the age of majority in their country of residence
      (18 in most countries).
    </p>
    <p>
      The Contest is open to individual filmmakers and teams of up to three (3) individuals. Teams must pick a team leader,
      who will submit the team's video and be the sole recipient of any prizes for the team (in other words there is only
      one prize per winning video, not a prize for each member of the team) except for the Grand Prize (more information
      in the Prizes section below).
    </p>
    <p>
      The Contest is void in Cuba, Iran, North Korea, Sudan, Syria, and any other country subject to a U.S boycott or
      where prohibited by law or restricted by law or regulations.
    </p>
    <p>
      Employees of Sponsor and its parent company, subsidiaries, affiliates, suppliers, prize providers, advertising
      agencies, and the families of and persons living in the same household as such employees, are not eligible to participate.
    </p>
    <p>
      By entering you agree to be bound by these Official Rules and all decisions of the Sponsor and judges,
      which are final and binding. The Contest is subject to all applicable laws.
    </p>

    <p>
      <strong>How to Enter:</strong> To enter the Contest, log into <a href="{{ url('flicks.base.home') }}">https://firefoxflicks.mozilla.org</a>
      (the “Contest Site”) with your Persona credentials, fill in the requested information, and follow the instructions to submit
      your video ("Entry"). Your Entry will be processed by Vimeo and posted to both the Contest Site and the Vimeo site under a special Firefox
      Flicks account. Please review the <a href="http://vimeo.com/terms" rel="external">Vimeo Terms of Service</a> and
      <a href="http://vimeo.com/privacy" rel="external">Privacy Policy</a>. As part of the submission process,
      you will need to provide your name, give your Entry a title, provide a brief description of the Entry, and select
      your country of residence.
    </p>
    <p>
      If you are a team of individuals submitting an Entry, the Entry should be submitted under the email account of the team
      leader. All the individuals on the team should be identified in some way in the description for proper attribution.
    </p>
    <p>
      You must be the named and authorized account holder of the email account through which your Entry is submitted. The authorized
      account holder is the natural person whose information was submitted to the email provider when the account was created.
      Entries submitted will not be returned or acknowledged.
    </p>
    <p>
      Without limiting any other rights, the Sponsor has the right to, in the Sponsor's sole discretion, reject or remove from the
      Contest any Entry that, in the Sponsor's sole discretion, violates these Rules, any applicable Sponsor policy,
      any applicable laws, or is in any way harmful or objectionable. Sponsor also reserves the right to disqualify any entrant
      or Entry at the Sponsor's sole discretion. No correspondence shall be entered into.
    </p>

    <p>
      <strong>Privacy:</strong> In order to enter the Contest, you will be required to provide your name, your email address
      (through your Persona login), and your country of residence (to determine your Contest region) at the time of submission.
      Your name and region will be posted along with your Entry in the public contest galleries on the Contest Site and the
      Vimeo site, where they can be viewed, liked, and shared by everyone. Any entrant who wishes to receive the surprise
      thank you prize pack will also need to provide a mailing address. Winners will be asked to provide a mailing address
      so that we can send them their prizes and for general contact purposes related to the Contest. If you check the box
      to be notified about Firefox Flicks information and events, we will send you periodic email updates about this and
      future Firefox Flicks contests. Except as otherwise stated in these rules or as otherwise agreed by you and the
      Sponsor, email and mailing addresses and other personal information you provide in connection with the Contest
      will not be made public or shared, except with vendors providing contest related services to Sponsor, and will
      be used only for purposes relating to this Contest, and in accordance with our Privacy Policy located
      at <a href="http://www.mozilla.org/en-US/privacy-policy.html" rel="external">http://www.mozilla.org/en-US/privacy-policy.html</a>.
      The Vimeo privacy policy is available at <a href="http://www.vimeo.com/privacy" rel="external">http://www.vimeo.com/privacy</a>.
      The data you provide about yourself may be transferred from your country to the U.S. or other countries.
    </p>

    <p>
      <strong>Contest Period:</strong> The Contest begins at 3:00 p.m. Pacific Standard Time (PST) (11:00 p.m. GMT) on Wednesday,
      February 13, 2013 and ends at 11:59 p.m. PST on Wednesday, July 31, 2013 (7:59 a.m. GMT on August 1, 2013)
      (the "Contest Period"). Judging will occur throughout the Contest Period for Early Entry Prizes (described below),
      as well as immediately following the Contest Period for Regional Prizes and the Grand Prize as described below.
      Following the Contest Period there will also be People’s Choice voting (described below), which will open at
      12:01 a.m. PST (8:01 a.m. GMT) on August 1, 2013 and end at 11:59 p.m.
      PST on August 31, 2013 (7:59 a.m. GMT on September 1, 2013) (the “Voting Period”).
    </p>

    <p>
      <strong>Work Criteria:</strong> All Entries must meet specific criteria to be accepted into the Contest.
      Without limitation, the following conditions apply: (a) The Entry must comply with the creative brief
      provided by Sponsor. (b) The Entry must be submitted under the
      <a href="http://creativecommons.org/licenses/by-nc-sa/2.5/" rel="external">Creative Commons Attribution - NonCommercial -
      ShareAlike license</a>. (c) The Entry must be your original work and may not include any unauthorized intellectual
      property of a third party (such as a video clip, music, or visible brand name or logo you do not have a license to use).
      (d) You may use the graphics and logos supplied by Sponsor. Such use must comply with the Mozilla Trademark Policy
      (<a href="http://www.mozilla.org/foundation/trademarks/" rel="external">http://www.mozilla.org/foundation/trademarks/</a>)
      and the Firefox Brand Toolkit (<a href="http://www.mozilla.org/en-US/firefox/brand/" rel="external">http://www.mozilla.org/en-US/firefox/brand/</a>).
      Mozilla retains all ownership in such graphics and logos. (e) The Entry may be no longer than 60 seconds. (f)
      Non-English language videos must have English subtitles or a written English translation included. (g) The Entry must
      be in a format that can be uploaded to Vimeo (see <a href="http://vimeo.com/help/compression" rel="external">http://vimeo.com/help/compression</a>).
      (h) The description of the Entry included in your submission must be clear and accurate. (i) The Entry must not be
      obscene, libelous, or defamatory, violate the right of privacy or publicity of any third party, or violate any
      applicable laws, and must comply with Mozilla's legal notices and policies. See
      <a href="http://www.mozilla.com/en-US/about/legal.html" rel="external">http://www.mozilla.com/en-US/about/legal.html</a>.
      (j) If anyone not on the submitting team appears in the video, you must obtain their explicit permission to videotape them,
      to enter the video in this Contest, and to give Mozilla the right to freely use and distribute the video.
      We also recommend adding closed captioning to your Entries.
    </p>

    <p>
      <strong>Selection of Winners:</strong> Winners will be selected for Early Entry Prizes (described below)
      three times during the Contest in conjunction with International Film Festivals. One winner will be selected
      for each Early Entry mini contest. The winners will be selected by a knowledgeable panel of Mozilla staffers.
      The top three Entries selected by the Mozilla judges for each Early Entry mini contest are guaranteed to be
      submitted for judging by the film industry judging panel that will select the Regional Prize winners and the
      Grand Prize winner. After the Contest Period has ended, the Mozilla judges will select the best thirty-one (31)
      Entries not already Early Entry mini contest selections and these 31 Entries plus the top three Entries from
      each Early Entry mini contest (9 total) will be reviewed and judged by a panel of qualified judges from the
      film industry who will select the Regional Prize winners, and together with Panasonic, the Grand Prize winner.
      There will be a winner and a runner-up from each of the four geographical regions identified below and one
      Grand Prize winner. Your country of residence, which you select at the time of Entry, determines your Entry’s region.
    </p>
    <p>
      In order to encourage submission of Entries early in the Contest Period, there will be three (3) Early Entry
      mini contests. The Mozilla judges will review all Entries submitted by the entry deadline for each mini
      contest and will select one winner for each mini contest. They will also select two other top entries to
      be submitted along with the winner for judging by the expert film industry judging panel. The deadline
      for each Early Entry mini contest will be announced on the Contest Site.
    </p>
    <p>
      The regions from which regional winners will be chosen are (i) the U.S. and Canada, (ii) Latin America,
      (iii) Europe, Middle East and Africa (EMEA), and (iv) Asia, , Australia and New Zealand (APAC).
      All countries, except those not eligible, are intended to fall into one of the four regions.
      All Entries will be judged on the following equally weighted criteria: quality of shooting, quality of
      editing, creativity, and how closely they align with the Contest creative brief. The decisions of the
      judges are final on all matters relating to the Contest and no correspondence will be entered into.
    </p>

    <p>
      <strong>People’s Choice Winners:</strong> In addition to the winners selected by the judges described above,
      there will be three People’s Choice winners who will be selected by public voting. In order to vote, you
      must sign into the Contest Site using your Persona Credentials and use the voting mechanism provided on
      the Contest Site to cast no more than one vote per Entry during the Voting Period. Limit one vote per
      person and per email address per Entry. If more than one vote is received from the same person or email
      address for the same Entry, only the first such vote received will be deemed valid. Any votes generated
      by script, macro, multiple email addresses, aliases, use of contest services, payoffs or promises to
      others in exchange for votes, or anything else that is inconsistent with getting an honest picture
      of the public’s genuine opinion of your Entry, is grounds for immediate disqualification of the person
      submitting (or inducing) such voting, as well as the Entry that is the subject of such activity. Sponsor
      reserves the right, in its sole and absolute discretion, to determine which forms for voting activity may
      be deemed to violate the spirit of this rule and therefore to be invalid, and also to disqualify and
      exclude from this Contest and any other contest Sponsor may offer any person(s) engaged in activity that
      violates any provision of these Rules or is otherwise deemed by Sponsor, in its discretion, to be
      inappropriate, unsportsmanlike or disruptive to the integrity or intended functioning of this Contest.
      All votes are final and cannot be revoked. The three Entries receiving the highest numbers of valid votes
      from the public, as determined by the Sponsor, will be deemed the winners of the People’s Choice vote,
      subject to verification of the entrants’ eligibility and compliance with these Official Rules. In case
      of a tie, Sponsor shall make the final decision.
    </p>

    <p>
      <strong>Prizes:</strong> There are three (3) Early Entry mini contest winners, four (4) Regional Prize
      winners, four (4) Regional Prize runners-up, and one (1) Grand Prize winner. The winner of each Early
      Entry mini contest will receive $1,000 and a selection of Mozilla swag. The Regional winners (1 from
      each region) will each receive $5,000 and the Regional runners-up (1 from each region) will each receive
      $2,500. One (1) Grand Prize winner will receive a trip to Los Angeles, California to professionally
      produce their winning Entry with help from Hollywood insiders and representatives from Panavision
      using professional Panavision equipment. If a team created the winning Entry, the entire team
      (up to 3 members total) will be flown to LA to participate
      in the prize experience. The travel portion of the Grand Prize consists of roundtrip coach air travel
      for each winning team member between a major airport nearest that team member’s home and Los Angeles,
      California and 5 nights’ hotel accommodations at a moderately priced hotel. Winners must travel on
      dates specified by the Sponsor. A major credit card will be required upon hotel check-in to cover any
      incidental expenses. The winners are responsible for possessing all necessary passports or other travel
      documents. Failure of a team member to be available or able to travel on the designated dates may result
      in forfeit of the prize by that team member. If an individual winner or all members of a winning team are
      unable to travel on the designated dates, if time permits, an alternate winner may be selected. While the
      value of the experience of working with experienced professionals cannot be estimated in dollars, the
      estimated retail value of the travel portion of the prize is approximately $10,000. Actual value will vary
      depending on the number of team members, departure cities, and other factors. If a winner resides in the
      Los Angeles area, ground transportation will be substituted for air. Any difference between actual and stated
      value will not be awarded. All travel and accommodations are subject to availability and Sponsor discretion.
    </p>
    <p>
      In addition to the above prizes, all entrants who choose to provide their mailing address will receive a
      Firefox Flicks prize pack. In the case of a team, the individual who submitted the Entry will receive the prize pack.
    </p>
    <p>
      Three People’s Choice winners will be selected by public vote. The People’s Choice winners will
      receive exposure through Mozilla channels but will not win any prize with significant monetary value.
    </p>

    <p>
      <strong>General Prize Conditions:</strong> The winners are solely responsible for the payment of any taxes
      that may arise as a result of acceptance of a prize, and all other expenses or costs relating to the prize
      not expressly set forth above. Prizes cannot be transferred or substituted and must be accepted as awarded.
      Sponsor reserves the right to substitute a prize of equal or greater value in its sole discretion if an
      advertised prize becomes unavailable. Please note that if the winning Entry was submitted by a team,
      only one prize will be awarded to the team. A prize will not be given to each member of the team, except
      in the case of the Grand Prize, in which all team members (up to 3) will be allowed to participate in the
      prize experience.
    </p>

    <p>
      <strong>Winner Notification/Validation:</strong> The winners of the Regional Prizes and Grand Prize will
      be notified by email on or about August 23, 2013. The winners of the Early Entry mini contests will be
      notified within seven (7) days following the submission deadline for the mini contest. The People’s
      Choice winners will be notified on or about September 3, 2013. If a winner has not responded within
      five (5) days after Sponsor has sent the notification, or in the event of non-compliance with any of
      these requirements, the prize may be forfeited, and the entrant having the next highest score will be
      deemed the winner. The winner, and all team members if the winning entry was submitted by a team, may
      be required to sign and return to Sponsor an affidavit of eligibility and publicity release, where
      lawful, within ten (10) days of the date of winning notification. The Regional Prize, Grand Prize,
      and People’s Choice winners will be announced at the Toronto Film Festival between September 5th and
      15th, 2013 during a Mozilla hosted event. The Early Entry mini contest winners will be announced at
      film festivals taking place during the Contest Period.
    </p>

    <p>
      <strong>Authorization to Use Winner's Entry Information & Name:</strong> By entering, you agree that
      Sponsor and its designees may use your Entry and your name, photo (or image capture from your Entry),
      video clips, and basic information about you and your Entry that you submit, in any media now known
      or hereafter developed for commercial, promotional and/or publicity purposes, unless prohibited by
      law. You also agree to participate in and cooperate with any promotional activity and/or publicity
      relating to the Contest as the Sponsor shall reasonably request from time to time.
    </p>

    <p>
      <strong>Release of Liability:</strong> By participating, you (meaning each member of a team if a
      team is submitting the Entry) release the Sponsor and its subsidiaries, affiliates, partners,
      employees, directors, agents, prize providers, advertising agencies, and all others associated
      with the development and execution of this Contest (including Vimeo), from and against any and
      all injury, loss or damage caused or claimed to be caused by your Entry, your participation in
      the Contest, and/or the acceptance, awarding, receipt, use and/or misuse of the prize, and you
      agree that these entities are in no way responsible for any warranty, representation, or guarantee,
      expressed or implied, in fact or in law, relating to the Contest and/or the awarding of any
      prize except as may be expressly set forth in these Official Rules.
    </p>
    <p>
      You also agree to hold harmless Sponsor and its subsidiaries, affiliates, partners, employees,
      directors, agents, prize providers, advertising agencies, and all others associated with the
      development and execution of this Contest (including Vimeo), from any claim by any third party
      relating to any rights in the Entry you submitted.
    </p>

    <p>
      <strong>Representations and Warranties:</strong> By entering, you (meaning each member of a
      team if a team is submitting the Entry) warrant and represent that (a) you are the sole and
      exclusive owner of (and free of any adverse claim by any person, firm, or corporation) all
      intellectual property rights in and to the Entry (exclusive of Mozilla's intellectual property
      rights); (b) the Entry is original and the use of the Entry as described in these Rules will
      not infringe the proprietary rights, including without limitation the intellectual property
      rights, of any third party; (c) the use of the Entry, as described in these Rules, will be in
      compliance with any third-party licenses pertaining to the Entry; (d) the Entry is not obscene
      or libelous, or does not violate any rights of any third party, including but not limited to
      rights of privacy or publicity; (e) the Entry does not target anyone because of his or her
      membership in a certain social group, including race, gender, color, religion, belief, sexual
      orientation, disability, ethnicity, nationality, age, gender identity, or political affiliation,
      and does not contain a symbolic representation of any group that targets anyone because of his
      or her membership in a certain social group; (f) you have accurately described the Entry; (g)
      the Entry does not exploit any vulnerabilities in decoders; (h) the Entry and its use as
      described in these Rules will not violate any federal, provincial, state or local laws or
      ordinances; (i) the Entry is consistent with these Rules; and (j) you have the right to
      grant to Sponsor and its designees the license granted below. By entering you agree to be
      bound by these Official Rules, including all eligibility requirements and all decisions of
      Sponsor, which are final and binding in all matters relating to the Contest.
    </p>

    <p>
      <strong>Intellectual Property:</strong> Your Entry shall remain your exclusive property.
      By submitting your Entry to the Contest, you grant Sponsor, its parent and its subsidiaries a
      worldwide, royalty-free license to use, modify, reproduce, distribute, transmit, publish, and
      publicly and privately display the Entry, including any modifications, in any media for commercial
      purposes, such as promoting Mozilla and its products, services and projects. These rights may
      be exercised by third parties authorized by Mozilla. You understand that you will not be paid in
      connection with any exercise of these rights. You also agree to make your Entry publicly available
      under the <a href="http://creativecommons.org/licenses/by-nc-sa/2.5/" rel="external">Creative Commons Attribution - NonCommercial - ShareAlike license</a>,
      the license that will govern all Entries to the contest.
    </p>

    <p>
      <strong>Mozilla's Trademarks:</strong> The names Mozilla and Firefox, as well as the Mozilla logo,
      Firefox logo, and the red lizard logo are all registered trademarks of the Mozilla Foundation in
      the U.S. and several other countries. Any use of those or any other Sponsor (or Mozilla Foundation)
      trademark, trade name or logo must comply with the Mozilla Trademark Policies as posted at
      <a href="http://www.mozilla.org/foundation/trademarks/" rel="external">http://www.mozilla.org/foundation/trademarks/</a>
      and the Firefox Brand Toolkit available at
      <a href="http://www.mozilla.org/en-US/firefox/brand/" rel="external">http://www.mozilla.org/en-US/firefox/brand/</a>.
    </p>

    <p>
      <strong>Disclaimers:</strong> Sponsor is not responsible for: (i) lost, late, misdirected, damaged,
      garbled or illegible entries; (ii) error, omission, interruption, deletion, defect, delay in operations
      or transmission, theft or destruction or unauthorized access to or alterations of entry materials, or
      for technical, network, telephone equipment, electronic, computer, hardware or software malfunctions
      of any kind, or inaccurate transmission of or failure to receive entry information by Sponsor on account
      of technical problems or traffic congestion on the Internet or at any web site or any combination thereof;
      or (iii) any injury or damage to entrant's or any other person's computer related to or resulting from
      participating in the Contest. Sponsor reserves the right to: (i) permanently disqualify from any Contest
      it sponsors any person it believes has intentionally violated these Official Rules; and (ii) suspend,
      modify or terminate the Contest if Sponsor believes, in its sole discretion, that malfunction, error,
      disruption or damage is impairing or will impair the administration, security, fairness, or integrity
      of the Contest. If the Contest is terminated before the scheduled end of the Contest Period, the Sponsor
      will determine the winners from all eligible entries received as of the termination date in a fair and
      equitable manner as determined by Sponsor in its reasonable discretion. Persons found tampering with or
      abusing any aspect of the Contest, or whom the Sponsor believes to be causing or attempting or intending
      to cause any malfunction, error, disruption, or damage will be disqualified. The Sponsor reserves the right
      to disqualify any unauthorized entries or votes, including, without limitation, any entries or votes made
      through robotic, automatic, mechanical, programmed or similar multiple-entry, or entry/vote duplication,
      method and to disqualify any person or entity using such a method.
    </p>

    <p>
      <strong>Disputes:</strong> These Official Rules and any disputes relating in any way to the Contest
      shall be governed exclusively by the laws of the State of California, USA, without regard to principles
      of conflicts of laws. By participating, you further agree that: (i) any and all disputes, claims, and
      causes of action arising out of or in connection with the Contest, or any prizes awarded, shall be resolved
      individually without resort to any form of class action; (ii) any claims, judgments and awards shall be
      limited to actual out-of-pocket costs incurred, including costs associated with entering the Contest, but
      in no event attorney's fees; and (iii) under no circumstances will any entrant be permitted to obtain any
      award for, and entrant hereby waives all rights to claim, punitive, incidental or consequential damages
      and any and all rights to have damages multiplied or otherwise increase any other damages, other than
      damages for actual out-of-pocket expenses.
    </p>

    <p>
      <strong>Winners Names:</strong> For the names of the winners and/or the judges send a self-addressed,
      stamped envelope to "Firefox Flicks Contest Winner List", attn: Kristin Baird, 650 Castro Street,
      Suite 300, Mountain View, CA 94041. Requests must be received (not just postmarked) by December 30, 2013.
    </p>

  </article>
</div>
{% endblock %}
