<div id="footer">
  <ul>
    <li><a href="http://www.mozilla.org/privacy-policy.html"
           title="{{ _('Privacy Policy') }}">{{ _('Privacy Policy') }}</a></li>
    <li><a href="http://www.mozilla.org/about/legal.html"
           title="{{ _('Legal') }}">{{ _('Legal') }}</a></li>
  </ul>
  <div id="language-switcher">
    <form id="language-switcher" class="languages go" method="GET">
      <label for="language">{{ _('Other languages:') }}</label>
      <select id="language" name="lang" dir="ltr">
        {% for code, name in LANGUAGES|dictsort -%}
          <option value="{{ code }}" {{ code|ifeq(LANG|lower, "selected") }}>
            {{ name }}
          </option>
        {%- endfor %}
      </select>
      <button class="js-hide" type="submit">{{ _('Go') }}</button>
    </form>
  </div>
</div>

{% block site_js %}
  {{ js('flicks_js') }}
  <script src="https://browserid.org/include.js"></script>
{% endblock %}
