<div id="header">
  <div class="header-wrapper">
    <a href="{{ url('flicks.videos.winners') if waffle.flag('winners_page')
             else url('flicks.videos.recent') }}"
       title="{{ _('Firefox Flicks') }}" class="logo">{{ _('Firefox Flicks') }}</a>
    <ul>
      {% if waffle.flag('winners_page') %}
        <li><a href="{{ url('flicks.videos.winners')}}"
               title="{{ _('Award') }}">
          <img class="award" src="{{ MEDIA_URL }}img/winner-trophy-sm.png" alt="{{ _('Award') }}">
        </a></li>
      {% endif %}
      <li><a href="{{ url('flicks.videos.recent')}}"
             title="{{ _('Videos') }}">{{ _('Videos') }}</a></li>
      <li><a href="{{ url('flicks.base.creative')}}"
             title="{{ _('Creative Brief') }}">{{ _('Creative Brief') }}</a></li>
      <li><a href="{{ url('flicks.base.judges') }}"
             title="{{ _('Judges') }}">{{ _('Judges') }}</a></li>
      <li><a href="{{ url('flicks.base.prizes') }}"
             title="{{ _('Prizes') }}">{{ _('Prizes') }}</a></li>
      <li><a href="{{ url('flicks.base.faq') }}"
             title="{{ _('FAQ') }}">{{ _('FAQ') }}</a></li>
      <li><a href="{{ url('flicks.base.rules') }}"
             title="{{ _('Rules') }}">{{ _('Rules') }}</a></li>
      <li><a href="http://firefoxflicks.tumblr.com"
             title="{{ _('News') }}">{{ _('News') }}</a></li>

    </ul>
    <a href="http://mozilla.org" id="mozilla-tag">{{ _('Mozilla') }}</a>
  </div>
</div>
