<div id="header">
  <div class="header-wrapper">
    <a href="{{ url('flicks.base.home') }}"
       title="{{ _('Firefox Flicks') }}" class="logo">{{ _('Firefox Flicks') }}</a>
    <ul>
      <li><a href="{{ url('flicks.videos.recent')}}"
             title="{{ _('Videos') }}">{{ _('Videos') }}</a></li>
      <li><a href="{{ url('flicks.base.creative')}}"
             title="{{ _('Creative Brief') }}">{{ _('Creative Brief') }}</a></li>
      <li><a href="{{ url('flicks.base.judges') }}"
             title="{{ _('Judges') }}">{{ _('Judges') }}</a></li>
      <li><a href="{{ url('flicks.base.prizes') }}"
             title="{{ _('Prizes') }}">{{ _('Prizes') }}</a></li>
      <li><a href="{{ url('flicks.base.faq') }}"
             title="{{ _('FAQ') }}">{{ _('FAQ') }}</a></li>
      <li><a href="{{ url('flicks.base.rules') }}"
             title="{{ _('Rules') }}">{{ _('Rules') }}</a></li>
      <li><a href="//firefoxflicks.tumblr.com"
             title="{{ _('News') }}">{{ _('News') }}</a></li>

    </ul>
    <a href="http://mozilla.org" id="mozilla-tag">{{ _('Mozilla') }}</a>
  </div>
</div>
