{% macro video_item(idx, video) -%}
  <li id="slide-{{ idx }}">
    <a href="{{ video.details_href }}" class="title" title="{{ video.title }}">
      <img src="http://cf.cdn.vid.ly/{{ video.shortlink }}/poster.jpg" height="141">
    </a>
    <div class="video-details">
      <a href="{{ video.details_href }}"
         class="title" title="{{ video.title }}">{{ video.title }}</a>
      {{ video_details(video) }}
    </div>
  </li>
{%- endmacro %}

{% macro video_details(video) -%}
  <a href="{{ url('flicks.users.details', user_id=video.user_id) }}"
     class="user">{{ video.user.userprofile.full_name }}, {{ video.user.userprofile.country }}</a>
  <p class="region-info">
    {% set category_link='<span class="category">{title}</span>'|fe(title=video.get_category_display()) %}
    {% set country_link='<span class="region">{title}</span>'|fe(title=video.get_region_display()) %}

    {# L10n: Shown below videos to indicate which category and country they were submitted under, such as ':30 Spot for Europe' #}
    {% trans category_link=category_link, country_link=country_link %}
      {{ category_link }} <span>for</span> {{ country_link }}
    {% endtrans %}
  </p>
  <p class="video-info">
    <span class="date">{{ video.created|babel_date }}</span>
    <span class="views">
      {# L10n: Refers to the number of views a video received. For example, 300 views. #}
      {% trans view_count=video.views_cached() %}
        {{ view_count }} view
        {% pluralize %}
        {{ view_count }} views
      {% endtrans %}
    </span>
  </p>
{%- endmacro %}

{% macro form_section(f, form) -%}
  <div class="field {{ 'error' if form.errors[f] }}
    {{ form[f].field.widget.attrs['class'] }}">
    {{ form[f].label_tag() }}

    {% if form[f].field.required %}
      <span class="required">*</span>
    {% else %}
      <span class="optional">&#xa0;</span>
    {% endif %}

    {{ form.errors[f] }}
    {{ form[f] }}
  </div>
{%- endmacro %}

{% macro paginate(show_pagination, items, url) -%}
  {% if show_pagination %}
    <div class="pagination">
      {% for page in items.paginator.page_range %}
        {% if page == items.number %}
          <span>{{ page }}</span>
        {% else %}
          <a href="{{ url|urlparams(page=page, limit=limit) }}">{{ page }}</a>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
{%- endmacro %}

{% macro display_search_form(form) -%}
  <ul class="sort_filter">
    {% for f in ['category', 'region'] %}
      <li>
        <h3>{{ form[f].label }}</h3>
        {{ form[f] }}
      </li>
    {% endfor %}
    <li>
      <h3>{{ _('Search') }}</h3>
      <div class="search-wrapper">
        {{ form.search }}
        <button type="submit" class="search">{{ _('Search') }}</button>
      </div>
    </li>
  </ul>
{%- endmacro %}
