.wrapper {
    width: 100%;
}

.home .wrapper {
    background-image: url('../../img/curtains.jpg');
    background-repeat: repeat-x;
    min-height: 1042px;
}

.content-wrapper, .header-wrapper, .footer-wrapper {
    margin: 0 auto;
    position: relative;
    width: 896px;
}

.home .headline p.intro {
    color: #e05f26;
    font-size: 56px;
    line-height: 66px;
    margin: 0px 0px 40px 0px;
    text-transform: uppercase;
}

.home .flicks-logo {
    display: block;
    margin: 0 auto;
    width: 191px;
}

.home .mozilla-presents {
    clear: both;
    height: 73px;
    margin: 20px auto;
    position: relative;
    width: 734px;
}

.home .mozilla-presents .flair {
    background-image: url('../../img/flair.png');
    background-position: 0px 48px;
    background-repeat: no-repeat;
    color: #fff;
    float: left;
    font-family: Lobster;
    font-size: 34px;
    height: 65px;
    padding-top: 20px;
    text-indent: 20px;
    width: 270px;
}

.home .mozilla-presents img {
    display: block;
    float: right;
}

.home .headline .blob {
    margin: 0 auto;
    width: 536px;
}

.home .videos {
    margin: 120px 0px 40px 0px;
}

.home .videos li {
    margin: 23px;
}

.info {
    margin: 0 auto;
    width: 528px;
}

#mozilla-tag {
    background-image: url('../../img/mozilla-tab.png');
    background-repeat: no-repeat;
    display: block;
    font-size: 1px;
    height: 42px;
    position: absolute;
    right: 0px;
    text-indent: -9999px;
    top: -20px;
    width: 152px;
}

#header {
    background-image: url('../../img/sub-curtains.png');
    background-repeat: repeat-x;
    border-top: 2px solid #fff;
    height: 56px;
    padding-top: 20px;
}

#header li {
    line-height: 35px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .content-wrapper, .header-wrapper, .footer-wrapper {
        width: 712px;
    }

    .info {
        width: 528px;
    }

    #header ul {
        float: left;
    }
}

@media only screen and (max-width: 767px) {
    .content-wrapper, .header-wrapper, .info, .footer-wrapper {
        width: 252px;
    }

    #header ul li {
        line-height: 15px;
        margin-top: 15px;
    }

    .home .flicks-logo {
        width: 161px;
    }

    .home .mozilla-presents {
        background-size: 60%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    html, body {
        overflow-x: hidden;
    }

    .content-wrapper, .header-wrapper, .info, .footer-wrapper {
        width: 436px;
    }

    #header {
        background-image: url('../../img/sub-curtains-mid.png');
        height: 86px;
    }

    #header ul {
        clear: both;
        float: left;
    }

    .home .wrapper {
        background-image: url('../../img/curtains-mid.jpg');
        background-repeat: repeat-x;
        min-height: 1327px;
    }

    .home .headline .blob {
        margin: 0 auto;
        width: 436px;
    }
}

@media only screen and (max-width: 479px) {
    html, body {
        overflow-x: hidden;
    }

    #header {
        background-image: url('../../img/sub-curtains-mobile.png');
        height: 116px;
    }

    #header ul {
        clear: both;
        display: block;
        float: left;
    }

    #mozilla-tag {
        display: none;
    }

    .home .wrapper {
        background-image: url('../../img/curtains-mobile.jpg');
        background-repeat: repeat-x;
        min-height: 1587px;
    }

    .home .flicks-logo {
        width: 121px;
    }

    .home .mozilla-presents {
        background-size: 35%;
    }

    .home .headline .blob {
        margin: 0 auto;
        width: 236px;
    }
}

body {
    background-image: url('../../img/black-bg.jpg');
    font-family: Georgia, serif;
}

h1, h2, h3, #header li, .home-link, a.title, .content-wrapper span.title,
.headline p.intro, .headline p.flicks-description {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: normal;
}

.home .headline .blob p {
    color: #e05f26;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 25px;
    text-align: left;
}

.home .headline .blob p a {
    color: #fff;
}

.home p.flicks-description {
    color: #fff;
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

h2, h3, #header li, .home-link, a.title, .content-wrapper span.title {
    color: #fff;
}

h1 {
    clear: both;
    color: #fab041;
    text-transform: uppercase;
}

.home #header {
    background-image: none;
}

.home .headline {
    clear: both;
    float: left;
    position: relative;
    width: 100%;
}

.home .headline p {
    clear: both;
    display: block;
    float: left;
    text-align: center;
    width: 100%;
}

.content-wrapper h1 {
    text-align: center;
    margin: 46px 0px 46px 0px;
}

h2 {
    clear: both;
    float: left;
    margin: 20px 0px 10px 0px;
}

.content-wrapper span.title {
    font-size: 28px;
    margin-left: 15px;
    text-transform: uppercase;
}

.content-wrapper form {
    float: left;
    width: 100%;
}

.content-wrapper form div.field {
    clear: both;
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

.content-wrapper form label, .content-wrapper form span {
    color: #eee;
    display: block;
    float: left;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 26px;
    line-height: 36px;
    margin-right: 10px;
    text-transform: uppercase;
}

.content-wrapper .agreement input {
    display: block;
    float: left;
    margin-right: 10px;
}

.content-wrapper .agreement label {
    display: block;
    float: left;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: none;
}

.content-wrapper form span.required {
    color: #fff;
}

.content-wrapper form div.field input {
    margin-bottom: 5px;
    padding: 3px;
}

#footer {
    background-image: url('../../img/footer-mini.jpg');
    background-repeat: repeat-x;
    clear: both;
    float: left;
    height: 95px;
    margin-top: 30px;
    width: 100%;
}

.home #footer {
    background-image: url('../../img/footer.jpg');
    height: 268px;
}

#footer label, #footer li a {
    color: #76838d;
    font-size: 13px;
}

#header li, #footer li {
    float: left;
    list-style-type: none;
    margin-right: 10px;
}

#header li a {
    color: #fff;
    display: block;
    float: left;
    font-size: 18px;
    margin-right: 8px;
    text-decoration: none;
    text-transform: uppercase;
}

#header li a:hover {
    text-decoration: underline;
}

#header a.logo {
    background-image: url('../../img/title-en-US.png');
    background-repeat: no-repeat;
    display: block;
    float: left;
    font-size: 1px;
    height: 26px;
    margin-right: 20px;
    text-indent: -9999px;
    width: 160px;
}

.content-wrapper p a, .content-wrapper li a {
    color: #398bc8;
    text-decoration: none;
}

.content-wrapper p, .content-wrapper ol, .content-wrapper ul {
    clear: both;
    color: #9eaab3;
    float: left;
    font-size: 16px;
}

.home-link {
    clear: both;
    color: #fff;
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.gravatar {
    height: 32px;
    width: 32px;
}

div.home {
    margin: 20px 0px 20px 0px;
}

.home #browserid, button {
    background-image: linear-gradient(bottom, #267CC2 26%, #4590C9 63%, #70B8EB 100%);
    background-image: -o-linear-gradient(bottom, #267CC2 26%, #4590C9 63%, #70B8EB 100%);
    background-image: -moz-linear-gradient(bottom, #267CC2 26%, #4590C9 63%, #70B8EB 100%);
    background-image: -webkit-linear-gradient(bottom, #267CC2 26%, #4590C9 63%, #70B8EB 100%);
    background-image: -ms-linear-gradient(bottom, #267CC2 26%, #4590C9 63%, #70B8EB 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.26, #267CC2),
        color-stop(0.63, #4590C9),
        color-stop(1, #70B8EB)
    );
    border: 0px;
    border-radius: 3px;
    clear: both;
    color: #fff;
    display: block;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 250px;
}

button {
    float: left;
    line-height: 18px;
    margin-top: 20px;
}

.content-wrapper ol {
    list-style-type: disc;
    margin-left: 30px;
}

.content-wrapper ol li {
    margin-bottom: 10px;
}

ol.videos {
    margin-left: 0px;
}

ol.videos li {
    float: left;
    list-style-type: none;
    margin: 0px 25px 35px 0px;
    overflow: hidden;
    position: relative;
    width: 252px;
}

.video-details {
    margin-top: 10px;
}

.video-details a {
    clear: both;
    display: block;
    float: left;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 252px;
}

.content-wrapper .video-details a.title {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
}

.content-wrapper .video-details a {
    color: #c74c09;
    font-size: 14px;
}

.profile-header {
    background-image: url('../../img/profile-banner.png');
    background-repeat: repeat-x;
    height: 61px;
    margin: -10px 0px 5px 0px;
}

.profile-header .avatar {
    display: block;
    float: left;
}

.profile-header .content-wrapper {
    padding: 15px 0px 15px 0px;
}

.profile-header .content-wrapper span.user {
    clear: none;
    display: block;
    float: left;
    font-size: 24px;
    line-height: 35px;
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 205px;
}

.content-wrapper {
    min-height: 700px;
}

.content-wrapper p {
    margin-bottom: 20px;
}

.category {
    width: 252px;
}

.category a {
    clear: none;
    display: inline;
    float: none;
    width: auto;
}

.content-wrapper a.vote {
    background-image: url('../../img/vote.png');
    background-position: -30px;
    background-repeat: no-repeat;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    height: 30px;
    line-height: 28px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 31px;
    z-index: 5;
}

.content-wrapper a.vote:hover, .content-wrapper a.vote.on {
    background-position: 0px;
    color: #111;
    width: 30px;
}

ul.user-actions {
    clear: none;
    display: block;
    float: right;
    margin-left: 10px;
}

ul.user-actions li {
    float: left;
    list-style-type: none;
    margin-right: 10px;
    text-align: right;
}

ul.user-actions li a, .footer-wrapper li span {
    color: #76838d;
    font-family: Open Sans, sans-serif;
    font-size: 12px;
}

.content-wrapper ul.partners {
    display: block;
    float: none;
    margin: 0 auto;
    width: 174px;
}

.partners li {
    list-style-type: none;
    margin-bottom: 20px;
    width: 174px;
}

.footer-wrapper {
    font-family: Open Sans, sans-serif;
    padding: 20px;
    text-align: center;
}

form.search {
    width: 252px;
}
