.wrapper {
  margin: 0 auto;
  width: 960px;
}

#header li, #footer li {
  float: left;
  list-style-type: none;
  margin-right: 10px;
}

.gravatar {
    height: 32px;
    width: 32px;
}

.home {
  margin: 20px 0px 20px 0px;
}

.home button {
  display: block;
  font-size: 30px;
  margin: 0 auto;
  padding: 10px;
  width: 300px;
}
