<div class="slide-generic slide slide-shootingpeople">
  <img class="backdrop" src="{{ static('img/home/promo-backdrop-shootingpeople.jpg') }}" alt="">
  <div class="slide-desc">
    <h2>{{ _('Meet <br>Shooting People') }}</h2>
    <p>
      {% trans %}
      Learn more about this network of indie filmmakers,
      including your chance to get a free membership.
      {% endtrans %}
    </p>
    <p class="act">
      <a href="http://firefoxflicks.tumblr.com/post/48927695550/meet-shooting-people-and-you-could-get-a-free-1-year"
        class="go" rel="external">{{ _('Read the blog post') }}</a>
      <span>* {{ _('English only') }}</span>
    </p>
  </div>
</div>
