<div class="slide-generic slide slide-winbig">
  <img class="backdrop" src="{{ static('img/home/promo-backdrop-winbig.jpg') }}" alt="">
  <div class="slide-desc">
    <h2>{{ _('Win big, <br>win often') }}</h2>
    <p>
      {% trans %}
      There are many prizes and many chances to win throughout 
      the competition. Learn more about this year's amazing awards.
      {% endtrans %}
    </p>
    <p class="act">
      <a href="http://tmblr.co/ZIO4nvj0zBWE"
        class="go" rel="external">{{ _('Read the blog post') }}</a>
      <span>* {{ _('English only') }}</span>
    </p>
  </div>
</div>
