<div class="slide-generic slide slide-blogpost">
  <img class="backdrop" src="{{ static('img/home/promo-backdrop-voting.jpg') }}" alt="">
  <div class="slide-desc">
    <h2>{{ _('Voting Starts August 1st') }}</h2>
    <p>
      {% trans %}
      You're not just competing for the Grand Prize. You could also win a
      People's Choice Award. Get tips to help your flick get votes.
      {% endtrans %}
    </p>
    <p class="act">
      <a href="http://tmblr.co/ZIO4nvmDBKFG"
        class="go" rel="external">{{ _('Read the blog post') }}</a>
      <span>* {{ _('English only') }}</span>
    </p>
  </div>
</div>
