<div class="slide-generic slide slide-recap">
  <img class="backdrop" src="{{ static('img/home/promo-backdrop-nowe.jpg') }}" alt="">
  <div class="slide-desc">
    <h2>{{ _('A look back at Warsaw and Manila') }}</h2>
    <p>
      {% trans %}
      Flicks has been walking the red carpet this summer at the New Horizons and
      Cinemalaya film festivals. Catch up with our official recap.
      {% endtrans %}
    </p>
    <p class="act">
      <a href="http://tmblr.co/ZIO4nvkWFTD0"
        class="go" rel="external">{{ _('Read the blog post') }}</a>
      <span>* {{ _('English only') }}</span>
    </p>
  </div>
</div>
