<div class="slide-generic slide slide-schwartzberg">
  <img class="backdrop" src="{{ static('img/home/promo-backdrop-schwartzberg.jpg') }}" alt="">
  <div class="slide-desc">
    <h2>{{ _('Meet Louie Schwartzberg') }}</h2>
    <p>
      {% trans %}
      A Flicks judge and award-winning cinematographer, 
      Louie is the brains and vision behind Moving Art.        
      {% endtrans %}
    </p>
    <p class="act">
      <a href="http://tmblr.co/ZIO4nviVySUC" class="go" rel="external">{{ _('Read the blog post') }}</a>
      <span>* {{ _('English only') }}</span>
    </p>
  </div>
</div>
