<div class="slide-generic slide slide-judges">
  <img class="backdrop" src="{{ static('img/home/promo-backdrop-judges.jpg') }}" alt="">
  <div class="slide-desc">
    <h2>{{ _('Meet The Judges') }}</h2>
    <p>
      {% trans %}
        Get your flick in front of Edward Norton and the rest of our all-star cast.
      {% endtrans %}
    </p>
    <p class="act">
      <a href="http://firefoxflicks.tumblr.com/tagged/judges" class="go" rel="external">{{ _('Read the blog post') }}</a>
      <span>* {{ _('English only') }}</span>
    </p>
  </div>
</div>
