<div class="slide-generic slide slide-creative">
  <img class="backdrop" src="{{ static('img/home/promo-backdrop-creative.jpg') }}" alt="">
  <div class="slide-desc">
    <h2>{{ _('Get Creative (Commons)') }}</h2>
    <p>
      {% trans %}
      Learn about our Creative Commons partnership and how 
      you can use their licensed materials in your flick.
      {% endtrans %}
    </p>
    <p class="act">
      <a href="http://tmblr.co/ZIO4nviR3skS" class="go" rel="external">{{ _('Read the blog post') }}</a>
      <span>* {{ _('English only') }}</span>
    </p>
  </div>
</div>
