<div class="slide-generic slide slide-winner">
  <img class="backdrop" src="{{ static('img/home/promo-backdrop-winner.jpg') }}" alt="">
  <div class="slide-desc">
    <h2>{{ _('Make your flick a winner') }}</h2>
    <p>
      {% trans %}
      We've partnered with some great brands to bring you a 
      number of free assets that you can use to help your 
      flick stand out.
      {% endtrans %}
    </p>
    <p class="act">
      <a href="http://firefoxflicks.tumblr.com/tagged/Filmmaker-Resources" class="go" rel="external">{{ _('Read the blog post') }}</a>
      <span>* {{ _('English only') }}</span>
    </p>
  </div>
</div>
