<div class="slide-generic slide slide-mobilized">
  <img class="backdrop" src="{{ static('img/home/promo-backdrop-mobilized.jpg') }}" alt="">
  <div class="slide-desc">
    <h2>{{ _('Tips for <br>winning flicks') }}</h2>
    <p>
      {% trans %}
        Take an in-depth look at the creative brief and get advice from the Flicks 
        team to give your flick the best shot at the Grand Prize.
      {% endtrans %}
    </p>
    <p class="act">
      <a href="http://firefoxflicks.tumblr.com/post/49510500329/what-does-get-mobilized-mean-to-us" class="go" rel="external">{{ _('Read the blog post') }}</a>
      <span>* {{ _('English only') }}</span>
    </p>
  </div>
</div>
