<div class="slide-generic slide slide-winner">
  <img class="backdrop" src="{{ static('img/home/promo-backdrop1.jpg') }}" alt="">
  <div class="slide-desc">
    <h2>{{ _('Now playing: May 29 winners') }}</h2>
    <p>
      {% trans %}
        Help us congratulate our second group of Early Entry Award winners 
        who automatically qualify for the Grand Prize.      
      {% endtrans %}
    </p>
    <p class="act">
      <a href="http://tmblr.co/ZIO4nvkWEaDc" class="go" rel="external">{{ _('Read the blog post') }}</a>
      <span>* {{ _('English only') }}</span>
    </p>

    <a href="https://vimeo.com/67201988" class="video-play" data-vimeo-id="67201988">
      <img src="{{ static('img/home/vidthumb-promo-partofit.jpg') }}" alt="" class="thumbnail">
      <div>{{ _('Watch the winning flick') }}</div>
    </a>
  </div>
</div>
