<div class="slide-generic slide slide-earlyentry">
  <img class="backdrop" src="{{ static('img/home/promo-backdrop-earlyentry-alt.jpg') }}" alt="">
  <div class="slide-desc">
    <h2>{{ _('Enter by') }} {{ _('July 31') }}</h2>
    <p>
      {% trans %}
        Time is running out! Get your flick in soon to qualify 
        for the Grand Prize and People's Choice Awards.
      {% endtrans %}
    </p>
    <p class="act">
      <a href="{{ url('flicks.videos.upload') }}" class="requires-auth go">{{ _('Enter today') }}</a>
    </p>
  </div>
</div>



