<div class="slide-generic slide slide-winner">
  <img class="backdrop" src="{{ static('img/home/promo-backdrop-winner-alt.jpg') }}" alt="">
  <div class="slide-desc">
    <h2>{{ _('Congratulations to our winners') }}</h2>
    <p>
      {% trans %}
        The votes are in and we're excited to present the winners of Firefox 
        Flicks 2013. Thanks to everyone who entered!
      {% endtrans %}
    </p>
    <p class="act">
      <a href="http://tmblr.co/ZIO4nvuGFA7U" class="go" rel="external">{{ _('Watch the winning flicks') }}</a>
      <span>* {{ _('English only') }}</span>
    </p>

    <a href="https://vimeo.com/71322691" class="video-play" data-vimeo-id="71322691">
      <img src="{{ static('img/home/vidthumb-spot-difference.jpg') }}" alt="" class="thumbnail">
      <div>{{ _('Watch the winning flick') }}</div>
    </a>
  </div>
</div>
