<div id="slide-three" class="slide">
  <img class="backdrop" src="{{ static('img/home/promo-backdrop1.jpg') }}" alt="">
  <div class="slide-desc">
    <h2>{{ _('Now playing') }}: <br>{{ _('Directors&#8217; cuts') }}</h2>
    <p>
      {% trans %}
        Learn more about last year's winners and get some advice on making your own winning flick.
      {% endtrans %}
    </p>
    <a href="https://vimeo.com/59439701" class="video-play" data-vimeo-id="59439701">
      <img src="{{ static('img/home/vidthumb-promo-falling.jpg') }}" alt="{{ _('Directors&#8217; cuts') }}" class="thumbnail">
    </a>
  </div>
</div>
