{% extends 'base.html' %}

{% block page_title %}{{ video.title }}{% endblock %}

{% block site_js %}
  {{ super() }}
  {{ js('video_details') }}
{% endblock %}

{% block content %}
    <h1>{{ video.title }}</h1>
    <div>
      {{ video.embed_html }}
    </div>
    <div>
      <button id="upvote"
              data-shortlink="{{ video.shortlink }}"
              data-upvote-url="{{ url('flicks.videos.upvote', video.shortlink)}}"
              data-token="{{ csrf_token }}">
        {{ _('Upvote') }}
      </button>
      <div id="vote-count" data-votes="{{ video.votes }}">{{ video.votes }}</div>
    </div>
{% endblock %}
