{% extends 'base.html' %}

{% block page_title %}{{ _('Video Details') }}{% endblock %}

{% block site_js %}
  {{ super() }}
  {{ js('video_details') }}
{% endblock %}

{% block content %}
    <h1>{{ _('Video Details Page') }}</h1>
    <div>
      {{ video.embed_html }}
    </div>
    <div>
      <button id="upvote"
              data-shortlink="{{ video.shortlink }}"
              data-upvote-url="{{ url('flicks.videos.upvote', video.shortlink)}}"
              data-token="{{ csrf_token }}">
        Upvote!
      </button>
      <div id="vote-count" data-votes="{{ video.votes }}">{{ video.votes }}</div>
    </div>
{% endblock %}
