{# L10n: Occurs at the beginning of emails sent by the site. #}
{{ _('Dear Firefox Flicks filmmaker,') }}

{# L10n: Part of email sent when there is an error converting an uploaded video. #}
{% trans title=video.title%}
There was an error in processing your video '{{ title }}'. Please upload your video
from a personal server or tool like Dropbox. If you are using Dropbox, please make
sure to set your video to public.
{% endtrans %}


{# L10n: Part of email sent when there is an error converting an uploaded video. #}
{% trans email=flicks_email %}
If you continue to have problems uploading, please contact us as {{ email }} .
{% endtrans %}


{# L10n: Occurs at the end of emails sent by the site. #}
{{ _('Yours,') }}
{# L10n: Occurs at the end of emails sent by the site. #}
{{ _('The Firefox Flicks team') }}

**************

{% trans email=flicks_email %}
Have a question about Firefox Flicks? Please contact us at {{ email }}
{% endtrans %}

{% trans link=facebook_link %}
Like Firefox Flicks on Facebook: {{ link }}
{% endtrans %}

{% trans link=twitter_link %}
Follow Firefox Flicks on Twitter: {{ link }}
{% endtrans %}
