{# L10n: Occurs at the beginning of emails sent by the site. #}
{{ _('Dear Firefox Flicks filmmaker,') }}

{# L10n: Part of email sent when an uploaded video is finished being converted. #}
{% trans %}
Thank you for submitting your video to Firefox Flicks! Your flick is
now processed and ready for sharing.
{% endtrans %}

{{ video_link }}

{# L10n: Part of email sent when an uploaded video is finished being converted. #}
{{ _('Thanks and best of luck in the contest.') }}

{# L10n: Occurs at the end of emails sent by the site. #}
{{ _('Yours,') }}
{# L10n: Occurs at the end of emails sent by the site. #}
{{ _('The Firefox Flicks team') }}

**************

{% trans email=flicks_email %}
Have a question about Firefox Flicks? Please contact us at {{ email }}
{% endtrans %}

{% trans link=facebook_link %}
Like Firefox Flicks on Facebook: {{ link }}
{% endtrans %}

{% trans link=twitter_link %}
Follow Firefox Flicks on Twitter: {{ link }}
{% endtrans %}
