{% extends 'base.html' %}
{% from 'shared/macros.html' import share_container %}

{% block page_title %}{{ video_title }}{% endblock %}

{% block site_js %}
  {{ super() }}
  {{ js('promo_video') }}
{% endblock %}

{% block og_title %}{{ video_title }}{% endblock %}
{% block og_type %}article{% endblock %}
{% block og_url %}{{ request.build_absolute_uri() }}{% endblock %}
{% block meta_description -%}
  <meta property="og:description" content="{{ video_description }}">
{%- endblock %}

{% block content %}
  <h1>{{ video_title }}</h1>
  <div class="video-details">
    <p>
      {{ video_description }}
    </p>
  </div>
  <div class="video-content">
    <div class="video-wrapper">
      {{ video_embed }}
    </div>
    {{ share_container(tweet_text, request.build_absolute_uri()) }}
  </div>
{% endblock %}
