{% extends 'base.html' %}

{% block page_title %}{{ _('2013 gallery') }}{% endblock %}

{% block og_title %}{{ _('2013 gallery') }}{% endblock %}
{% block og_type %}article{% endblock %}
{% block og_url %}{{ request.build_absolute_uri() }}{% endblock %}

{% block site_css %}
  {{ super() }}
  {{ css('archive_css') }}
{% endblock %}

{% block site_js %}
  {{ super() }}
  {{ js('gallery_js') }}
{% endblock %}

{% block content %}
  <div class="section wrap">
    <h1 class="page-title">{{ _('Welcome to the<br> Firefox Flicks 2013 gallery') }}</h1>
    <div class="section-intro">
      <p>
      {% trans %}
        This year we're asking filmmakers and Firefox fans to inspire 
        others to get mobilized by telling the world about the power and 
        potential of mobile. Have a look at the entries and be sure to 
        share you favorites with your friends.
      {% endtrans %}
      </p>
    </div>
    
    <ul class="entry-list">
      <li class="entry">
        <a href="/video/ID">
          <img src="{{ static('img/home/vidthumb-falling.jpg') }}" alt="" class="thumbnail">
          <hgroup>
            <h2>Video Title</h2>
            <h3 class="vcard">
              <span class="fn">Filmmaker Name</span>,
              <span class="country-name">Country</span>
            </h3>
          </hgroup>
        </a>
        <p>Submitted <time datetime="2013-01-27">January 27, 2013</time></p>
        <p>23 votes</p>
      </li>
      <li class="entry">
        <a href="/video/ID">
          <img src="{{ static('img/home/vidthumb-hero.jpg') }}" alt="" class="thumbnail">
          <hgroup>
            <h2>Twenty Years to Midnight</h2>
            <h3 class="vcard">
              <span class="fn">Rusty Venture</span>,
              <span class="country-name">United States</span>
            </h3>
          </hgroup>
        </a>
        <p>Submitted <time datetime="2013-01-25">January 25, 2013</time></p>
        <p>77 votes</p>
      </li>
      <li class="entry">
        <a href="/video/ID">
          <img src="{{ static('img/home/vidthumb-squares.jpg') }}" alt="" class="thumbnail">
          <hgroup>
            <h2>Troglodytes Aedon</h2>
            <h3 class="vcard">
              <span class="fn">Betty Aberlin</span>,
              <span class="country-name">Australia</span>
            </h3>
          </hgroup>
        </a>
        <p>Submitted <time datetime="2013-01-25">January 25, 2013</time></p>
      </li>

      <li class="entry">
        <a href="/video/ID">
          <img src="{{ static('img/home/vidthumb-weird.jpg') }}" alt="" class="thumbnail">
          <hgroup>
            <h2>Return to the Pyramids of Androzani - Part 3: Mummy Dearest</h2>
            <h3 class="vcard">
              <span class="fn">Peter Pettigrew</span>,
              <span class="country-name">Romania</span>
            </h3>
          </hgroup>
        </a>
        <p>Submitted <time datetime="2013-01-21">January 21, 2013</time></p>
        <p>1 vote</p>
      </li>
      <li class="entry">
        <a href="/video/ID">
          <img src="{{ static('img/home/vidthumb-fenwick.jpg') }}" alt="" class="thumbnail">
          <hgroup>
            <h2>Return to the Pyramids of Androzani - Part 2: Anubis' Colony</h2>
            <h3 class="vcard">
              <span class="fn">Peter Pettigrew</span>,
              <span class="country-name">Romania</span>
            </h3>
          </hgroup>
        </a>
        <p>Submitted <time datetime="2013-01-21">January 20, 2013</time></p>
      </li>
      <li class="entry">
        <a href="/video/ID">
          <img src="{{ static('img/home/vidthumb-hero.jpg') }}" alt="" class="thumbnail">
          <hgroup>
            <h2>Eggshells</h2>
            <h3 class="vcard">
              <span class="fn">Rebecca Bean</span>,
              <span class="country-name">Canada</span>
            </h3>
          </hgroup>
        </a>
        <p>Submitted <time datetime="2013-01-21">January 17, 2013</time></p>
        <p>2271 votes</p>
      </li>

      <li class="entry">
        <a href="/video/ID">
          <img src="{{ static('img/home/vidthumb-paranoid.jpg') }}" alt="" class="thumbnail">
          <hgroup>
            <h2>Return to the Pyramids of Androzani - Part 1: Asp and Ye Shall Recieve</h2>
            <h3 class="vcard">
              <span class="fn">Peter Pettigrew</span>,
              <span class="country-name">Romania</span>
            </h3>
          </hgroup>
        </a>
        <p>Submitted <time datetime="2013-01-17">January 17, 2013</time></p>
        <p>13 votes</p>
      </li>
      <li class="entry">
        <a href="/video/ID">
          <img src="{{ static('img/home/vidthumb-falling.jpg') }}" alt="" class="thumbnail">
          <hgroup>
            <h2>Hermitology</h2>
            <h3 class="vcard">
              <span class="fn">Itzakh Zdronk</span>,
              <span class="country-name">Poland</span>
            </h3>
          </hgroup>
        </a>
        <p>Submitted <time datetime="2013-01-21">January 14, 2013</time></p>
        <p>601 votes</p>
      </li>
      <li class="entry">
        <a href="/video/ID">
          <img src="{{ static('img/home/vidthumb-weird.jpg') }}" alt="" class="thumbnail">
          <hgroup>
            <h2>The Kraken's Revenge</h2>
            <h3 class="vcard">
              <span class="fn">Galan Taa</span>,
              <span class="country-name">Austria</span>
            </h3>
          </hgroup>
        </a>
        <p>Submitted <time datetime="2013-01-17">January 17, 2013</time></p>
        <p>161 votes</p>
      </li>

      <li class="entry">
        <a href="/video/ID">
          <img src="{{ static('img/home/vidthumb-fenwick.jpg') }}" alt="" class="thumbnail">
          <hgroup>
            <h2>Bagashin</h2>
            <h3 class="vcard">
              <span class="fn">Emi Enoue</span>,
              <span class="country-name">Japan</span>
            </h3>
          </hgroup>
        </a>
        <p>Submitted <time datetime="2013-01-21">January 12, 2013</time></p>
        <p>17 votes</p>
      </li>
      <li class="entry">
        <a href="/video/ID">
          <img src="{{ static('img/home/vidthumb-squares.jpg') }}" alt="" class="thumbnail">
          <hgroup>
            <h2>Tooth and Claw</h2>
            <h3 class="vcard">
              <span class="fn">Esmerelda Villalobos</span>,
              <span class="country-name">Colombia</span>
            </h3>
          </hgroup>
        </a>
        <p>Submitted <time datetime="2013-01-21">January 11, 2013</time></p>
      </li>
      <li class="entry">
        <a href="/video/ID">
          <img src="{{ static('img/home/vidthumb-paranoid.jpg') }}" alt="" class="thumbnail">
          <hgroup>
            <h2>The Plunge</h2>
            <h3 class="vcard">
              <span class="fn">Archibald Vardos</span>,
              <span class="country-name">USA</span>
            </h3>
          </hgroup>
        </a>
        <p>Submitted <time datetime="2013-01-21">January 9, 2013</time></p>
        <p>2271 votes</p>
      </li>
    </ul>

    <div class="pagination">
      <ol>
        <li class="prev"><a href="/2">Previous page</a></li>
        <li><a href="/1"><span>Go to page </span>1</a></li>
        <li><a href="/2"><span>Go to page </span>2</a></li>
        <li class="current"><span>You're on page </span>3</li>
        <li><a href="/4"><span>Go to page </span>4</a></li>
        <li><a href="/5"><span>Go to page </span>5</a></li>
        <li><a href="/6"><span>Go to page </span>6</a></li>
        <li class="gap">&hellip;</li>
        <li><a href="/21"><span>Skip ahead to page </span>21</a></li>
        <li><a href="/22"><span>Skip ahead to page </span>22</a></li>
        <li class="next"><a href="/4">Next page</a></li>
      </ol>
    </div>
    
    <aside id="trailers" class="samples">
      <h2>{{ _('Flicks trailers') }}</h2>
      <p>
      {% trans %}
        If you're thinking about entering, you can also watch our promos 
        to get inspired and learn more about making your winning flick.
      {% endtrans %}
      </p>
    
      <ul class="entry-list">
        <li class="entry">
          <a href="/video/ID" class="video-play" data-vimeo-id="57743653">
            <img src="{{ static('img/home/vidthumb-fenwick.jpg') }}" alt="" class="thumbnail">
            <hgroup>
              <h2>Example One</h2>
            </hgroup>
          </a>
        </li>
        <li class="entry">
          <a href="/video/ID" class="video-play" data-vimeo-id="57743653">
            <img src="{{ static('img/home/vidthumb-weird.jpg') }}" alt="" class="thumbnail">
            <hgroup>
              <h2>Example Two</h2>
            </hgroup>
          </a>
        </li>
        <li class="entry">
          <a href="/video/ID" class="video-play" data-vimeo-id="57743653">
            <img src="{{ static('img/home/vidthumb-paranoid.jpg') }}" alt="" class="thumbnail">
            <hgroup>
              <h2>Example Three</h2>
            </hgroup>
          </a>
        </li>
      </ul>
    </aside>

  </div>
{% endblock %}
