{% extends 'base.html' %}
{% from 'shared/macros.html' import paginate, display_search_form, video_item %}

{% if search %}
  {% set title=_('Video Search Results') %}
{% else %}
  {% set title=_('Videos') %}
{% endif %}

{% block page_title %}{{ title }}{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>
  <form>
    {{ display_search_form(search_form) }}
  </form>
  {% if videos|length > 0 %}
    <ol class="videos">
      {% for video in videos %}
        {{ video_item(loop.index, video) }}
      {% endfor %}
    </ol>

    {{ paginate(show_pagination, video_pages, url('flicks.videos.recent')) }}
  {% else %}
    <p class="search-message">{{ _('Sorry, no videos found. Please try another search.') }}</p>
  {% endif %}
{% endblock %}
