{% extends 'base.html' %}
{% from 'shared/macros.html' import form_section %}

{% block page_title %}{{ _('Upload a Video') }}{% endblock %}

{% block content %}
    <h1>{{ _('Upload a Video') }}</h1>
    <p>
      {% trans dropbox='http://dropbox.com', vidly='http://vid.ly' %}
        Upload your video to a personal server or to a service like
        <a href="{{ dropbox }}" title="Dropbox">Dropbox</a>, then paste
        the URL for your flick below. We will be reposting all videos to a
        contest gallery on <a href="{{ vidly }}" title="Vid.ly">Vid.ly</a>. Don't
        forget to give your flick a title, select the video category you are
        entering it in and choose your region and then press &#34;upload.&#34; We
        will email you when your entry has been processed.
      {% endtrans %}
    </p>
    <form method="post">
      {{ csrf() }}

      {% if upload_form.errors %}
        <p class="form-errors">
          {{ _("Sorry, but there were problems with the info you submitted.
                Please review the form, correct any errors, and try again.") }}
        </p>
      {% endif %}

      {% for f in ['title', 'description', 'upload_url', 'category', 'region'] %}
        {{ form_section(f, upload_form) }}
      {% endfor %}

      <div class="agreement field">
        {{ upload_form['agreement'] }}
        {{ upload_form['agreement'].label_tag() }}
      </div>
      <button type="submit">{{ _('Upload') }}</button>
    </form>
{% endblock %}
