{% extends 'bare.html' %}

{% block page_title %}{{ _('Submit your flick') }}{% endblock %}

{% block site_css %}
  {{ css('flicks_css') }}
  {{ css('upload') }}
{% endblock %}

{% block site_js %}
  {{ js('jquery') }}
  {{ js('flicks_js') }}
  {{ js('upload') }}
{% endblock %}

{% block body %}
  <main id="page" role="main">
    <h1 class="page-title">{{ _('Submit your flick') }}</h1>

    <ol class="steps">
      <li class="done">{{ _('Sign in to Flicks') }}</li>
      <li class="done">{{ _('Enter your information') }}</li>
      <li class="current">{{ _('Submit your flick') }}</li>
    </ol>

    <div id="submit-video" class="user-input">
      <form id="vimeo-file-upload" action="{{ ticket['endpoint_secure'] }}">
        <div class="rules">
          <h2>{{ _('Rules for uploading') }}</h2>
          <ol>
            <li>
              <i>1</i>
            {% trans %}
              Your entry may be no longer than 60 seconds.
            {% endtrans %}
            </li>
            <li>
              <i>2</i>
            {% trans link_vimeoformat='http://vimeo.com/help/compression' %}
              Your entry must be in a format that can be uploaded to Vimeo
              (see <a href="{{ link_vimeoformat }}" rel="external">vimeo.com/help/compression</a>
              for details).
            {% endtrans %}
            </li>
            <li>
              <i>3</i>
            {% trans %}
              Your entry must be your original work and may not include any
              unauthorized third party intellectual property (such as a video clip,
              music or visible brand name or logo you do not have a license to use).
            {% endtrans %}
            </li>
            <li>
              <i>4</i>
            {% trans %}
              Your video will be posted to both the Firefox Flicks website and
              the Vimeo website under a Firefox Flicks account.
            {% endtrans %}
            </li>
          </ol>

          <p>
          {% trans link_rules=url('flicks.base.rules') %}
            Please read the <a href="{{ link_rules }}" rel="external">official contest rules</a> before submitting your video.
          {% endtrans %}
          </p>
        </div>

        <div id="file-select">
          <span class="file-button">
            <strong class="button">{{ _('Choose a video to upload') }}</strong>
            <input type="file" name="file_data">
          </span>
        </div>

      </form>

      <form id="video-form" method="POST">
        <fieldset>
          {{ csrf() }}
          <div class="video-data">
            <h2>{{ _('Your flick') }}</h2>

            <div class="progress">
              <span class="filename"></span>
              <span class="filesize"></span>
              <button type="button" class="remove">{{ _('Remove') }}</button>
              <div class="bar" style="width: 0%;"></div>
            </div>
          </div>

          <div class="video-info">
            <p class="col1">
              {{ form.title.label_tag(_('Name your flick')) }} {{ form.title }}
              <em class="note">{{ _('Be concise, yet unique') }}</em>
            </p>
            <p class="col2">
              {{ form.description.label_tag(_('Describe your flick')) }}
              {{ form.description }}
              <em class="note">{{ _('In 1-3 sentences. This is what people will see when they view or share your video.') }}</em>
            </p>
          </div>

          {{ form.filename }}
          {{ form.filesize }}
        </fieldset>

        <div class="form-control">
          <button type="submit" disabled class="button next disabled">{{ _('Next') }}</button>
        </div>
      </form>

    </div>
  </main>
{% endblock %}
