{% extends 'bare.html' %}

{% from 'macros.html' import facebookShare, twitterShare, tumblrShareUrl %}

{% block page_title %}{{ _('Submit your flick') }}{% endblock %}

{% block site_css %}
  {{ css('flicks_css') }}
  {{ css('upload') }}
{% endblock %}

{% block site_js %}
  {{ js('jquery') }}
  {{ js('flicks_js') }}
  {{ js('upload') }}
{% endblock %}

{% block body %}
  <main id="page" role="main">
    <h1 class="page-title">{{ _('Submit your flick') }}</h1>

    <ol class="steps">
      <li class="done">{{ _('Sign in to Flicks') }}</li>
      <li class="done">{{ _('Enter your information') }}</li>
      <li class="done">{{ _('Submit your flick') }}</li>
    </ol>

    <div id="upload-complete" class="user-input">
      <h2>{{ _('Hooray! Your upload is complete.') }}</h2>
      <p class="bonus">
      {% trans link_home=url('flicks.base.home') %}
        Bonus: For getting your flick in early, you're eligible for an Early Entry
        Award and a chance to automatically qualify for the Grand Prize finals.
        <a href="{{ link_home }}#prizes" rel="external">Learn more</a>.
      {% endtrans %}
      </p>

      <p>
      {% trans %}
        Your video is now processing. Once it's reviewed, we'll send you an email
        to let you know where to find it. Until then, spread the word about Firefox Flicks!
      {% endtrans %}
      </p>

      <ul class="share">
        {% set url = absolutify(url('flicks.base.home')) %}
        {% set text = _('You\'re the director. Mobile is the star.') %}
        <li>
          <a href="{{ facebookShare(url) }}" class="facebook" rel="external" data-window-opts="toolbar=0, status=0, resizable=1, width=626, height=436">
            Facebook
          </a>
        </li>
        <li>
          <a href="{{ twitterShare(url, text, via='firefoxflicks') }}" class="twitter" rel="external" data-window-opts="toolbar=0, status=0, resizable=1, width=626, height=436">
            Twitter
          </a>
        </li>
        <li>
          <a href="{{ tumblrShareUrl(url, title=_('Firefox Flicks'), description=text) }}" class="tumblr" rel="external" data-window-opts="toolbar=0, status=0, resizable=1, width=626, height=436">
            Tumblr
          </a>
        </li>
      </ul>

    </div>

  </main>
{% endblock %}
