{% extends 'bare.html' %}

{% block page_title %}{{ _('Submit your flick') }}{% endblock %}

{% block site_css %}
  {{ css('flicks_css') }}
  {{ css('upload') }}
{% endblock %}

{% block site_js %}
  {{ js('jquery') }}
  {{ js('upload') }}
{% endblock %}

{% block body %}
  <main id="page" role="main">

    <div id="upload-complete" class="user-input">
      <h2>{{ _('Oh no, something went wrong!') }}</h2>
      <p>
      {% trans link_vimeoformat='http://vimeo.com/help/compression'
        link_upload='flicks.videos.upload' %}
        There was an error in the upload process. Please <a href="{{ link_upload }}">try again</a>, 
        and be sure you're uploading a video in <a href="{{ link_vimeoformat }}" rel="external">one of our supported file formats</a>. 
      {% endtrans %}
      </p>
      
      <p>
      {% trans %}
        If you continue to see this message, please wait and try again later.
      {% endtrans %}
      </p>
      
    </div>

  </main>
{% endblock %}
