{% extends 'base.html' %}
{% from 'shared/macros.html' import paginate, display_search_form, video_item %}

{% block page_title %}{{ profile.full_name }}{% endblock %}

{% block titlebar %}
  {% if request.user.is_active and not profile == user.userprofile %}
    <div class="avatar">
      {{ gravatar_img(profile.user, size=36) }}
    </div>
    <span class="title">{{ profile.full_name }}</span>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="user-metadata">
    <div class="user-details">
      <div class="left-col">{{ gravatar_img(profile.user, size=140) }}</div>
      <div class="right-col">
        <h1>{{ profile.full_name }}</h1>

        <p>{{ profile.country }}</p>

        {% if profile.website %}
          <p>
            <a href="{{ profile.website }}">{{ profile.website }}</a>
          </p>
        {% endif %}

        {% if user == request.user %}
          <a href="{{ url('flicks.users.edit_profile') }}" class="button">{{ _('Edit your profile') }}</a>
        {% endif %}
      </div>
      <p class="bio">{{ profile.bio }}</p>
    </div>
  </div>

  <h2>
    {% if user == profile %}
      {{ _('Your Videos') }}
    {% else %}
      {{ _('Videos') }}
    {% endif %}
  </h2>

  <form>
    {{ display_search_form(search_form) }}
  </form>

  {% if videos|length > 0 %}
    <ol class="videos">
      {% for video in videos %}
        {{ video_item(loop.index, video) }}
      {% endfor %}
    </ol>
    {{ paginate(show_pagination, video_pages, url('flicks.users.details', user_id=profile.user.id)) }}
  {% else %}
    <p class="search-message">{{ _('Sorry, no videos found. Please try another search.') }}</p>
  {% endif %}
{% endblock %}
