{% extends 'base.html' %}
{% from 'shared/macros.html' import form_section %}

{% if not profile %}
  {% set title = _('Create your profile') %}

  {% block userbar %}{% endblock %}
{% else %}
  {% set title = _('Edit your profile') %}
{% endif %}

{% block page_title %}
  {{ title }}
{% endblock %}

{% block content %}
  <div class="form-wrapper">
    <h1>{{ title }}</h1>
    <form method="post">
      {{ csrf() }}

      {% if edit_form.errors %}
        <p class="form-errors">
          {{ _("Sorry, but there were problems with the info you submitted.
                Please review the form, correct any errors, and try again.") }}
        </p>
      {% endif %}

      {% for f in ['full_name', 'country', 'website', 'bio'] %}
        {{ form_section(f, edit_form) }}
      {% endfor %}

      {% if profile %}
        <div class="field gravatar-content">
          <label for="id_avatar">{{ _('Avatar') }}</label>
          <span class="optional">&#xa0;</span>
          <div class="gravatar">
            {{ gravatar_img(user, size=60) }}
            <img src="{{ MEDIA_URL }}img/gravatar.png">
          </div>
          <div class="gravatar-link">
            {# The word 'Gravatar' isn't translated to other languages. #}
            <a href="http://gravatar.com">Gravatar</a>
            <span id="gravatar-tip">
              {{ _('to add or modify your avatar') }}
            </span>
          </div>
        </div>
      {% endif %}

      <p>
        {% trans %}
          We'd like to send you a prize pack to thank you for entering. If you'd like to
          receive it, please provide your mailing address. Your address will only be used
          for the purpose of sending you the gift and will not be shared with anyone. If
          you'd rather not provide your address, we totally understand.
        {% endtrans %}
      </p>

      {% for f in ['address', 'city', 'country', 'postal_code'] %}
        {{ form_section(f, edit_form) }}
      {% endfor %}

      <button type="submit">{{ _('Save') }}</button>
    </form>
  </div>
{% endblock %}
