{% extends 'minimal.html' %}

{% block page_title %}{{ _('Enter your information') }}{% endblock %}

{% block site_css %}
  {{ css('flicks_css') }}
  {{ css('upload') }}
{% endblock %}

{% block site_js %}
  {{ js('jquery') }}
  {{ js('flicks_js') }}
  {{ js('profile') }}
{% endblock %}

{% from 'macros.html' import input_in_label %}

{% block body_data %}
  data-region-map="{{ regions.countries|json }}"
{% endblock %}

{% block string_data %}
  data-region-{{ regions.NORTH_AMERICA }}="{{ region_name(regions.NORTH_AMERICA) }}"
  data-region-{{ regions.LATIN_AMERICA }}="{{ region_name(regions.LATIN_AMERICA) }}"
  data-region-{{ regions.EMEA }}="{{ region_name(regions.EMEA) }}"
  data-region-{{ regions.APAC }}="{{ region_name(regions.APAC) }}"
{% endblock %}

{% block content %}
  <div class="section">
    <div class="wrap">

    <h1 class="page-title">{{ _('Submit your flick') }}</h1>

    <ol class="steps">
      <li class="done">{{ _('Sign in to Flicks') }}</li>
      <li class="current">{{ _('Enter your information') }}</li>
      <li>{{ _('Submit your flick') }}</li>
    </ol>

    <form class="user-input" id="user-info" method='POST'>
      <fieldset id="account">
        <p class="legend">
        {% trans %}
          Thanks for entering Firefox Flicks, the global video contest
          about the power of mobile. To submit your flick, please tell us
          who you are and where you're from.
        {% endtrans %}
        </p>
        {{ csrf() }}
        <ul>
          <li class="col1">
            <em class="note">
              {{ _('Your name will be displayed publicly with your video.') }}
            </em>
            {{ form.full_name.label_tag(_('Full Name')) }} {{ form.full_name }}
          </li>
          <li class="col2">
            {{ form.nickname.label_tag(_('Nickname')) }} {{ form.nickname }}
          </li>
          <li class="col1">
            <em class="note">
              {{ _('Some prizes are awarded by region, so let us know what part of the world your flick is representing.') }}
            </em>
            {{ form.country.label_tag(_('Country')) }} {{ form.country }}
          </li>
          <li class="col2 region">
            {{ _('Region') }}: <span id="region"></span>
          </li>
        </ul>
      </fieldset>

        <fieldset id="address">
          <p class="legend">
          {% trans %}
            Mailing address (optional)
          {% endtrans %}
          </p>
          <ul>
            <li class="col1">
              <em class="note">
                {{ _('We ask for your address so we can send you an awesome gift for participating. Providing it is completely optional and we won\'t use it or keep it for any other purpose.') }}
              </em>
              {{ form.address1.label_tag(_('Address line 1')) }} {{ form.address1 }}
            </li>
            <li class="col2">
              {{ form.address2.label_tag(_('Address line 2')) }} {{ form.address2 }}
            </li>
            <li class="col1">
              {{ form.city.label_tag(_('City')) }} {{ form.city }}
            </li>
            <li class="col2">
              {{ form.mailing_country.label_tag(_('Country')) }} {{ form.mailing_country }}
            </li>
            <li class="col1">
              {{ form.state.label_tag(_('State/Province')) }} {{ form.state }}
            </li>
            <li class="col2">
              {{ form.postal_code.label_tag(_('Postal Code')) }} {{ form.postal_code }}
            </li>
          </ul>

          <ul>
            <li class="col1 check">
              {{ input_in_label(form.privacy_policy_agree,
                 _('I\'m okay with you handling my info as you explain in your <a href="{link}" rel="external">privacy policy</a>')|fe(link='http://www.mozilla.org/en-US/privacy-policy.html')) }}
            </li>
            {% if LANG.startswith('en') %}
              <li class="col2 check">
                {{ input_in_label(form.mailing_list_signup,
                                  _('I want to receive email updates about Firefox Flicks')) }}
              </li>
              <li class="col2">
                {# L10n: Refers to the format of an email, either HTML or Text. #}
                {{ form.mailing_list_format.label_tag(_('Format')) }} {{ form.mailing_list_format }}
              </li>
            {% endif %}
          </ul>
        </fieldset>
      </ul>

      <div class="form-control">
        <button type="submit" class="button next">{{ _('Next') }}</button>
      </div>
    </form>

    </div>
  </div>
{% endblock %}
