{% extends 'bare.html' %}

{% block page_title %}{{ _('Enter your information') }}{% endblock %}

{% block site_css %}
  {{ css('upload') }}
{% endblock %}

{% from 'macros.html' import input_in_label %}

{% block body %}
  <main id="page" role="main">
    <h1 class="page-title">{{ _('Submit your flick') }}</h1>
    
    <ol class="steps">
      <li class="done">{{ _('Sign in to Flicks') }}</li>
      <li class="current">{{ _('Enter your information') }}</li>
      <li>{{ _('Submit your flick') }}</li>
    </ol>
    
    <form class="user-input" id="user-info" method='POST'>
      <fieldset class="upload-form">
        <fieldset id="account">
          <p class="legend">
          {% trans %}
            Thanks for entering Firefox Flicks, the global video contest 
            about the power of mobile. To submit your flick, please tell us 
            who you are and where you're from.
          {% endtrans %}
          </p>
          {{ csrf() }}
          <ul>
            <li class="col1">
              <label for="full_name">{{ _('Full name') }}</label> 
              <input type="text" id="full_name" name="full_name">
            </li>
            <li class="col2">
              <label for="nickname">{{ _('Nickname (optional)') }}</label>
              <input type="text" id="nickname" name="nickname">
            </li>
            <li class="col1">
              <em class="note">* {{ _('Some prizes are awarded by region, so let us know what part of the world your flick is representing.') }}</em>
              <label for="country">{{ _('Country') }}</label>
              <select id="country" name="country"><option>USA</option><option>Canada</option></select>          
            </li>
            <li class="col2 region">{{ _('Region') }}: <span id="region">Europe, Middle East and Africa</span>
          </ul>
        </fieldset>
      
        <fieldset id="address">
          <p class="legend">
          {% trans %}
            Mailing address (optional)
          {% endtrans %}
          </p>
          <ul>
            <li class="col1">
              <em class="note">* {{ _('Provide your address to receive a special thank-you gift for entering.') }}</em>
              {{ _('Address line 1') }} form.address1
            </li>
            <li class="col2">{{ _('Address line 2') }} form.address2</li>
            <li class="col1">{{ _('City') }} form.city</li>
            <li class="col2">{{ _('Country') }} form.mailing_country</li>
            <li class="col2">{{ _('State/Province') }} form.state</li>
            <li class="col2">{{ _('Postal Code') }} form.postal_code</li>
          </ul>
        </fieldset>
      
        <ul>
          <li class="col1 check">
            <label for="agree"><input type="checkbox" id="agree" name="agree">{{ _('I\'m okay with you handling my info as you explain in your privacy policy') }}</label>
          </li>
          <li class="col2 check">
            <label for="subscribe"><input type="checkbox" id="subscribe" name="subscribe">{{ _('I want to receive email updates about Firefox Flicks (English only)') }}</label>
          </li>
        </ul>
      </fieldset>
      
      <p class="form-submit">
        <button type="submit" class="button go">Next</button>
      </p>
    </form>
  </main>
{% endblock %}
