{% extends 'videos/details_base.html' %}

{% from 'macros.html' import shareWidget with context %}

{% block page_title %}{{ video.title }}{% endblock %}

{% block og_title %}{{ video.title }}{% endblock %}
{% block og_image %}{{ absolutify(video.thumbnail_url) }}{% endblock %}
{% if video.description %}
  {% set meta_description = video.description %}
{% else %}
  {% set meta_description = _(
    'An entry for Firefox Flicks 2013, a global video contest about the power '
    'of mobile.'
  ) %}
{% endif %}

{% block video_embed %}
  {{ video.embed_html(width='100%') }}
{% endblock %}

{% block video_details %}
  <h1>{{ video.title }}</h1>

  <div class="vcard">

    {{ gravatar_img(video.user.email, img_class='photo', size=48) }}

    <div class="profile">
      <span class="fn">{{ video.user.profile.display_name }}</span>,
      <span class="country-name">{{ country_name(video.user.profile.country) }}</span>
    </div>
    <div class="region">
      <a href="{{ url('flicks.videos.list')|urlparams(region=video.region) }}">
        {{ region_name(video.region) }}
      </a>
    </div>
    <div class="date">{{ video.created|babel_date }}</div>
    {{ shareWidget(video) }}
  </div>

  {# TODO: Replace placeholder with actual button. #}
  {% set has_vote = video.has_vote_from(user) %}
  <button class="remove-vote {{ has_vote|ifeq(False, 'hidden') }}" data-url="{{ url('flicks.videos.unvote', video.id) }}">Unvote!</button>
  <button class="add-vote {{ has_vote|ifeq(True, 'hidden') }}" data-url="{{ url('flicks.videos.vote', video.id) }}">Vote!</button>

  <p class="description">{{ video.description }}</p>
{% endblock %}



