{% extends 'base.html' %}

{% from 'macros.html' import pagination %}

{% block page_title %}{{ _('2013 gallery') }}{% endblock %}

{% block og_title %}{{ _('2013 gallery') }}{% endblock %}
{% block og_type %}article{% endblock %}
{% block og_url %}{{ request.build_absolute_uri() }}{% endblock %}

{% block site_css %}
  {{ super() }}
  {{ css('videos') }}
{% endblock %}

{% block content %}
  <div class="section wrap">
  {% if waffle.flag('r3') %}
    <h1 class="page-title">{{ _('Voting is open!') }}</h1>
  {% else %}
    <h1 class="page-title">{{ _('Welcome to the<br> Firefox Flicks 2013 gallery') }}</h1>
  {% endif %}

    <div class="section-intro">
      <p>
      {% trans %}
        Welcome to the Firefox Flicks 2013 gallery. This year we asked filmmakers
        to tell stories about the power of the Web on mobile devices. Vote for
        your favorite flicks and be sure to share them with your friends.
      {% endtrans %}
      </p>

    {% if waffle.flag('r3') %}
      <p class="voting">
      <!-- If not signed in
      {% trans %}
        Start voting by clicking on your favorite videos.
      {% endtrans %}
      <!-- if signed in and no votes yet
      {% trans %}
        Hi there! It looks like you haven’t voted yet. Start voting now by clicking on your favorite videos.
      {% endtrans %}
      -->
      <!-- if signed in and at least one vote -->
      {% trans voted_gallery='link to gallery of voted videos',
          voted_count='23' %}
        Hi there! You have voted for <a href="{{ voted_gallery }}">{{ voted_count }} flicks</a> so far. Keep on voting!
      {% endtrans %}
      <!-- -->
      </p>
    </div>

      <form id="video-search" data-autocomplete-url="{{ url('flicks.videos.autocomplete') }}">
        {{ form.as_ul() }}
        <button type="submit">Search</button>
        <ul class="suggestions">
          <li class="title" data-field="title">
            Title: <span></span>
          </li>
          <li class="description" data-field="description">
            Description: <span></span>
          </li>
          <li class="author" data-field="author">
            Author Name: <span></span>
          </li>
        </ul>
      </form>

    <form class="search-form" action="#">
      <ul>
        <li class="search-region">
          <label for="region">{{ _('From region') }}</label>
          <select id="region" name="region">
            <option value="all" selected>{{ _('All regions') }}</option>
            <option value="northam">{{ _('North America') }}</option>
            <option value="latam">{{ _('Latin America') }}</option>
            <option value="emea">{{ _('Europe, Middle East, and Africa') }}</option>
            <option value="apac">{{ _('Asia and Pacific') }}</option>
          </select>
        </li>
        <li class="search-query">
          <input type="search" id="query" name="q" autocomplete="off">

          <ul id="search-suggest">
            <li><a href="?query=query&category=username">query <small class="category">in user name</small></a></li>
            <li><a href="?query=query&category=title">query <small class="category">in video title</small></a></li>
            <li><a href="?query=query&category=description">query <small class="category">in video description</small></a></li>
          </ul>

          <label for="query">{{ _('Search for video name, user name, or description') }}</label>
        </li>
        <li class="search-submit">
          <button type="submit" class="button small">{{ _('update results') }}</button>
        </li>
      </ul>
    </form>
  {% endif %}

    {% block results %}
      <div id="gallery">

      {% if waffle.flag('r3') %}
        <div class="gallery-header">
          <h2>
          {% trans count='87',
              query='query',
              region='all regions'
          %}
            <i>{{ count }}</i> videos for <i>{{ query }}</i> in <i>{{ region }}</i>
          {% endtrans %}
          </h2>
          <form class="gallery-sort" action="#">
            <p>
              <label for="sort">{{ _('Sort:') }}</label>
              <select id="sort" name="sort">
                <option value="title" selected>{{ _('by Title') }}</option>
                <option value="date">{{ _('by Date') }}</option>
                <option value="popular">{{ _('by Popularity') }}</option>
              </select>
              <button type="submit">{{ _('Submit') }}</button>
            </p>
          </form>
        </div>
      {% endif %}

        <ul class="entry-list">
          {% for video in videos %}
            <li class="entry">
              <a href="{{ url('flicks.videos.detail', video.id) }}">
                <img src="{{ video.thumbnail_url }}" alt="" class="thumbnail">
                <hgroup>
                  <h2 class="title">{{ video.title }}</h2>
                  <h3 class="vcard">
                    <span class="fn">{{ video.user.profile.display_name }}</span>,
                    <span class="country-name">{{ country_name(video.user.profile.country) }}</span>
                  </h3>
                </hgroup>
              </a>
              <p>
                {% trans datetime=video.created.strftime('%Y-%m-%d'),
                         date=video.created|babel_date %}
                  Submitted <time datetime="{{ datetime }}">{{ date }}</time>
                {% endtrans %}
              </p>
            </li>
          {% endfor %}
        </ul>

        {# Only show pagination if there is more than one page of results. #}
        {% if videos.paginator.num_pages > 1 %}
          {{ pagination(videos, url('flicks.videos.list'),
                        region=request.GET.get('region', None),
                        query=request.GET.get('query', None),
                        sort=request.GET.get('sort', None),
                        field=request.GET.get('field', None)) }}
        {% endif %}
      </div>
    {% endblock %}
  </div>
{% endblock %}
