{% extends 'base.html' %}

{% from 'macros.html' import pagination %}

{% block page_title %}{{ _('2013 gallery') }}{% endblock %}

{% block og_title %}{{ _('2013 gallery') }}{% endblock %}
{% block og_type %}article{% endblock %}
{% block og_url %}{{ request.build_absolute_uri() }}{% endblock %}

{% block site_css %}
  {{ super() }}
  {{ css('videos') }}
{% endblock %}

{% block content %}
  <div class="section wrap">
    {% if waffle.flag('r3') %}
      <h1 class="page-title">{{ _('Voting is open!') }}</h1>
    {% else %}
      <h1 class="page-title">{{ _('Welcome to the<br> Firefox Flicks 2013 gallery') }}</h1>
    {% endif %}

    <div class="section-intro">
      {% if not waffle.flag('r3') %}
        <p>
          {% trans %}
            This year we're asking filmmakers and Firefox fans to inspire
            others to get mobilized by telling the world about the power and
            potential of mobile. Have a look at the entries and be sure to
            share your favorites with your friends.
          {% endtrans %}
        </p>
      {% else %}
        <p>
          {% trans %}
            Welcome to the Firefox Flicks 2013 gallery. This year we asked filmmakers
            to tell stories about the power of the Web on mobile devices. Vote for
            your favorite flicks and be sure to share them with your friends.
          {% endtrans %}
        </p>

        <p class="voting">
          {% if not user.is_authenticated() %}
            {% trans sign_in=url('flicks.videos.my_voted_videos') %}
              Start voting by clicking on your favorite videos or <a href="{{ sign_in }}" class="requires-auth">sign in</a> to view your votes.
            {% endtrans %}
          {% elif user.vote_count < 1 %}
            {% trans %}
              Hi there! It looks like you haven’t voted yet. Start voting now by clicking on your favorite videos.
            {% endtrans %}
          {% else %}
            {% trans url=url('flicks.videos.my_voted_videos'), vote_count=user.vote_count %}
              Hi there! You have voted for <a href="{{ url }}">{{ vote_count }} flick</a> so far. Keep on voting!
              {% pluralize vote_count %}
              Hi there! You have voted for <a href="{{ url }}">{{ vote_count }} flicks</a> so far. Keep on voting!
            {% endtrans %}
          {% endif %}
        </p>
      {% endif %}
    </div>

    {% if waffle.flag('r3') %}
      <form class="search-form"
            action="{{ url('flicks.videos.list') }}"
            data-autocomplete-url="{{ url('flicks.videos.autocomplete') }}">
        <ul>
          <li class="search-region">
            {{ form.region.label_tag(_('From region')) }}
            {{ form.region }}
          </li>
          <li class="search-query">
            {{ form.query }}

            <ul id="search-suggest">
              <li data-field="author">
                {{ _('<span>{query}</span> <small class="category">in user name</small>')|fe(query='') }}
              </li>
              <li data-field="title">
                {{ _('<span>{query}</span> <small class="category">in video title</small>')|fe(query='') }}
              </li>
              <li data-field="description">
                {{ _('<span>{query}</span> <small class="category">in video description</small>')|fe(query='') }}
              </li>
            </ul>

            {{ form.query.label_tag(_('Search for video name, user name, or description')) }}
          </li>
          <li class="search-field">
            {{ form.field }}
          </li>
          <li class="search-sort">
            {{ form.sort }}
          </li>
          <li class="search-submit">
            <button type="submit" class="button small">{{ _('update results') }}</button>
          </li>
        </ul>
      </form>
    {% endif %}

    {% block results %}
      <div id="gallery">
        {% if waffle.flag('r3') and not hide_gallery_header %}
          <div class="gallery-header">
            {% if form.is_valid() and form.cleaned_data['query'] %}
              <h2>
                {% trans count=videos.paginator.count,
                         query=form.cleaned_data['query'],
                         region=form.region_names[form.cleaned_data['region'] or ''] %}
                  <i>{{ count }}</i> videos for <i>{{ query }}</i> in <i>{{ region }}</i>
                {% endtrans %}
              </h2>
            {% endif %}

            <form class="gallery-sort" action="{{ url('flicks.videos.list') }}">
              <div class="hidden-inputs">
                {{ form.query }}
                {{ form.region }}
                {{ form.field }}
              </div>
              <p>
                {{ form.sort.label_tag(_('Sort:')) }}
                {{ form.sort }}
              </p>
            </form>
          </div>
        {% endif %}

        <ul class="entry-list">
          {% for video in videos %}
            <li class="entry">
              <a href="{{ url('flicks.videos.detail', video.id) }}">
                <img src="{{ video.thumbnail_url }}" alt="" class="thumbnail">
                <hgroup>
                  <h2 class="title">{{ video.title }}</h2>
                  <h3 class="vcard">
                    <span class="fn">{{ video.user.profile.display_name }}</span>,
                    <span class="country-name">{{ country_name(video.user.profile.country) }}</span>
                  </h3>
                </hgroup>
              </a>
              <p>
                {% trans datetime=video.created.strftime('%Y-%m-%d'),
                         date=video.created|babel_date %}
                  Submitted <time datetime="{{ datetime }}">{{ date }}</time>
                {% endtrans %}
              </p>
            </li>
          {% endfor %}
        </ul>

        {# Only show pagination if there is more than one page of results. #}
        {% if videos.paginator.num_pages > 1 %}
          {{ pagination(videos, request.path,
                        region=request.GET.get('region', None),
                        query=request.GET.get('query', None),
                        sort=request.GET.get('sort', None),
                        field=request.GET.get('field', None)) }}
        {% endif %}
      </div>
    {% endblock %}
  </div>
{% endblock %}
