{% extends 'email_base.html' %}

{% block message %}
  <div style="font-size: 22px; color:#212a2f; line-height: 1.3;">
    {% trans link=absolutify(url('flicks.base.rules')) %}
      Unfortunately, your flick does not meet one or more of the contest criteria and was not accepted to be part of the competition. Please refer to our <a href="{{ link }}" style="color: #1677b9; text-decoration: none;">contest rules</a> for more information.
    {% endtrans %}
  </div>
  <br/>
  {{ _('All decisions regarding submissions is final.') }}
  <br /><br />
{% endblock %}

