{% extends 'bare.html' %}

{% block site_css %}
  <link rel="stylesheet" media="all" type="text/css" href="https://www.mozilla.org/tabzilla/media/css/tabzilla.css">
  {{ css('flicks_css') }}
{% endblock %}

{% block body %}
  <div id="page">
    {% include "shared/header.html" %}

    <main class="content-wrapper" role="main">
      {% block content %}{% endblock %}
    </main>

    {% block videocontent %}{% endblock %}

    {% block footer %}
      <footer id="footer">
        <div class="wrap">

          <aside class="partners">
            <h4><a href="{{ url('flicks.base.partners') }}">{{ _('Our Partners') }}</a></h4>
            <ul>
              <li><img src="{{ static('img/partners/logo-panavision-sm.png') }}" alt="Panavision" width="114" height="45"></li>
              <li><img src="{{ static('img/partners/logo-creativecommons-sm.png') }}" alt="Creative Commons" width="130" height="32"></li>
              <li><img src="{{ static('img/partners/logo-movingart-sm.png') }}" alt="Moving Art by Louie Schwartzberg" width="174" height="30"></li>
              <li><img src="{{ static('img/partners/logo-techsmith-sm.png') }}" alt="TechSmith" width="145" height="25"></li>
            </ul>
            <p><a href="{{ url('flicks.base.partners') }}" class="go">{{ _('More Partners') }}</a></p>
          </aside>

          <div class="util">
            <nav id="nav-social-foot" class="nav-social">
              <h4>{{ _('Share Firefox Flicks') }}</h4>
              <ul>
                <li><a href="http://vimeo.com/firefoxflicks" title="Vimeo" class="vimeo" rel="external">Vimeo</a></li>
                <li><a href="http://facebook.com/firefoxflicks" title="Facebook" class="facebook" rel="external">Facebook</a></li>
                <li><a href="http://twitter.com/firefoxflicks" title="Twitter" class="twitter" rel="external">Twitter</a></li>
              </ul>
            </nav>

            <aside class="firefoxos">
              <h4>{{ _('Learn about Firefox OS') }}</h4>
              <p><a href="http://www.mozilla.org/firefoxos/" rel="external">{{ _('Firefox OS') }}</a></p>
            </aside>
          </div>

          {% include "shared/footer_fineprint.html" %}

        </div>
      </footer>
    {% endblock %}

  </div>{# close #page #}
{% endblock %}

{% block site_js %}
  <script src="https://login.persona.org/include.js"></script>
  {{ js('jquery') }}
  {{ js('browserid') }}
  {{ js('flicks_js') }}
  {{ js('google_analytics_events') }}
  <script src="https://www.mozilla.org/tabzilla/media/js/tabzilla.js"></script>
{% endblock %}
