<!DOCTYPE html>
<html LANG="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{ _('Firefox Flicks') }} : {% block page_title %}{% endblock %}</title>

    {# OpenGraph Metadata #}
    <meta property="og:title" content="{% block og_title %}{{ _('Firefox Flicks') }}{% endblock %}">
    <meta property="og:type" content="{% block og_type %}website{% endblock %}">
    <meta property="og:image" content="{% block og_image %}http://mozcom-cdn.mozilla.net/img/firefox-100.jpg{% endblock %}">
    <meta property="og:url" content="{% block og_url %}http://www.mozilla.org/firefoxflicks/{% endblock %}">
    <meta property="og:site_name" content="{{ _('Firefox Flicks') }}">
    {% block meta_description -%}
      <meta property="og:description" content="{% trans %}
        Firefox Flicks is a contest that invites Firefox fans and filmmakers
        from all over the world to create short videos (or &#34;flicks&#34;) to help
        tell the Firefox story.
      {% endtrans %}">
    {%- endblock %}

    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" media="all" href=""/>

    {% block site_css %}
      {{ css('flicks_css') }}
    {% endblock %}
    <link rel="shortcut icon" type="image/png" href="{{ MEDIA_URL }}img/favicon.png">

    {% block google_analytics %}
      <script>
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{ settings.GA_ACCOUNT_CODE }}']);
          _gaq.push(['_trackPageview']);

          {% if settings.GA_ACCOUNT_CODE %}
          (function() {
              var ga = document.createElement('script');
              ga.type = 'text/javascript';
              ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(ga, s);
          })();
          {% endif %}
      </script>
    {% endblock %}
  </head>
  <body class="{{ page_type }}"
        data-mobile-cookie="{{ settings.MOBILE_COOKIE }}"
        data-token="{{ csrf_token }}"
        {% block body_data %}{% endblock %}>
    <!-- temp -->
    <div class="wrapper">
      {% include "shared/header.html" %}

      {% block userbar %}
        <div class="profile-header">
          <div class="content-wrapper">
            {% block titlebar %}
              {% if request.user.is_active %}
                <div class="avatar">
                  {{ gravatar_img(user, size=36) }}
                </div>
                <span class="title">{{ profile_name(user) }}</span>
              {% endif %}
            {% endblock %}

            <a href="https://www.mozilla.org/firefox" class="download-firefox">
              <span>{{ _('Download Firefox') }}</span>
            </a>

            <ul class="user-actions">
              {% if request.user.is_active %}
                <li>
                  <a href="{{ url('flicks.users.my_profile') }}">{{ _('My Profile') }}</a> &#xa0;|
                </li>
                <li>
                  <a href="{{ url('flicks.users.logout') }}">{{ _('Log out') }}</a> &#xa0;|
                </li>
              {% else %}
                <li>
                  <a id="browserid" href="#">{{ _('Sign in') }}</a>
                  <form method="POST" action="{{ url('flicks.users.verify') }}">
                    {{ csrf() }}
                    {{ browserid_form.as_p()|safe }}
                  </form>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      {% endblock %}

      <div class="content-wrapper">
        {% block content %}{% endblock %}
      </div>

      {% block videocontent %}{% endblock %}

      {% block footer %}
        <div id="footer">
          <div class="footer-wrapper">
            {% block homefooter %}{% endblock %}
            <ul>
              <li><a href="http://www.mozilla.org/en-US/privacy-policy.html"
                     title="{{ _('Privacy Policy') }}">{{ _('Privacy Policy') }}</a> <span>&#xa0;|</span></li>
              <li><a href="http://www.mozilla.org/about/legal.html"
                     title="{{ _('Legal') }}">{{ _('Legal') }}</a> <span>&#xa0;|</span></li>
              <li><a href="{{ url('flicks.base.partners') }}"
                     title="{{ _('Partners') }}">{{ _('Partners') }}</a></li>
            </ul>
            <div id="language-switcher">
              <form class="languages go" method="GET">
                <label for="language">{{ _('Other languages:') }}</label>
                <select id="language" name="lang" dir="ltr">
                  {% for code, name in LANGUAGES|dictsort -%}
                    <option value="{{ code }}" {{ code|ifeq(LANG|lower, "selected") }}>
                      {{ name }}
                    </option>
                  {%- endfor %}
                </select>
              </form>
            </div>
          </div>
        </div>
      {% endblock %}
    </div>
    {% block site_js %}
      {{ js('flicks_js') }}
      <script src="https://browserid.org/include.js"></script>
    {% endblock %}
  </body>
</html>
