{% extends 'base.html' %}

{% block page_title %}{{ _('Creative Brief') }}{% endblock %}

{% block meta_description -%}
  <meta property="og:description" content="{% trans %}

  Firefox Flicks Creative Brief &#8212; Get all the details for building your video
  entry for the Firefox Flicks video contest.

  {% endtrans %}">
{%- endblock %}

{% block content %}
  <div class="info">
    <h1>{{ _('Creative Brief') }}</h1>

    <h2>{{ _('Call to Action') }}</h2>
    <p>
      {% trans %}
        We need your help to tell the amazing story of Mozilla Firefox,
        our users and how one browser can build a brighter future for the Web.
      {% endtrans %}
    </p>

    <h2>{{ _('Project Description') }}</h2>
    <p>
      {% trans %}
        Create a video ad or story (a &#34;flick&#34;) in one of
        <a href="#categories">four categories</a> that
        helps people better understand the issues facing them online and shows
        how Firefox helps them deal with these issues. In short, help us tell
        the story of Firefox &#8212; why we do what we do and how that helps users on
        the Web.
      {% endtrans %}
    </p>

    <h2>{{ _('Project Summary') }}</h2>
    <p>
      {% trans %}
        Mozilla wants the world to know more about what makes Firefox different:
        that we're a non-profit organization aimed at keeping the power of the
        Web in people's hands. Our hope is that through high-quality videos, we
        can help mainstream Internet users know more about the issues that affect
        their online lives and, more importantly, how Firefox addresses these
        issues. Winning videos will be used in worldwide marketing campaigns and
        public service announcements.
      {% endtrans %}
    </p>

    <h2>{{ _('Objective') }}</h2>
    <p>
      {% trans %}
        Help us educate consumers about one or all of the following online issues
        facing them today:
      {% endtrans %}
      <ol>
        <li>
          {% trans %}
            Privacy: How are you being tracked online? How can you take control of
            it? Who owns your data and how do they use it?
          {% endtrans %}
        </li>
        <li>
          {% trans %}
            Choice: How easy is it for you to experience the Web using the tools that
            you like and that suit your needs? Can you make it personal?
          {% endtrans %}
        </li>
        <li>
          {% trans %}
            Interoperability: Can you use your favorite tools on all your devices,
            different computers or in different locations? Who decides when, where
            and how you use the Web and access your stuff?
          {% endtrans %}
        </li>
        <li>
          {% trans %}
            Opportunity: What tools do users need to help them make the Web they want?
            How does Firefox help?
          {% endtrans %}
        </li>
      </ol>
    </p>
    <p>
      {% trans brand='http://www.mozilla.org/firefox/brand/platform/' %}
        Also, drive awareness of our key brand attributes, specifically around the
        fact that Firefox is made by a non-profit organization that answers only to
        users, not shareholders. Have a look at our
        <a href="{{ brand }}">Brand Platform</a>
        for more details and check out the video below.
      {% endtrans %}
    </p>

    <h2>{{ _('Who are we Talking To?') }}</h2>
    <p>
      {% trans %}
        Your flick should target mainstream Internet users between the ages of 25 and
        54 &#8212; people who use the Web to read the news, write e-mails, bank online and
        connect on social networks. Help explain the challenges facing the Web in
        terms that these average everyday users will understand. As an extreme
        example, how would you explain the importance of having control over your own
        online experience to someone who only understands the Firefox logo as the
        "Internet" button? We need you to communicate to this audience that Firefox is
        a non-profit doing good for the benefit of people everywhere.
      {% endtrans %}
    </p>

    <h2>{{ _('Primary Key Message') }}</h2>
    <p>
      {% trans %}
        Firefox prioritizes principles over profit to put you in control of your online
        experience and shape the future of the Web for the public good. Firefox answers
        to no one but you.
      {% endtrans %}
    </p>

    <h2>{{ _('Secondary Key Message Points:') }}</h2>
    <p>
      <ol>
        <li>
          {% trans %}
            There are important online issues like privacy, choice, flexibility and
            opportunity facing you every day.
          {% endtrans %}
        </li>
        <li>
          {% trans %}
            Mozilla addresses these issues and works to ensure that the Web remains
            open and accessible to all.
          {% endtrans %}
        </li>
        <li>
          {% trans %}
            Mozilla is proudly non-profit.
          {% endtrans %}
        </li>
      </ol>
    </p>

    <h2>{{ _('Call to Action') }}</h2>
    <p>
      {% trans %}
        Tell the world about Firefox. Encourage them to download Firefox today.
      {% endtrans %}
    </p>

    <h2>{{ _('Mandatory Elements:') }}</h2>
    <p>
      <ol>
        <li>
          {% trans brand='http://www.mozilla.org/firefox/brand/' %}
            Firefox logo: Please see our <a href="{{ brand }}">Brand Toolkit</a>
            details on how to use our logo
          {% endtrans %}
        </li>
        <li>
          {% trans %}
            Call to action
          {% endtrans %}
        </li>
        <li>
          {% trans %}
            Flicks must be submitted no later than midnight Pacific Standard Time
            on May 1, 2012.
          {% endtrans %}
        </li>
        <li>
          {% trans mail='mailto:firefoxflicks@mozilla.org' %}
            Entries should be available in English. They can be created in another
            language, but if so, please provide subtitles.
            (<a href="{{ mail }}">Contact us</a> if you're having
            trouble with translation or subtitling. We can help.)
          {% endtrans %}
        </li>
      </ol>
    </p>

    <h2>{{ _('What do we want the Viewer to Know and Feel?') }}</h2>
    <p>
      {{ _('Know:') }}
      <ol>
        <li>
          {% trans %}
            We are proudly non-profit and dedicated to doing good.
          {% endtrans %}
        </li>
        <li>
          {% trans %}
            We are competing with some of the world's biggest companies to put you in
            control of your online experience.
          {% endtrans %}
        </li>
        <li>
          {% trans %}
            Firefox is developed together with a global community in the open, driven
            by what's best for users everywhere.
          {% endtrans %}
        </li>
        <li>
          {% trans %}
            We prioritize principles over profits.
          {% endtrans %}
        </li>
      </ol>
    </p>
    <p>
      {{ _('Feel:') }}
      <ol>
        <li>
          {% trans %}
            Your video should be more grassroots than corporate to reflect that Mozilla
            is a public benefit organization and not a for profit company.
          {% endtrans %}
        </li>
        <li>
          {% trans %}
            It should inspire the viewer to be a part of the Mozilla Firefox movement.
          {% endtrans %}
        </li>
        <li>
          {% trans %}
            It should help spread the word about what makes us different and how
            downloading Firefox makes the Web and world a better place.
          {% endtrans %}
        </li>
      </ol>
    </p>

    <h2>{{ _('Tone') }}</h2>
    <p>
      {% trans %}
        Unconventional, Engaging, Honest, Human, Smart, Confident
      {% endtrans %}
    </p>

    <h2>{{ _('Guidelines:') }}</h2>
    <p>
      <ol>
        <li>
          {% trans %}
            Take risks, but respect the brand (i.e. please don't make us look bad).
          {% endtrans %}
        </li>
        <li>
          {% trans %}  
            Your flick should function at the brand level, not the product level
            (you don't need to talk about product features &#8212; talk about how Firefox
            and the movement around it make you feel).
          {% endtrans %}
        </li>
        <li>
          {% trans %}
            It can be fun and humorous, but keep it engaging.
          {% endtrans %}
        </li>
        <li>
          {% trans %}
            All that said, these guidelines are just that: guidelines. Be creative,
            think outside the box and, most importantly, have fun.
          {% endtrans %}
        </li>
        <li>
          {% trans brand='http://www.mozilla.org/firefox/brand/' %}
            Take a look at the Mozilla Firefox <a href="{{ brand }}">Brand Toolkit</a> to
            see how we talk about ourselves.
          {% endtrans %}
        </li>
      </ol>
    </p>

    <h2>{{ _('Categories (A grand prize winner will be selected from each region):') }}</h2>
    <p>
      <a name="categories"></a>
      <ol>
        <li>
          {{ _('Best :30 Spot') }}
        </li>
        <li>  
          {{ _('Best Animation') }}
        </li>
        <li>
          {{ _('Best Use of New Open Technology (e.g. Popcorn.js, HTML5)') }}
        </li>
        <li>
          {{ _('Best Public Service Announcement') }}
        </li>
      </ol>
    </p>

    <h2>{{ _('Inspiration')}}</h2>
    <p>{{ _('Check out our videos for Firefox Flicks to get into movie making mode') }}</p>

    <ol>
      <li>
        <a href="{{ promo_dance }}">{{ promo_dance }}</a>
      </li>
      <li>
        <a href="{{ promo_twilight }}">{{ promo_twilight }}</a>
      </li>
      <li>
        <a href="{{ promo_noir }}">{{ promo_noir }}</a>
      </li>
    </ol>
  </div>
{% endblock %}
