{% extends 'base.html' %}
{% from 'shared/macros.html' import video_item %}

{% block page_title %}{{ _('Home Page') }}{% endblock %}

{% block userbar %}{% endblock %}

{% block titlebar %}{% endblock %}

{% block content %}
  <div class="home">
    <img src="{{ MEDIA_URL }}img/flicks-logo.png" class="flicks-logo">
    <div class="headline">
      <p class="intro">{{ _('Lights! Camera! Awesome!') }}</p>
      <div class="mozilla-presents">
        <div class="flair">
          {{ _('Mozilla Presents!') }}
        </div>
        <img src="{{ MEDIA_URL }}img/firefox-flicks-wm.png">
      </div>
      <p class="flicks-description">{{ _('A global video contest to tell our story') }}</p>
      <div class="blob">
        <p>
          {% trans %}
            The contest is now open for entries, so upload your flick today!
            As a non-profit, Firefox is the only browser that puts you first. Now we've put
            you in the director's chair to help spread our message. Just create a short video
            for a chance to win some amazing prizes. You'll get a Firefox prize pack just for
            entering and your submission will be seen by Hollywood judges. You could even meet
            them at one of four international events and we might feature your video in a global
            campaign.
          {% endtrans %}
        </p>
        <p>
          <a href="{{ url('flicks.videos.recent') }}">
            {{ _('You can also check out the entries and vote on your favorite!') }}
          </a>
        </p>
      </div>
    </div>

    <a href="#" id="browserid">{{ _('Upload a Video') }}</a>
    <form method="POST" action="{{ url('flicks.users.verify') }}">
      {{ csrf() }}
      {{ browserid_form.as_p()|safe }}
    </form>

    <ol class="videos">
      <li>
        <a href="{{ url('flicks.videos.promo_video_dance') }}" class="title" title="{{ _('Dance')}}">
          <img src="http://cf.cdn.vid.ly/{{ promo_dance }}/poster.jpg" height="141">
        </a>
      </li>
      <li>
        <a href="{{ url('flicks.videos.promo_video_noir') }}" class="title" title="{{ _('Noir')}}">
          <img src="http://cf.cdn.vid.ly/{{ promo_noir }}/poster.jpg" height="141">
        </a>
      </li>
      <li>
        <a href="{{ url('flicks.videos.promo_video_twilight') }}" class="title" title="{{ _('Twilight')}}">
          <img src="http://cf.cdn.vid.ly/{{ promo_twilight }}/poster.jpg" height="141">
        </a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block homefooter %}
  <section id="social">
    <h3>{{ _('Flicks News') }}</h3>
    {# Twitter and Facebook stay as is and are not to be translated. #}
    <a href="https://twitter.com/#!/FirefoxFlicks" class="social-share share-twitter">Twitter</a>
    <a href="https://www.facebook.com/FirefoxFlicks" class="social-share share-facebook">Facebook</a>
  </section>
{% endblock %}
