{% macro meet_your_competition() -%}
  <li>
    <h3>{{ _('Meet your competition') }}</h3>
    <p>
      <a href="{{ url('flicks.videos.list') }}" class="go">
        {{ _('View the gallery of entries') }}
      </a>
    </p>
  </li>
{%- endmacro %}

{% macro think_about_flick() -%}
  <li>
    <h3>{{ _('Start thinking about your flick') }}</h3>
    <p>
      <a href="{{ settings.LINK_BRIEF[request.locale] }}" class="go ga_brief-dl">
        {{ _('Read the creative brief') }}
      </a>
    </p>
  </li>
{%- endmacro %}

{% macro submit_your_flick() -%}
  <li class="submit-link">
    <h3>{{ _('Submit your flick today') }}</h3>
    <p>
      <a href="{{ url('flicks.videos.upload') }}" class="go requires-auth">
        {{ _('Start here') }}
      </a>
    </p>
  </li>
{%- endmacro %}

{% macro see_early_award_winners() -%}
  <li>
    <h3>{{ _('See Early Entry Award winners') }}</h3>
    <p>
      <a href="{{ url('flicks.videos.winners') }}" class="go">
        {{ _('View the winning flicks so far') }}
      </a>
    </p>
  </li>
{%- endmacro %}

{% macro vote_for_peoples_choice() -%}
  <li>
    <h3>{{ _('Vote for the People\'s Choice Award') }}</h3>
    <p>
      <a href="{{ url('flicks.videos.list') }}" class="go">
        {{ _('Choose your favorites here') }}
      </a>
    </p>
  </li>
{%- endmacro %}

{% macro explore_2013_flicks() -%}
  <li>
    <h3>{{ _('Explore 2013 Flicks') }}</h3>
    <p>
      <a href="{{ url('flicks.videos.list') }}" class="go">
        {{ _('View the gallery of entries') }}
      </a>
    </p>
  </li>
{%- endmacro %}

{% macro meet_our_partners() -%}
  <li>
    <h3>{{ _('Meet our partners') }}</h3>
    <p>
      <a href="{{ url('flicks.base.partners') }}" class="go">
        {{ _('Get to know our friends who made Flicks 2013 possible') }}
      </a>
    </p>
  </li>
{%- endmacro %}

{% macro see_2013_winners() -%}
  <li>
    <h3>{{ _('See Firefox Flicks 2013 winners') }}</h3>
    <p>
      <a href="{{ url('flicks.videos.winners') }}" class="go">
        {{ _('Watch the winning entries') }}
      </a>
    </p>
  </li>
{%- endmacro %}
