{% extends 'base.html' %}

{% block page_title %}{{ _('A Global Video Contest to Mobilize the Web') }}{% endblock %}

{% block site_css %}
  {{ css('home_css') }}
{% endblock %}

{% block site_js %}
  {{ super() }}
  {{ js('home_js') }}
{% endblock %}


{% block content %}

  <section id="intro" class="section alt">
    <div class="wrap">
      <h1 class="section-title">{{ _('Bring the small screen<wbr> to the big screen') }}</h1>
      <div class="section-intro">
        <p>
        {% trans %}
          Mobile connects people. It’s a force for progress and change, both individually
          and collectively. Enter Firefox Flicks, a global video contest about the power
          of mobile, and inspire others to get mobilized.
        {% endtrans %}
        </p>
      </div>

      <div id="slideshow" class="js">
        <ol class="slides">
          <li id="slide-one" class="slide">
            <img src="{{ MEDIA_URL }}img/home/promo-winners2012.jpg" alt="">
            <div class="slide-desc">
              <h2>{{ _('Get inspired!') }}</h2>
              <p>
              {% trans %}
                Watch the flicks we took to Cannes last year before making your own.
              {% endtrans %}
              </p>
              <p class="act"><a href="#winners2012" class="go scroll">{{ _('See the 2012 winners') }}</a></p>
            </div>
          </li>
        </ol>
      </div>

      <div class="actions">
        <ul>
          <li>
            <h3>{{ _('Get seen by celebrity judges') }}</h3>
            <p>{{ _('Coming soon') }}</p>
          </li>
          <li>
            <h3>{{ _('Submissions open February 13') }}</h3>
            <p><a href="#" class="go">{{ _('Learn more in the FAQ') }}</a></p>
          </li>
          <li>
            <h3>{{ _('Start thinking about your flick') }}</h3>
            <p><a href="#" class="go">{{ _('Read the creative brief') }}</a></p>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section id="about" class="section">
    <div class="wrap">
      <h1 class="section-title">{{ _('What is Firefox Flicks?') }}</h1>
      <div class="section-intro">
        <p>
        {% trans %}
          It’s a video contest. It’s an opportunity to reach millions of Firefox users and
          inspire them to get mobilized. It’s a chance to win <a href="#prizes" class="scroll">great prizes</a>
          and be seen by <a href="#judges" class="scroll">celebrity judges</a> who can make
          your moviemaking dreams come true.
        {% endtrans %}
        </p>
      </div>

      <div class="section-detail">
        <figure class="video">
          <a href="#" class="video-play" title="{{ _('Play a short introduction video') }}" data-vimeo-id="57021741">
            <img src="{{ MEDIA_URL }}img/video-thumb-fpo.jpg" alt="" width="240" height="135">
          </a>
        </figure>
        <p>
        {% trans %}
          This year there’s only one category, so whether your flick is funny or serious,
          animated or live action, we want to see it. It just has to be 60 seconds or less
          and get people excited about the future of the Web on mobile.
        {% endtrans %}
        </p>
        <p><a href="#" class="go">{{ _('Read the creative brief to get started') }}</a></p>
      </div>

      <div class="actions">
        <h3>
          <span>{{ _('What is Firefox OS?') }}</span>
          <span>{{ _('How do I enter?') }}</span>
          <span>{{ _('What is the deadline?') }}</span>
        </h3>
        <p>
        {% trans %}
          Learn more about Firefox OS, the open, Web-based operating system for mobile devices,
          and get answers to all your other questions.
        {% endtrans %}
        </p>
        <p><a href="#" class="button">{{ _('Read the FAQ') }}</a></p>
      </div>

    </div>
  </section>

  <section id="winners2012" class="section alt">
    <div class="wrap">
      <h1 class="section-title">{{ _('Views from Cannes') }}</h1>
      <div class="section-intro">
        <p>
        {% trans %}
          Watch the Flicks that topped our judges‘ list in 2012 and earned their filmmakers a
          trip to the Cannes Film Festival.
        {% endtrans %}
        </p>
      </div>

      <ul class="entry-list">
        <li class="entry">
          {# l10n: This is "watch" meaning to view a video, used in link labels #}
          <a href="#" class="video-play" title="{% trans title='Falling in Love with Firefox' %}Watch “{{ title }}”{% endtrans %}" data-vimeo-id="57021741">
            <img src="{{ MEDIA_URL }}img/home/vidthumb-falling.jpg" alt="" class="thumbnail">
            <hgroup>
              <h2>Falling in Love with Firefox</h2>
              <h3 class="vcard">
                <span class="fn">Lee Sang Woo</span>,
                <span class="country-name">Korea</span>
              </h3>
            </hgroup>
          </a>
        </li>
        <li class="entry">
          <a href="#" class="video-play" title="{% trans title='Be a Hero' %}Watch “{{ title }}”{% endtrans %}" data-vimeo-id="57021741">
            <img src="{{ MEDIA_URL }}img/home/vidthumb-hero.jpg" alt="" class="thumbnail">
            <hgroup>
              <h2>Be a Hero</h2>
              <h3 class="vcard">
                <span class="fn">Andre Felipe Mesa</span>,
                <span class="country-name">Colombia</span>
              </h3>
            </hgroup>
          </a>
        </li>
        <li class="entry">
          <a href="#" class="video-play" title="{% trans title='Squares' %}Watch “{{ title }}”{% endtrans %}" data-vimeo-id="57021741">
            <img src="{{ MEDIA_URL }}img/home/vidthumb-squares.jpg" alt="" class="thumbnail">
            <hgroup>
              <h2>Squares</h2>
              <h3 class="vcard">
                <span class="fn">Eric Perrella</span>,
                <span class="country-name">Canada</span>
              </h3>
            </hgroup>
          </a>
        </li>
        <li class="entry">
          <a href="#" class="video-play" title="{% trans title='Where the Weird Things Are Not' %}Watch “{{ title }}”{% endtrans %}" data-vimeo-id="57021741">
            <img src="{{ MEDIA_URL }}img/home/vidthumb-weird.jpg" alt="" class="thumbnail">
            <hgroup>
              <h2>Where the Weird Things Are Not</h2>
              <h3 class="vcard">
                <span class="fn">Ferran Brooks</span>,
                <span class="country-name">Spain</span>
              </h3>
            </hgroup>
          </a>
        </li>
        <li class="entry">
          <a href="#" class="video-play" title="{% trans title='Paranoid' %}Watch “{{ title }}”{% endtrans %}" data-vimeo-id="57021741">
            <img src="{{ MEDIA_URL }}img/home/vidthumb-paranoid.jpg" alt="" class="thumbnail">
            <hgroup>
              <h2>Paranoid</h2>
              <h3 class="vcard">
                <span class="fn">Sean O‘Riordan</span>,
                <span class="country-name">United Kingdom</span>
              </h3>
            </hgroup>
          </a>
        </li>
        <li class="entry">
          <a href="#" class="video-play" title="{% trans title='Firefox Privacy' %}Watch “{{ title }}”{% endtrans %}" data-vimeo-id="15607283">
            <img src="{{ MEDIA_URL }}img/home/vidthumb-privacy.jpg" alt="" class="thumbnail">
            <hgroup>
              <h2>Firefox Privacy</h2>
              <h3 class="vcard">
                <span class="fn">Anahita Gottipati</span>,
                <span class="country-name">India</span>
              </h3>
            </hgroup>
          </a>
        </li>
      </ul>

    </div>
  </section>

  <section id="judges" class="section">
    <div class="wrap">
      <h1 class="section-title">{{ _('Meet the judges') }}</h1>
      <div class="section-intro">
        <p>
        {% trans %}
          We will be announcing our illustrious panel of celebrity judges soon.
          Please check back to find out who will see your flick and help us
          choose this year’s winner.
        {% endtrans %}
        </p>
      </div>

      <ul class="judges">
        <li class="judge">
          <img src="{{ MEDIA_URL }}img/judges/blankm.jpg" alt="" class="photo">
          <hgroup>
            <h2>{{ _('To Be Announced') }}</h2>
          </hgroup>
        </li>
        <li class="judge">
          <img src="{{ MEDIA_URL }}img/judges/blankf.jpg" alt="" class="photo">
          <hgroup>
            <h2>{{ _('To Be Announced') }}</h2>
          </hgroup>
        </li>
        <li class="judge">
          <img src="{{ MEDIA_URL }}img/judges/blankm.jpg" alt="" class="photo">
          <hgroup>
            <h2>{{ _('To Be Announced') }}</h2>
          </hgroup>
        </li>
        <li class="judge">
          <img src="{{ MEDIA_URL }}img/judges/blankf.jpg" alt="" class="photo">
          <hgroup>
            <h2>{{ _('To Be Announced') }}</h2>
          </hgroup>
        </li>
        <li class="judge">
          <img src="{{ MEDIA_URL }}img/judges/blankm.jpg" alt="" class="photo">
          <hgroup>
            <h2>{{ _('To Be Announced') }}</h2>
          </hgroup>
        </li>
        <li class="judge">
          <img src="{{ MEDIA_URL }}img/judges/blankf.jpg" alt="" class="photo">
          <hgroup>
            <h2>{{ _('To Be Announced') }}</h2>
          </hgroup>
        </li>
      </ul>

    </div>
  </section>

  <section id="prizes" class="section alt">
    <div class="wrap">
      <h1 class="section-title">{{ _('Prizes') }}</h1>
      <div class="section-intro">
        <p>
        {% trans %}
          There are a number of ways to win throughout the competition. Get your
          flick in early for a chance at one of our Early Entry Awards. The top
          three entries from each early deadline automatically move on the finals
          to be judged by our celebrity panel. And just for entering, you’ll get
          a little something from us to say thanks.
        {% endtrans %}
        </p>

        <p>
        {% trans %}
          Here’s a more detailed look at what you can win, but check back for
          prize updates throughout the contest.
        {% endtrans %}
        </p>
      </div>

      <section class="prizes">

        <div class="prize regional">
          <h2>{{ _('Regional Prizes') }}</h2>
          <p>
          {% trans %}
            A $5,000 top prize and $2,500 for the runner-up will go to the top two
            flicks from each of the contest regions: Latin America, North America,
            Europe and Asia.
          {% endtrans %}
          </p>
        </div>

        <div class="prize choice">
          <h2>{{ _('People’s Choice Awards') }}</h2>
          <p>
          {% trans %}
            All flicks submitted before the deadline are eligible and the 3 that
            earn the most votes in August win a Firefox Flicks swag bag.
          {% endtrans %}
          </p>
        </div>

        <div class="prize early">
          <h2>{{ _('Early Entry Awards') }}</h2>
          <p>
          {% trans %}
            There will be multiple chances to win $1,000 for submitting your flick
            early. Check back on February 13 for dates and more information.
          {% endtrans %}
          </p>
        </div>

      </section>
    </div>
  </section>

  <section id="rules" class="section">
    <div class="wrap">
      <h1 class="section-title">{{ _('Rules') }}</h1>
      <div class="section-intro">
        <p>
        {% trans %}
          We want to give budding filmmakers the opportunity to create and submit short
          videos promoting Firefox OS. The contest will run worldwide and winners will be
          chosen from four regions around the world: North America, Latin America, Europe
          and Asia. Check back on February 13 for the complete rules.
        {% endtrans %}
        </p>
      </div>

      <section class="rules">
        <h2>{{ _('Sponsor') }}</h2>
        <p>
        {% trans %}
          The sponsor of the contest is the Mozilla Corporation.
        {% endtrans %}
        </p>

        <h2>{{ _('Eligibility') }}</h2>
        <p>
        {% trans %}
          No purchase or fee is necessary to enter or claim any prize.
        {% endtrans %}
        </p>

        <h2>{{ _('Contest period') }}</h2>
        <p>
        {% trans %}
          The Contest begins at 3:00 p.m. Pacific Standard Time (PST) (11:00 p.m. GMT) on
          Wednesday, February 13, 2013, and ends at 11:59 p.m. PST on Wednesday, July 31, 2013
          (7:59 a.m. GMT on August 1, 2013).
        {% endtrans %}
        </p>

        <h2>{{ _('Privacy') }}</h2>
        <p>
        {% trans %}
          Your privacy is important to us. Check back soon for our complete official contest rules.
        {% endtrans %}
        </p>

        <h2>{{ _('How to enter') }}</h2>
        <p>
        {% trans %}
          The website will begin accepting entries on February 13, 2013, at 3:00 p.m.
          Pacific Standard Time (PST) (11:00 p.m. GMT).
        {% endtrans %}
        </p>
      </section>

    </div>
  </section>
{% endblock %}
