{% extends 'base.html' %}

{% import 'judge_macros.html' as judge_bio %}

{% block page_title %}{{ _('Judges') }}{% endblock %}

{% set meta_description = _(
  'Get to know our illustrious panel of celebrity judges who will see your '
  'flick and help us choose this year\'s winner.'
) %}

{% block content %}
<div class="section">
  <div class="wrap info">
    <h1 class="page-title">{{ _('Meet the judges') }}</h1>
    {{ judge_bio.rharvey() }}
    {{ judge_bio.fleonard() }}
    {{ judge_bio.enorton() }}
    {{ judge_bio.srobertson() }}
    {{ judge_bio.csamuelson() }}
  </div>
</div>
{% endblock %}
