{% extends 'base.html' %}

{% block page_title %}{{ _('Judges') }}{% endblock %}

{% block content %}
  <div class="info">
    <a href="{{ url('flicks.base.home') }}" class="home-link">&laquo; {{ _('Return Home') }}</a>

    <h1>{{ _('Judges') }}</h1>

    {# L10n: Refers to Edward Norton http://en.wikipedia.org/wiki/Edward_Norton #}
    <h2>{{ _('Edward Norton (Actor, Director, Producer, Activist)') }}</h2>
    <p>
      {# L10n: Refers to Edward Norton http://en.wikipedia.org/wiki/Edward_Norton #}
      {% trans %}
        has acted in the films Primal Fear, Everyone Says I Love You, The People vs Larry Flynt, American History X,
        Rounders, Fight Club, Keeping the Faith, The Score, Death to Smoochy, Frida, Red Dragon, The 25th Hour, The
        Italian Job, Down in the Valley, The Kingdom of Heaven, The Illusionist, The Painted Veil, The Incredible
        Hulk, Pride &amp; Glory, Leaves of Grass and Stone.
      {% endtrans %}
    </p>
    <p>
      {# L10n: Refers to Edward Norton http://en.wikipedia.org/wiki/Edward_Norton #}
      {% trans %}
        He has been nominated for two Academy Awards, for Primal Fear and American History X, and won a Golden Globe
        along with numerous other awards for his performances. He produced and directed Keeping the Faith and also
        produced Down in the Valley (Cannes Film Festival selection), The Painted Veil, Leaves of Grass and the
        documentary By The People: The Election of Barack Obama.
      {% endtrans %}
    </p>
    <p>
      {# L10n: Refers to Edward Norton http://en.wikipedia.org/wiki/Edward_Norton #}
      {% trans %}
        Norton is also a committed social and environmental activist, supporting the UN Convention on Biological
        Diversity, the  President's Committee for the Arts and Humanities, Enterprise Community Partners, the Maasai
        Wilderness Conservation Trust, the Libby Rouse Fund for Peace, the Signature Theater Company and Friends of
        the High Line. Recently Norton founded CrowdRise, an innovative new web platform that brings the power of
        crowd-sourcing and the fun of social networking to fundraising and volunteerism.
      {% endtrans %}
    </p>

    {# L10n: Refers to Shauna Robertson http://en.wikipedia.org/wiki/Shauna_Robertson #}
    <h2>{{ _('Shauna Robertson (Producer, Philanthropist)') }}</h2>
    <p>
      {# L10n: Refers to Shauna Robertson http://en.wikipedia.org/wiki/Shauna_Robertson #}
      {% trans %}
        has produced some of the best comedies of the last decade. Her list of credits include Meet the Parents, Elf,
        Anchorman, The Forty Year Old Virgin, Knocked Up, Superbad, Pineapple Express and Forgetting Sarah Marshall.
        Shauna is a Canadian who moved to Hollywood to start working in the movies at age 17.
      {% endtrans %}
    </p>
    <p>
      {# L10n: Refers to Shauna Robertson http://en.wikipedia.org/wiki/Shauna_Robertson #}
      {% trans crowdrise='http://www.crowdrise.com' %}
        Last year she left the movie business to pursue her dreams of working in the non profit sector. In March 2010
        she and her boyfriend, Edward Norton, launched the new web based company Crowdrise
        (<a href="{{ crowdrise }}">http://www.crowdrise.com/</a>) that helps individuals and charities make
        fundraising impactful and fun.
      {% endtrans %}
    </p>

    {# L10n: Refers to Jeffrey Silver http://www.imdb.com/name/nm0798711/ #}
    <h2>{{ _('Jeffrey Silver (Producer)') }}</h2>
    <p>
      {# L10n: Refers to Jeffrey Silver http://www.imdb.com/name/nm0798711/ #}
      {% trans %}
        has produced over 30 feature films &#8212; through his production company Biscayne Pictures, and his partnership
        with Outlaw Productions. In the course of his career, Silver has produced both studio and independent pictures,
        including &#34;Tron: Legacy&#34;, &#34;Terminator: Salvation&#34;, &#34;300&#34;, &#34;Training Day&#34;,
        &#34;The Santa Clause&#34; and its sequels, and the TV series, The Wonder Years", as well as many others.
      {% endtrans %}
    </p>

    {# L10n: Refers to Ben Silverman http://en.wikipedia.org/wiki/Ben_Silverman #}
    <h2>{{ _('Ben Silverman (Founder &amp; Chairman, Electus)') }}</h2>
    <p>
      {# L10n: Refers to Ben Silverman http://en.wikipedia.org/wiki/Ben_Silverman #}
      {% trans %}
        Silverman is executive producer of  the Emmy Award-winning NBC comedy &#34;The Office&#34; and the  Golden
        Globe-winning comedy &#34;Ugly Betty&#34;, is co-creator and executive producer of the hit reality show
        &#34;The Biggest Loser&#34; for NBC and the critically acclaimed series &#34;The Tudors&#34; for Showtime,
        as well as executive producer of VH1's &#34;Mob Wives&#34; and the upcoming NBC hit &#34;Fashion Star&#34;.
      {% endtrans %}
    </p>
    <p>
      {# L10n: Refers to Ben Silverman http://en.wikipedia.org/wiki/Ben_Silverman #}
      {% trans %}
        Previously, Silverman has served as Co-Chairman of NBC Entertainment and Universal Media Studios, founded the
        production and distribution company Reveille, ran the international packaging division at William Morris Agency
        (WMA), served as vice president for New World/Marvel Entertainment and held posts at CBS and Warner Bros.
      {% endtrans %}
    </p>

    {# L10n: Refers to Couper Samuelson http://www.imdb.com/name/nm2250789/ #}
    <h2>{{ _('Couper Samuelson (Producer)') }}</h2>
    <p>
      {# L10n: Refers to Couper Samuelson http://www.imdb.com/name/nm2250789/ #}
      {% trans %}
        runs Jason Blum's Universal-based production company. Prior to that, he worked for producer Brad Weston at
        Paramount, where he produced the forthcoming Destination Wedding, the first movie initiated by Paramount Insurge,
        the studio's low-budget division. He spent five years at 2929, Mark Cuban's financing company, where he co-produced
        We Own the Night, starring Joaquin Phoenix and Mark Wahlberg. among other 2929 features. He began his career as
        an assistant in the Motion Picture Department of the Creative Artists Agency.
      {% endtrans %}
    </p>
  </div>
{% endblock %}
