{% extends 'base.html' %}

{% block page_title %}{{ _('Partners') }}{% endblock %}

{% block meta_description -%}
  <meta property="og:description" content="{% trans %}

  Firefox Flicks Partners &#8212; Review a list of all our partners, maybe become one too!

  {% endtrans %}">
{%- endblock %}

{% block content %}
  <div class="info">
    <h1>{{ _('Partners') }}</h1>

    <ul class="partners">
      <li>
        <img src="{{ MEDIA_URL }}img/partner-panavision.jpg">
        <a href="http://www.panavision.com/" target="_blank">Panavision</a>
      </li>
      <li>
        <img src="{{ MEDIA_URL }}img/partner-sfiff.jpg">
        <a href="http://www.sffs.org/Exhibition/SF-International-Film-Festival.aspx"
           target="_blank">San Francisco Internatational Film Festival</a>
      </li>
      <li>
        <img src="{{ MEDIA_URL }}img/partner-vidly.jpg">
        <a href="http://m.vid.ly/user/?utm_source=mozilla&amp;utm_medium=banner&amp;utm_campaign=firefox%2Bflicks%2B"
           target="_blank">Vid.ly</a>
      </li>
    </ul>
  </div>
{% endblock %}
