{% extends 'base.html' %}

{% block page_title %}{{ _('Partners') }}{% endblock %}

{% set meta_description = _(
  'Firefox Flicks FAQ &#8212; Your questions answered. Our FAQ covers all the '
  'details on how to enter the video contest and win prizes.'
) %}

{% block content %}
<div class="section">
  <article class="wrap partners-page">
    <h1 class="page-title">{{ _('Flicks Partners') }}</h1>
    <div class="section-intro">
      <p>
      {% trans %}
        We recognize our partners for their generous contributions to making the 2013 Firefox Flicks contest a hit.
      {% endtrans %}
      </p>
    </div>

    <h2>{{ _('Major Partners') }}</h2>
    <ul class="partners-list major">
      <li><a href="http://www.panavision.com/home" rel="external"><img src="{{ static('img/partners/logo-panavision.png') }}" alt="Panavision" width="215" height="85"></a></li>
      <li><a href="http://www.dolby.com/" rel="external"><img src="{{ static('img/partners/logo-dolby.png') }}" alt="Dolby" width="240" height="45"></a></li>      
      <li><a href="http://creativecommons.org/" rel="external"><img src="{{ static('img/partners/logo-creativecommons.png') }}" alt="Creative Commons" width="222" height="55"></a></li>
      <li><a href="http://www.movingart.tv/" rel="external"><img src="{{ static('img/partners/logo-movingart.png') }}" alt="Moving Art by Louie Schwartzberg" width="310" height="52"></a></li>
      <li><a href="http://www.techsmith.com/" rel="external"><img src="{{ static('img/partners/logo-techsmith.png') }}" alt="TechSmith" width="240" height="38"></a></li>
      <li><a href="http://www.givit.com/" rel="external"><img src="{{ static('img/partners/logo-givit.png') }}" alt="Givit" width="115" height="64"></a></li>      
    </ul>

    <h2>{{ _('Media Partners') }}</h2>
    <ul class="partners-list media">
      <li><a href="http://www.vimeo.com" rel="external"><img src="{{ static('img/partners/logo-vimeo.png') }}" alt="Vimeo" width="168" height="50"></a></li>
      <li><a href="https://shootingpeople.org/home" rel="external"><img src="{{ static('img/partners/logo-shootingpeople.png') }}" alt="Shooting People" width="250" height="46"></a></li>
    </ul>

    <h2>{{ _('Festival Partners') }}</h2>
    <ul class="partners-list festival">
      <li><a href="http://disposablefilm.com/" rel="external"><img src="{{ static('img/partners/logo-dff.png') }}" alt="The Disposable Film Festival" width="192" height="48"></a></li>
      <li><a href="http://festivales.buenosaires.gob.ar/bafici/home13/web/es/index.html" rel="external"><img src="{{ static('img/partners/logo-bafici.png') }}" alt="BAFICI" width="178" height="127"></a></li>
    </ul>

  </article>
</div>
{% endblock %}
