{% extends 'base.html' %}

{% block page_title %}{{ _('Prizes') }}{% endblock %}

{% block meta_description -%}
  <meta property="og:description" content="{% trans %}

  Firefox Flicks Prizes &#8212; Learn more about the contest and check out the
  prizes you can win.

  {% endtrans %}">
{%- endblock %}

{% block content %}
  <div class="info">
    <h1>{{ _('Prizes') }}</h1>

    <h2>{{ _('GRAND PRIZE &#8212; $10,000 (USD)') }}</h2>
    <p>
      {% trans %}
        The grand prize winners (1 from each region) will each receive $10000 (USD) in video equipment or
        cash to be used towards school expenses (if the winner is currently enrolled in an accredited
        film school or film program at an accredited college or university).
      {% endtrans %}
    </p>

    <h2>{{ _('CATEGORY PRIZES &#8212; $5,000 (USD)') }}</h2>
    <p>
      {% trans %}
        The category winner (first place in each category in each region) will each receive $5,000 (USD)
        in video equipment or cash to be used towards school expenses (if the winner is currently
        enrolled in an accredited film school or film program at an accredited college or university).
        The category runner up winner (second place in each category in each region) will each receive
        $1,000 (USD) in video equipment or cash to be used towards school expenses (if the winner is
        currently enrolled in an accredited film school or film program at an accredited college or
        university).
      {% endtrans %}
    </p>

    <h2 id="panavision">{{ _('PANAVISION PRIZE') }}</h2>
    <p>
      {% trans link='%s#%s' % (url('flicks.base.rules'), 'panavision') %}
        The Panavision prize winner (one worldwide) will be awarded the
        use of Panavision's digital or film camera equipment, lenses and
        accessories for up to four weeks. The Panavision prize is
        equivalent to a rental value of $60,000 (USD). For full
        Panavision prize details, please see the
        <a href="{{ link }}#panavision">Panavision prize
        legal requirements</a>.
      {% endtrans %}
    </p>

    <h2 id="youth-contest">{{ _('FIREFOX FLICKS YOUTH CONTEST') }}</h2>
    <p>
      {% trans bavc_link='http://www.bavc.org',
               rules_link='%s#%s' % (url('flicks.base.rules'), 'youth-contest') %}
        Firefox Flicks participants between the age of 13-19 are
        eligible to participate in the Firefox Flicks Youth Contest, in
        partnership with the <a href="{{ bavc_link }}">Bay Area Video
        Coalition</a>. The winner will be chosen by a panel of youth judges.
        Prizes are: $500 (USD) for first place; $300 (USD) for second place
        and $200 (USD) for third. Full contest rules can be found
        <a href="{{ rules_link }}">here</a>.
      {% endtrans %}
    </p>
    <p>
      {% trans link='%s#%s' % (url('flicks.base.rules'), 'parental-consent'),
               email='firefoxflicks@mozilla.org' %}
        Please note: If you are under 18 in the U.S. or the age of
        majority in your country of residence, you must submit a
        <a href="{{ link }}">Parental Consent form</a> before you
        upload your video. Please send your completed form to
        <a href="mailto:{{ email }}">{{ email }}</a>.
      {% endtrans %}
    </p>

    <h2>{{ _('PRIZE PACKS') }}</h2>
    <p>
      {% trans %}
        In addition to the above, everyone who enters and provides their mailing address will receive a
        Firefox Flicks prize pack. If a team enters, the individual who submitted the flick will receive
        the prize pack.
      {% endtrans %}
    </p>
    <p>
      {% trans legal=url('flicks.base.rules') %}
        For full prize details please see the <a href="{{ legal }}">Firefox Flicks legal requirements</a>.
      {% endtrans %}
    </p>
  </div>
{% endblock %}
