{% extends 'base.html' %}

{% block page_title %}{{ _('Prizes') }}{% endblock %}

{% block meta_description -%}
  <meta property="og:description" content="{% trans %}

  Firefox Flicks Prizes &#8212; Learn more about the contest and check out the
  prizes you can win.

  {% endtrans %}">
{%- endblock %}

{% block content %}
  <div class="info">
    <h1>{{ _('Prizes') }}</h1>

    <h2>{{ _('GRAND PRIZE &#8212; $10,000 (USD)') }}</h2>
    <p>
      {% trans %}
        The grand prize winners (1 from each region) will each receive $10000 (USD) in video equipment or
        cash to be used towards school expenses (if the winner is currently enrolled in an accredited
        film school or film program at an accredited college or university).
      {% endtrans %}
    </p>

    <h2>{{ _('CATEGORY PRIZES &#8212; $5,000 (USD)') }}</h2>
    <p>
      {% trans %}
        The category winner (first place in each category in each region) will each receive $5,000 (USD)
        in video equipment or cash to be used towards school expenses (if the winner is currently
        enrolled in an accredited film school or film program at an accredited college or university).
        The category runner up winner (second place in each category in each region) will each receive
        $1,000 (USD) in video equipment or cash to be used towards school expenses (if the winner is
        currently enrolled in an accredited film school or film program at an accredited college or
        university).
      {% endtrans %}
    </p>

    <h2>{{ _('PRIZE PACKS') }}</h2>
    <p>
      {% trans %}
        In addition to the above, everyone who enters and provides their mailing address will receive a
        Firefox Flicks prize pack. If a team enters, the individual who submitted the flick will receive
        the prize pack.
      {% endtrans %}
    </p>
    <p>
      {% trans legal=url('flicks.base.rules') %}
        For full prize details please see the <a href="{{ legal }}">Firefox Flicks legal requirements</a>.
      {% endtrans %}
    </p>
  </div>
{% endblock %}
