{% extends 'base.html' %}

{% block page_title %}Firefox Flicks Contest Official Rules{% endblock %}

{% block content %}
  <a href="{{ url('flicks.base.home') }}" class="home-link">&laquo; {{ _('Return Home') }}</a>
   
  <h1>Firefox Flicks Contest Official Rules</h1>

  <p>
    <strong>Introduction:</strong> The objective of this Contest is to give budding film makers the
    opportunity to create and submit short videos promoting Firefox. The contest will run worldwide
    (except for the excluded countries below) and winners will be chosen from four regions around the
    world &#8212; (i) the U.S. and Canada, (ii) Latin America, (iii) Europe, and (iv) Asia, Africa, Australia
    and New Zealand.
  </p>
  <p>
    <strong>Sponsor:</strong> The sponsor of this Contest is Mozilla Corporation, located at 650 Castro
    Street, Suite 300, Mountain View, CA 94041 (&#34;Sponsor&#34;).
  </p>
  <p>
    <strong>Eligibility:</strong>  No purchase or fee is necessary to enter or claim any prize. 
  </p>
  <p>
    The Contest is open to individuals who are at least the age of majority in their country of residence.
    Minors 13 years or older who reside in the U.S. and minors in certain other countries depending on local
    laws are also eligible to participate in the Contest but will be required to submit a signed parental
    consent form with their Entry. Email us at <a href="mailto:ecompton@mozilla.com">ecompton@mozilla.com</a>
    for a parental consent form.
  </p>
  <p>
    The Contest is open to individual developers and teams of up to ten (10) individuals. Teams must pick a
    team leader, who will submit the team's video and be the sole recipient of any prizes for the team (in
    other words there is only one prize per winning video, not a prize for each member of the team).
  </p>
  <p>
    The Contest is void in Cuba, Iran, Myanmar, North Korea, Sudan, Syria, and any other country subject to
    a U.S boycott or where prohibited by law or restricted by law or regulations.
  </p>
  <p>
    Employees of Sponsor and its parent company, subsidiaries, affiliates, suppliers, advertising agencies, and
    the families of and persons living in the same household as such employees, are not eligible to participate. 
  </p>
  <p>
    By entering you agree to be bound by these Official Rules and all decisions of the Sponsor and judges, which
    are final and binding. The Contest is subject to all applicable laws.
  </p>
  <p>
    <strong>How to Enter:</strong> To enter the Contest, log into
    <a href="http://firefoxflicks.mozilla.org">http://firefoxflicks.mozilla.org</a>, fill in your profile
    information, and follow the instructions to submit your video ("Entry"). You will need to provide your country
    of residence and select the judging category to which you are submitting your Entry. You may submit as
    many Entries as you want. Your Entries will be posted to a contest video gallery on the Vidly site
    (<a href="http://www.vid.ly">http://www.vid.ly</a>).
  </p>
  <p>
    If you are a team of individuals submitting an Entry, the Entry should be submitted under the email account
    of the team leader. All the individuals on the team should be identified in some way in the description for
    proper attribution.
  </p>
  <p>
    You must be the named and authorized account holder of the email account through which your Entry is submitted.
    The authorized account holder is the natural person whose information was submitted to the email provider when
    the account was created. Entries submitted will not be returned or acknowledged.
  </p>
  <p>
    Without limiting any other rights, the Sponsor has the right to, in the Sponsor's sole discretion, reject or
    remove from the Contest any Entry that, in the Sponsor's sole discretion, violates these Rules, any applicable
    Sponsor policy, any applicable laws, or is in any way harmful or objectionable. Sponsor also reserves the right
    to disqualify any entrant or Entry at the Sponsor's sole discretion. No correspondence shall be entered into.
  </p>
  <p>
    <strong>Privacy:</strong> Entrants will be required to provide their name, email address, and country at the
    time of submission. Name, region, and video category will be posted along with each video in the contest gallery
    on the Vidly site (<a href="http://www.vid.ly">http://www.vid.ly</a>). Entrants may also provide a website
    address, biographical information, and/or an avatar if they wish to have those included in their public profile
    in the contest gallery. Any entrant who wishes to receive the surprise thank you prize pack will also need to
    provide a mailing address. Winners will be asked to provide a mailing address so that we can send them their prizes
    and for general contact purposes related to the Contest. All Entries and the entrants' profiles will be public on a
    contest website hosted by Vidly, where they can be viewed, liked, and shared by everyone. Except as otherwise stated
    in these rules or as otherwise agreed by you and the Sponsor, email and mailing addresses and other personal information
    you provide in connection with the Contest will not be made public or shared, except with vendors providing contest
    related services to Sponsor, and will be used only for purposes relating to this Contest, and in accordance with our
    Privacy Policy located at <a href="http://www.mozilla.org/en-US/privacy-policy.html">
    http://www.mozilla.org/en-US/privacy-policy.html</a>. The Vidly service privacy policy is available at
    <a href="http://www.encoding.com/privacy">http://www.encoding.com/privacy</a>. The data you provide about yourself
    may be transferred from your country to the U.S. or other countries.
  </p>
  <p>
    <strong>Contest Period:</strong>  The Contest begins at 12:01 a.m. Pacific Standard Time (PST) (8:01 a.m. GMT) on
    Tuesday, February 28, 2012 and ends at 11:59 p.m. PST on Tuesday, May 1, 2012 (7:59 a.m. GMT on May 2 It will be
    immediately followed by the judging, as described below.
  </p>
  <p>
    <strong>Work Criteria:</strong> All Entries must meet specific criteria to be accepted into the Contest.
    Without limitation, the following conditions apply: (a) The Entry must qualify for one of the judging
    categories, be submitted to the right category, and comply with the creative brief provided by Sponsor.
    (b) The Entry must be submitted under the Creative Commons Attribution &#8212; NonCommercial &#8212; ShareAlike
    license. (c) The Entry must be your original work and may not include any unauthorized intellectual property
    of a third party (such as a video clip, music, or visible brand name or logo you do not have a license
    to use). (d) You may use the graphics and logos supplied by Sponsor subject to the Mozilla Trademark Policy (
    <a href="http://www.mozilla.org/foundation/trademarks/">http://www.mozilla.org/foundation/trademarks/</a>) and the Firefox
    Brand Toolkit (<a href="http://www.mozilla.org/en-US/firefox/brand/">http://www.mozilla.org/en-US/firefox/brand/</a>).
    Mozilla retains all ownership in such graphics and logos. (e) The Entry may be no longer than 120 seconds. (f)
    Non-English language videos must have English subtitles included. (g) The Entry must be in a format that can be uploaded
    to Vidly. (h) The description of the Entry included in your submission must be clear and accurate. (i) The Entry must
    not be obscene, libelous, or defamatory, violate the right of privacy or publicity of any third party, or violate any
    applicable laws, and must comply with Mozilla's legal notices and policies. See
    <a href="http://www.mozilla.com/en-US/about/legal.html">http://www.mozilla.com/en-US/about/legal.html</a>. (j) If anyone
    not on the submitting team appears in the video, you must obtain their explicit permission to videotape them, to enter
    the video in this Contest, and to give Mozilla the right to freely use and distribute the video. 
  </p>
  <p>
    <strong>Selection of Winners:</strong> After the Contest Period has ended, all Entries will be reviewed and judged by
    a panel of qualified judges from the film industry who will select the winners. There will be two winners in each of
    the four categories listed below from each of the four geographical regions identified below, and one grand prize winner
    from each region, for a total of 36 winners. The categories from which winners will be selected are: best 30 second spot,
    best public service announcement, best animation, and best use of open technologies (e.g: Popcorn.js, HTML5). Entrants
    select the category in which they want their Entry judged at the time of submission. The regions from which winners will be
    chosen are (i) the U.S. and Canada, (ii) Latin America, (iii) Europe, and (iv) Asia, Africa, Australia and New Zealand.
    All countries, except those not eligible, will fall into one of the four regions. Sponsor will determine which region a
    country falls into in its sole discretion. Within each category, Entries will be judged on the following equally weighted
    criteria: quality of shooting, quality of editing, creativity, and how closely they align with the Contest creative brief.
    The decisions of the judging panel are final on all matters relating to the Contest and no correspondence will be entered
    into.
  </p>
  <p>
    <strong>Prizes:</strong> There are thirty-two (32) category prize winners and four (4) grand prize winners. The category
    prize winners (2 from each category in each region) will each receive $1,000 worth of video equipment (either Mozilla
    and the winner will mutually agree upon the specific equipment or Mozilla will provide a gift card to a store that
    carries video equipment, at Mozilla's sole discretion); provided, however, if a category prize winner is currently
    enrolled in an accredited film school or film program at an accredited college or university, that winner may elect to
    receive $1,000 in cash to be used towards school expenses rather than the video equipment. One (1) grand prize winner
    from each region will receive $5,000 worth of video equipment (either Mozilla and the winner will mutually agree upon
    the specific equipment or Mozilla will provide a gift card to a store that carries video equipment, at Mozilla's sole
    discretion); provided, however, if a grand prize winner is currently enrolled in an accredited film school or film
    program at an accredited college or university, that winner may elect to receive $5,000 in cash to be used towards
    school expenses rather than the video equipment. If a team created the winning Entry, the prize will be awarded to
    the individual who submitted the Entry.
  </p>
  <p>
    In addition to the above prizes, all entrants who choose to provide their mailing address will receive a Firefox Flicks
    prize pack. In the case of a team, the individual who submitted the Entry will receive the prize pack.
  </p>
  <p>
    <strong>General Prize Conditions:</strong> The winners are solely responsible for the payment of any taxes
    that may arise as a result of acceptance of a prize, and all other expenses or costs relating to the prize
    not expressly set forth above. Prizes cannot be transferred or substituted and must be accepted as awarded.
    Sponsor reserves the right to substitute a prize of equal or greater value in its sole discretion if an advertised
    prize becomes unavailable. Please note that if the winning Entry was submitted by a team, only one prize will
    be awarded to the team. A prize will not be given to each member of the team.
  </p>
  <p>
    <strong>Winner Notification/Validation:</strong> The winners will be notified by email on or about May 7, 2012.
    If a winner has not responded within five (5) days after Sponsor has sent the notification, or in the event of
    non-compliance with any of these requirements, the prize may be forfeited, and the entrant having the next highest
    score will be deemed the winner.
    The winner, and all team members if the winning entry was submitted by a team, may be required to sign and return to
    Sponsor an affidavit of eligibility and publicity release, where lawful, within ten (10) days of the date of winning
    notification. If any winner is a minor under the laws of his/her place of residence, all documents must be signed by a
    parent or legal guardian.
  </p>  
  <p>
    <strong>Authorization to Use Winner's Entry Information &amp; Name:</strong> By entering, you agree that
    Sponsor and its designees may use your Entry and your name, photo (or image capture from your Entry),
    video clips, and basic information about you and your Entry that you submit, in any media now known or
    hereafter developed for commercial, promotional and/or publicity purposes, unless prohibited by law. You also
    agree to participate in and cooperate with any promotional activity and/or publicity relating to the Contest
    as the Sponsor shall reasonably request from time to time. 
  </p>
  <p>
    <strong>Release of Liability:</strong> By participating, you release the Sponsor and its subsidiaries, affiliates,
    partners, employees, directors, agents, advertising agencies, and all others associated with the development
    and execution of this Contest (including Vidly), from and against any and all injury, loss or damage caused
    or claimed to be caused by your participation in the Contest and/or the acceptance, awarding, receipt,
    use and/or misuse of the prize, and you agree that these entities are in no way responsible for any warranty,
    representation, or guarantee, expressed or implied, in fact or in law, relating to the Contest and/or the
    awarding of any prize except as may be expressly set forth in these Official Rules.
  </p>
  <p>
    You also agree to hold harmless Sponsor and its subsidiaries, affiliates, partners, employees, directors, agents,
    advertising agencies, and all others associated with the development and execution of this Contest (including Vidly),
    from any claim by any third party relating to any rights in the Entry you submitted.  
  </p>
  <p>
    <strong>Representations and Warranties:</strong> By entering, you (meaning each member of a team if a team
    is submitting the Entry) warrant and represent that (a) you are the sole and exclusive owner of (and free of
    any adverse claim by any person, firm, or corporation) all intellectual property rights in and to the Entry
    (exclusive of Mozilla's intellectual property rights); (b) the Entry is original and the use of the Entry as
    described in these Rules will not infringe the proprietary rights, including without limitation the intellectual
    property rights, of any third party; (c) the use of the Entry, as described in these Rules, will be in compliance
    with any third-party licenses pertaining to the Entry; (d) the Entry is not obscene or libelous, or does not violate
    any rights of any third party, including but not limited to rights of privacy or publicity; (e) the Entry does not
    target anyone because of his or her membership in a certain social group, including race, gender, color, religion,
    belief, sexual orientation, disability, ethnicity, nationality, age, gender identity, or political affiliation, and
    does not contain a symbolic representation of any group that targets anyone because of his or her membership in a
    certain social group; (f) you have accurately described the Entry; (g) the Entry does not exploit any vulnerabilities
    in decoders; (h) the Entry and its use as described in these Rules will not violate any federal, provincial, state or
    local laws or ordinances; (i) the Entry is consistent with these Rules; and (j) you have the right to grant to Sponsor
    and its designees the license granted below. By entering you agree to be bound by these Official Rules, including
    all eligibility requirements and all decisions of Sponsor, which are final and binding in all matters relating to
    the Contest.
  </p>
  <p>
    <strong>Intellectual Property:</strong> Your Entry shall remain your exclusive property. By submitting your Entry
    to the Contest, you grant Sponsor, its parent and its subsidiaries a worldwide, royalty-free license to use,
    modify, reproduce, distribute, transmit, publish, and publicly and privately display the Entry, including any
    modifications, in any media for commercial purposes, such as promoting Mozilla and its products, services and
    projects. These rights may be exercised by third parties authorized by Mozilla. You understand that you will not be
    paid in connection with any exercise of these rights. You also agree to make your Entry publicly available under
    the Creative Commons Attribution &#8212; NonCommercial &#8212; ShareAlike license, the license that will govern all Entries
    to the contest.
  </p>
  <p>
    <strong>Mozilla's Trademarks:</strong> The names Mozilla and Firefox, as well as the Mozilla logo, Firefox logo,
    and the red lizard logo are all registered trademarks of the Mozilla Foundation in the U.S. and several other
    countries. Any use of those or any other Sponsor (or Mozilla Foundation) trademark, trade name or logo must comply
    with the Mozilla Trademark Policies as posted at <a href="http://www.mozilla.org/foundation/trademarks/">
    http://www.mozilla.org/foundation/trademarks/</a> and the Firefox Brand Toolkit available at
    <a href=" http://www.mozilla.org/en-US/firefox/brand/">http://www.mozilla.org/en-US/firefox/brand/</a>.
  </p>
  <p>
    <strong>Disclaimers:</strong> Sponsor is not responsible for: (i) lost, late, misdirected, damaged, garbled or
    illegible entries;
    (ii) error, omission, interruption, deletion, defect, delay in operations or transmission, theft or destruction
    or unauthorized access to or alterations of entry materials, or for technical, network, telephone equipment,
    electronic, computer, hardware or software malfunctions of any kind, or inaccurate transmission of or failure to
    receive entry information by Sponsor on account of technical problems or traffic congestion on the Internet or at any
    web site or any combination thereof; or (iii) any injury or damage to entrant's or any other person's computer related
    to or resulting from participating in the Contest. Sponsor reserves the right to: (i) permanently disqualify from any
    Contest it sponsors any person it believes has intentionally violated these official rules; and (ii) suspend, modify
    or terminate the Contest if Sponsor believes, in its sole discretion, that malfunction, error, disruption or damage
    is impairing or will impair the administration, security, fairness, or integrity of the Contest. If the Contest is
    terminated before the scheduled end of the Contest Period, the Sponsor will determine the winners from all eligible
    entries received as of the termination date in a fair and equitable manner as determined by Sponsor in its reasonable
    discretion. Persons found tampering with or abusing any aspect of the Contest, or whom the Sponsor believes to be causing
    or attempting or intending to cause any malfunction, error, disruption, or damage will be disqualified. The Sponsor
    reserves the right to disqualify any unauthorized entries or votes, including, without limitation, any entries or votes
    made through robotic, automatic, mechanical, programmed or similar multiple-entry, or entry/vote duplication, method and
    to disqualify any person or entity using such a method.
  </p>
  <p>
    <strong>Disputes:</strong> These Official Rules and any disputes relating in any way to the Contest shall be governed
    exclusively by the laws of the State of California, USA, without regard to principles of conflicts of laws. By
    participating, you further agree that: (i) any and all disputes, claims, and causes of action arising out of or in
    connection with the Contest,  or any prizes awarded, shall be resolved individually without resort to any form of
    class action; (ii) any claims, judgments and awards shall be limited to actual out-of-pocket costs incurred, including
    costs associated with entering the Contest, but in no event attorney's fees; and (iii) under no circumstances will any
    entrant be permitted to obtain any award for, and entrant hereby waives all rights to claim, punitive, incidental or
    consequential damages and any and all rights to have damages multiplied or otherwise increase any other damages, other
    than damages for actual out-of-pocket expenses.
  </p>
  <p>
    <strong>Winners Names:</strong> For the names of the winners and/or the judges send a self-addressed, stamped envelope
    to "Firefox Flicks Contest Winner List", attn: Mozilla Contests, 650 Castro Street, Suite 300, Mountain View, CA
    94041. Requests must be received (not just postmarked) by September 30, 2012.
  </p>
  <p>
    Solange der Vorrat reicht. Der Rechtsweg ist ausgeschlossen.
  </p>
{% endblock %}
