{# File For Strings That Need L10N But Do Not Appear On The Website #}

{# L10n: Copy For Slide Based (PDF), each line correspondes to a specific slide. If text is shorter, please make sure we have text per slide. #}

{% trans %}
    Get Mobilized<br>
    Getting mobilized means getting more connected to one another — so we can all go further.<br>
    Because the world’s gone mobile.<br>
    And it's time to bring the values that Firefox has always championed in the browser...<br>
    ...to the devices that the next billion people will use as their primary gateway to the Web.<br>
    With Firefox OS, we’re making smartphones more accessible...<br>
    ...while empowering more users in more ways.<br>
    It’s not (just) about technology.<br>
    Or a browser on a mobile device.<br>
    It’s about enabling more people to take advantage of the full power of the Web...<br>
    ...giving more individuals more access to content they didn't know was available...<br>
    ...content that can change their lives and allow them to create and participate in the Web.<br>
    It’s about discovering and enjoying the content that matters most to them and their future.<br>
    That's where you come in.<br>
    Your video should demonstrate what having the Web in your hands can do for you...<br>
    ...and how it affects those around you.<br>
    What possibilities open up when there are no barriers to entry, to participation or to creation?<br>
    Help us inspire people to Get Mobilized for individual and collective progress.<br>
    Here are a few tips to get you started:<br>
    Your video should be 60 seconds or less.<br>
    Please don't show any branded devices.<br>
    It can be animated or live action. (Or both — get creative!)<br>
    It can be funny, quirky or serious. It's up to you!<br>
    But make it inspiring, dynamic, hopeful and optimistic.<br>
    Your video should talk to ordinary people, not geeks, hackers or expert coders.<br>
    (Try thinking of people who aren't online yet.)<br>
    We've prepared a few things to help. Feel free to use them if you like.<br>
    You can download them here: {URL TBD}<br>
    Together, we can bring the promise of the Web to more people in more places.<br>
    Get ready.<br>
    Get creating.<br>
    Get Mobilized.<br>
{% endtrans %}
