{# File For Strings That Need L10N But Do Not Appear On The Website #}

{# L10n: Copy For Slide Based (PDF), each line correspondes to a specific slide. If text is shorter, please make sure we have text per slide. #}

{% trans %}
  This year, we need your help to inspire others to Get Mobilized.<br>
  That means harnessing the power of the Web on mobile devices to discover new content...<br>
  ... exploring how that content connects you to new ideas...<br>
  ... and discovering how those ideas can enrich your life.<br>
  To that end, we're asking you to write, produce and edit a video of no more than 60 seconds...<br>
  ... that tells the story of how having access to the Web through a mobile device can change the way you see the world and how you function within it.
  Here are a few tips to get you started:<br>
  You don't have to use a mobile device to make your video.<br>
  Your video should be 60 seconds or less.<br>
  Please don't show any branded devices.<br>
  Don't focus on Firefox, but rather the power and potential of mobile.<br>
  It can be animated or live action. (Or both - get creative!)<br>
  It can be funny, quirky or serious. It's up to you!<br>
  But make it inspiring, dynamic, hopeful and optimistic.<br>
  Your video should talk to ordinary people, not geeks, hackers or expert coders. (Try thinking of people who aren't online yet.)<br>
  All in 60 seconds or less.<br>
  We've prepared a few things to help. Feel free to use them if you like. You can download them here: {URL TBD}<br>
  Together, we can bring the promise of the Web to the next billion people coming online.<br>
  Get ready.<br>
  Get creating.<br>
  Get Mobilized.<br>
{% endtrans %}

{{ _('This field is required.') }}
