{# File For Strings That Need L10N But Do Not Appear On The Website #}

{# L10n: Creative Brief, this text will be included in a slide PDF #}

{% trans %}
    Get Mobilized<br/><br/>
    Getting mobilized means getting more connected to one another — so we can all go further.<br/><br/>
    Because the world’s gone mobile.<br/><br/>
    And it's time to bring the values that Firefox has always championed in the browser...<br/><br/>
    ...to the devices that the next billion people will use as their primary gateway to the Web.<br/><br/>
    With Firefox OS, we’re making smartphones more accessible...<br/><br/>
    ...while empowering more users in more ways.<br/><br/>
    It’s not (just) about technology.<br/><br/>
    Or a browser on a mobile device.<br/><br/>
    It’s about enabling more people to take advantage of the full power of the Web...<br/><br/>
    ...giving more individuals more access to content they didn't know was available...<br/><br/>
    ...content that can change their lives and allow them to create and participate in the Web.<br/><br/>
    It’s about discovering and enjoying the content that matters most to them and their future.<br/><br/>
    That's where you come in.<br/><br/>
    Your video should demonstrate what having the Web in your hands can do for you...<br/><br/>
    ...and how it affects those around you.<br/><br/>
    What possibilities open up when there are no barriers to entry, to participation or to creation?<br/><br/>
    Help us inspire people to Get Mobilized for individual and collective progress.<br/><br/>
    Here are a few tips to get you started:<br/><br/>
    Your video should be 60 seconds or less.<br/><br/>
    Please don't show any branded devices.<br/><br/>
    It can be animated or live action. (Or both — get creative!)<br/><br/>
    It can be funny, quirky or serious. It's up to you!<br/><br/>
    But make it inspiring, dynamic, hopeful and optimistic.<br/><br/>
    Your video should talk to ordinary people, not geeks, hackers or expert coders.<br/><br/>
    (Try thinking of people who aren't online yet.)<br/><br/>
    We've prepared a few things to help. Feel free to use them if you like.<br/><br/>
    You can download them here: {URL TBD}<br/><br/>
    Together, we can bring the promise of the Web to more people in more places.<br/><br/>
    Get ready.<br/><br/>
    Get creating.<br/><br/>
    Get Mobilized.<br/><br/>
{% endtrans %}