<!-- Standard doc header goes here -->

<!-- note the 'winners' body class. We need this as a style hook. -->
<body class="winners">

<div class="wrapper">

<!-- Standard site header, but we're updating the navigation. -->
  <div id="header">
    <div class="header-wrapper">
      <a href="https://firefoxflicks.mozilla.org/" title="Firefox Flicks" class="logo">Firefox Flicks</a>
      <ul>
        <li><a href="https://firefoxflicks.mozilla.org/en-US/winners" title="Winners">Winners</a></li>
        <li><a href="https://firefoxflicks.mozilla.org/en-US/recent" title="Videos">Videos</a></li>
        <li><a href="https://firefoxflicks.mozilla.org/en-US/judges" title="Judges">Judges</a></li>
        <li><a href="https://firefoxflicks.mozilla.org/en-US/prizes" title="Prizes">Prizes</a></li>
        <li><a href="https://firefoxflicks.mozilla.org/en-US/faq" title="FAQ">FAQ</a></li>
        <li><a href="https://firefoxflicks.mozilla.org/en-US/rules" title="Rules">Rules</a></li>
      </ul>
      <a href="http://mozilla.org/" id="mozilla-tag">Mozilla</a>
    </div>
  </div>
      
  <div class="content-wrapper">
    <!-- new stuff starts here -->
    <header class="winners-head">
      <h1>And the <span>Awards Go To&hellip;</span></h1>
    </header>
    
    <nav id="nav-sections">
      <ul>
        <li><a href="#section-asia">Asia, Africa, Australia</a></li>
        <li><a href="#section-europe">Europe</a></li>
        <li><a href="#section-latam">Latin America</a></li>
        <li><a href="#section-northam">North America</a></li>
        <li><a href="#section-panavision">Panavision</a></li>
        <li><a href="#section-bayarea">Bay Area Video Coalition</a></li>
      </ul>
    </nav>
    
    <article id="section-asia" class="section">
      <h1>Asia, Africa, &amp; Australia</h1>
      
      <section class="grandprize">
        <h2 class="title"><a href="#"><img src="/media/img/promo-twilight.jpg" alt="" width="600" height="342"> Video Title</a></h2>
        <p class="credit">Submitter Name, Submitter Locale</p>
      </section>
      
      <section class="category">
        <h2>Category Winners</h2>
        <ul>
          <li>
            <h3>30 Second Spot</h3>
            <h4 class="title"><a href="#">Video Title</a></h4>
            <p class="credit">Submitter Name, Submitter Locale</p>
          </li>
          <li>
            <h3>Animation</h3>
            <h4 class="title"><a href="#">Video Title</a></h4>
            <p class="credit">Submitter Name, Submitter Locale</p>
          </li>
          <li>
            <h3>New Technology</h3>
            <h4 class="title"><a href="#">Video Title</a></h4>
            <p class="credit">Submitter Name, Submitter Locale</p>
          </li>
          <li>
            <h3>PSA</h3>
            <h4 class="title"><a href="#">Video Title</a></h4>
            <p class="credit">Submitter Name, Submitter Locale</p>
          </li>
        </ul>
      </section>
      
      <section class="runnerups">
        <h2>Runner Ups</h2>
        <ul>
          <li>
            <h3>30 Second Spot</h3>
            <h4 class="title"><a href="#">Video Title</a></h4>
            <p class="credit">Submitter Name, Submitter Locale</p>
          </li>
          <li>
            <h3>Animation</h3>
            <h4 class="title"><a href="#">Video Title</a></h4>
            <p class="credit">Submitter Name, Submitter Locale</p>
          </li>
          <li>
            <h3>New Technology</h3>
            <h4 class="title"><a href="#">Video Title</a></h4>
            <p class="credit">Submitter Name, Submitter Locale</p>
          </li>
          <li>
            <h3>PSA</h3>
            <h4 class="title"><a href="#">Video Title</a></h4>
            <p class="credit">Submitter Name, Submitter Locale</p>
          </li>
        </ul>
      </section>
    </article>

    <article id="section-europe" class="section">
      <h1>Europe</h1>
      
      <section class="grandprize">
        <h2 class="title"><a href="#"><img src="/media/img/promo-twilight.jpg" alt="" width="600" height="342"> Video Title</a></h2>
        <p class="credit">Submitter Name, Submitter Locale</p>
      </section>
      
      <section class="category">
        <h2>Category Winners</h2>
        <ul>
          <li>
            <h3>30 Second Spot</h3>
            <h4 class="title"><a href="#">Video Title</a></h4>
            <p class="credit">Submitter Name, Submitter Locale</p>
          </li>
          <li>
            <h3>Animation</h3>
            <h4 class="title"><a href="#">Video Title</a></h4>
            <p class="credit">Submitter Name, Submitter Locale</p>
          </li>
          <li>
            <h3>New Technology</h3>
            <h4 class="title"><a href="#">Video Title</a></h4>
            <p class="credit">Submitter Name, Submitter Locale</p>
          </li>
          <li>
            <h3>PSA</h3>
            <h4 class="title"><a href="#">Video Title</a></h4>
            <p class="credit">Submitter Name, Submitter Locale</p>
          </li>
        </ul>
      </section>
      
      <section class="runnerups">
        <h2>Runner Ups</h2>
        <ul>
          <li>
            <h3>30 Second Spot</h3>
            <h4 class="title"><a href="#">Video Title</a></h4>
            <p class="credit">Submitter Name, Submitter Locale</p>
          </li>
          <li>
            <h3>Animation</h3>
            <h4 class="title"><a href="#">Video Title</a></h4>
            <p class="credit">Submitter Name, Submitter Locale</p>
          </li>
          <li>
            <h3>New Technology</h3>
            <h4 class="title"><a href="#">Video Title</a></h4>
            <p class="credit">Submitter Name, Submitter Locale</p>
          </li>
          <li>
            <h3>PSA</h3>
            <h4 class="title"><a href="#">Video Title</a></h4>
            <p class="credit">Submitter Name, Submitter Locale</p>
          </li>
        </ul>
      </section>
    </article>

    <article id="section-latam" class="section">
      <h1>Latin America</h1>
      
      <section class="grandprize">
        <h2 class="title"><a href="#"><img src="/media/img/promo-twilight.jpg" alt="" width="600" height="342"> Video Title</a></h2>
        <p class="credit">Submitter Name, Submitter Locale</p>
      </section>
      
      <section class="category">
        <h2>Category Winners</h2>
        <ul>
          <li>
            <h3>30 Second Spot</h3>
            <h4 class="title"><a href="#">Video Title</a></h4>
            <p class="credit">Submitter Name, Submitter Locale</p>
          </li>
          <li>
            <h3>Animation</h3>
            <h4 class="title"><a href="#">Video Title</a></h4>
            <p class="credit">Submitter Name, Submitter Locale</p>
          </li>
          <li>
            <h3>New Technology</h3>
            <h4 class="title"><a href="#">Video Title</a></h4>
            <p class="credit">Submitter Name, Submitter Locale</p>
          </li>
          <li>
            <h3>PSA</h3>
            <h4 class="title"><a href="#">Video Title</a></h4>
            <p class="credit">Submitter Name, Submitter Locale</p>
          </li>
        </ul>
      </section>
      
      <section class="runnerups">
        <h2>Runner Ups</h2>
        <ul>
          <li>
            <h3>30 Second Spot</h3>
            <h4 class="title"><a href="#">Video Title</a></h4>
            <p class="credit">Submitter Name, Submitter Locale</p>
          </li>
          <li>
            <h3>Animation</h3>
            <h4 class="title"><a href="#">Video Title</a></h4>
            <p class="credit">Submitter Name, Submitter Locale</p>
          </li>
          <li>
            <h3>New Technology</h3>
            <h4 class="title"><a href="#">Video Title</a></h4>
            <p class="credit">Submitter Name, Submitter Locale</p>
          </li>
          <li>
            <h3>PSA</h3>
            <h4 class="title"><a href="#">Video Title</a></h4>
            <p class="credit">Submitter Name, Submitter Locale</p>
          </li>
        </ul>
      </section>
    </article>

    <article id="section-northam" class="section">
      <h1>North America</h1>
      
      <section class="grandprize">
        <h2 class="title"><a href="#"><img src="/media/img/promo-twilight.jpg" alt="" width="600" height="342"> Video Title</a></h2>
        <p class="credit">Submitter Name, Submitter Locale</p>
      </section>
      
      <section class="category">
        <h2>Category Winners</h2>
        <ul>
          <li>
            <h3>30 Second Spot</h3>
            <h4 class="title"><a href="#">Video Title</a></h4>
            <p class="credit">Submitter Name, Submitter Locale</p>
          </li>
          <li>
            <h3>Animation</h3>
            <h4 class="title"><a href="#">Video Title</a></h4>
            <p class="credit">Submitter Name, Submitter Locale</p>
          </li>
          <li>
            <h3>New Technology</h3>
            <h4 class="title"><a href="#">Video Title</a></h4>
            <p class="credit">Submitter Name, Submitter Locale</p>
          </li>
          <li>
            <h3>PSA</h3>
            <h4 class="title"><a href="#">Video Title</a></h4>
            <p class="credit">Submitter Name, Submitter Locale</p>
          </li>
        </ul>
      </section>
      
      <section class="runnerups">
        <h2>Runner Ups</h2>
        <ul>
          <li>
            <h3>30 Second Spot</h3>
            <h4 class="title"><a href="#">Video Title</a></h4>
            <p class="credit">Submitter Name, Submitter Locale</p>
          </li>
          <li>
            <h3>Animation</h3>
            <h4 class="title"><a href="#">Video Title</a></h4>
            <p class="credit">Submitter Name, Submitter Locale</p>
          </li>
          <li>
            <h3>New Technology</h3>
            <h4 class="title"><a href="#">Video Title</a></h4>
            <p class="credit">Submitter Name, Submitter Locale</p>
          </li>
          <li>
            <h3>PSA</h3>
            <h4 class="title"><a href="#">Video Title</a></h4>
            <p class="credit">Submitter Name, Submitter Locale</p>
          </li>
        </ul>
      </section>
    </article>

    <article id="section-panavision" class="section">
      <h1>Winner: Panavision Prize</h1>
      
      <section class="grandprize">
        <h2 class="title"><a href="#"><img src="/media/img/promo-twilight.jpg" alt="" width="600" height="342"> Video Title</a></h2>
        <p class="credit">Submitter Name, Submitter Locale</p>
      </section>

    </article>

    <article id="section-bayarea" class="section">
      <h1>Winner: Bay Area Video Coalition</h1>
      
      <section class="grandprize">
        <h2 class="title"><a href="#"><img src="/media/img/promo-twilight.jpg" alt="" width="600" height="342"> Video Title</a></h2>
        <p class="credit">Submitter Name, Submitter Locale</p>
      </section>
    </article>
    
      
  </div><!-- /.content-wrapper -->

<!-- Standard footer goes here -->      

<!-- This script should be moved to an external file, either on its own or conglomerated -->
<script>
(function ($) {

  var $window    = $(window),
      $content   = $(".content-wrapper"),
      $nav       = $("#nav-sections"),
      navTop     = $nav.offset(),
      navHeight  = $nav.height()+24,
      fixed      = false;

    $window.scroll(function() {

      var scrollTop = $window.scrollTop();
          
    	if( scrollTop >= navTop.top ) {
        if( !fixed ) {
          fixed = true;
          $nav.addClass("fixed");
          $content.css({ paddingTop: navHeight+24 });
        }
      } 
      else {
        if( fixed ) {
          fixed = false;
          $nav.removeClass("fixed");
          $content.css({ paddingTop: "0" });
        }
      }

    });
    
    $("#nav-sections a").click(function(){
      /* extract the target element's ID from the link's href */
      var target = $(this).attr("href").replace( /.*?#(.*)/g, "$1" );
      $('html, body').animate({
        scrollTop: $("#"+target).offset().top-navHeight
      }, 1000);
      return false;
    });
  
})(jQuery);
</script>
