html {
  background: #f5f5f5;
}

body {
  background: url(/static/img/spot-1.png) -550px -400px no-repeat, url(/static/img/spot-2.png) 730px -360px no-repeat, url(/static/img/spot-3.png) 75% 680px no-repeat, #f5f5f5 url(/static/img/bg-grain.png) 0 0 fixed;
}

#page {
  max-width: 880px;
  margin: 0 auto;
  padding: 30px;
  background: transparent none;
}

.page-title {
  text-align: left;
  margin: 20px;
}

/* @Steps *********/
.steps {
  margin: 0 20px -12px;
  list-style: none;
  font-size: 22px;
  position: relative;
  z-index: 6;
}

.steps li {
  display: inline-block;
  margin-right: 20px;
  padding: 2px 0 30px 30px;
}

.steps .done {
  color: #2a821e;
  background: url(/static/img/check.png) left .25em no-repeat;
}

.steps .current {
  background: url(/static/img/point.png) 55% bottom no-repeat;
}

/* @Form styles *********/
.user-input {
  position: relative;
  max-width: 840px;
  padding: 19px;
  border: 1px solid #d0e7f9;
  background: #dff0f5;
  text-shadow: 0 1px 0 rgba(255,255,255,.25);
}

.user-input fieldset {
  width: 540px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #c1d9ed;
  box-shadow: 0 1px 0 #fff;
}

#submit-video fieldset {
  width: auto;
}

.user-input h2 {
  font-size: 28px;
  font-weight: normal;
  margin: 0 0 20px;
}

.user-input ul,
.user-input ol {
  margin: 0;
}

.user-input ul:after,
.user-input ol:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.user-input p,
.user-input li {
  font: 14px "Open Sans", sans-serif;
}

.user-input .col1,
.user-input .col2 {
  width: 240px;
  margin: 0 30px 10px 0;
  float: left;
  position: relative;
}

.user-input .col1 {
  clear: left;
}

.user-input label {
  display: block;
  margin: 0 0 .25em;
  font-size: 12px;
  text-transform: uppercase;
}

.user-input .check label {
  display: inline-block;
  margin: 0;
  padding-left: 30px;
  text-transform: none;
}

.user-input input,
.user-input textarea {
  width: 230px;
  padding: 4px;
  margin-left: -2px;
  border: 1px solid #91b4bf;
  border-radius: 5px;
}

.user-input select {
  width: 100%;
  margin-left: -2px;
}

.user-input .check input {
  width: 16px;
  height: 16px;
  float: left;
  margin-left: -30px;
}

.user-input .note {
  font-size: 12px;
  width: 240px;
  position: absolute;
  left: 540px;
}

#user-info li.region {
  font-size: 13px;
  padding-top: 1.75em;
}

/*** @Rules *********/
.user-input .rules {
  margin: 0 0 40px;
  border-bottom: 1px solid #c1d9ed;
  box-shadow: 0 1px 0 #fff;
}

.user-input .rules li {
  position: relative;
  margin: 0 30px 1em;
}

.user-input .rules i {
  font-size: 22px;
  font-style: normal;
  position: absolute;
  left: -30px;
  top: -.25em;
}

/* @File button *********/
#file-select {
  height: 70px;
  text-align: center;
  position: relative;
}

.file-button {
  display: block;
  width: 340px;
  height: 2.65em;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -160px;
}

.file-button .button {
  font-weight: normal;
  font-size: 18px;
  width: 280px;
  padding: 8px 20px 8px 40px;
}

.file-button .button:before {
  content: "";
  display: block;
  width: 30px;
  height: 32px;
  background: url(/static/img/icn-upload.png) no-repeat;
  position: absolute;
  left: 25px;
  top: 6px;
}

.file-button input[type=file] {
  border: 0;
  margin: 0;
  width: auto;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  font-size: 80px;
  opacity: 0;
}

#file-select {
  display: block;
  overflow: hidden;
}

#video-form {
  display: none;
}

#video-form fieldset {
  border: 0;
  padding: 0;
  box-shadow: none;
}

.video-data {
  padding-left: 230px;
  margin: 0 0 20px;
  overflow: hidden;
}

.video-data h2 {
  width: 190px;
  float: left;
  margin: .15em 0 0 -230px;
}

.progress {
  position: relative;
  width: 510px;
  height: 1.5em;
  padding: 8px 40px 8px 20px;
  background: #fff;
  font: 14px "Open Sans", sans-serif;
  border-bottom: 8px solid #e8ebec;
}

.progress:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.progress .filename {
  width: 65%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.progress .filesize {
  width: 25%;
  float: right;
  text-align: right;
  margin-right: 20px;
}

.progress .remove {
  width: 20px;
  height: 20px;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background: url(/static/img/remove-x.png) center center no-repeat;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 15px;
}

.progress .bar {
  height: 8px;
  border-right: 2px solid #dcdfe0;
  position: absolute;
  left: 0;
  bottom: -8px;
  background: #7db2e9;
  background: -moz-linear-gradient(#b9dafc 0%, #7db2e9 100%);
  background: -webkit-linear-gradient(#b9dafc 0%, #7db2e9 100%);
  background: linear-gradient(#b9dafc 0%, #7db2e9 100%);
}

.video-info .col2 {
  width: 460px;
}

.video-info textarea {
  width: 98%;
}

.video-info .note {
  display: block;
  width: 100%;
  position: static;
  margin: .75em 0;
}

/* @Buttons *********/
.form-control {
  clear: both;
  overflow: hidden;
  margin: 20px 0;
  width: 100%;
  padding: 20px 0 30px;
  position: absolute;
  bottom: -120px;
  left: 0;
}

.form-control .button {
  min-width: 0;
}

.form-control .next {
  float: right;
}

.form-control .prev {
  float: left;
}

.button.disabled {
  opacity: .5;
  cursor: default;
}

/* @Complete *********/
#upload-complete {
  text-align: center;
  padding: 80px;
}

#upload-complete h2 {
  font-size: 34px;
  font-weight: bold;  
}

#upload-complete .bonus {
  font: 28px/1.2 Vollkorn, Georgia, "Heiti TC", "LiHei Pro", "微軟正黑體", "WenQuanYi - Micro Hei", serif;
}

.share {
  list-style: none;
  font-size: 16px;
  margin: 20px 0;
}

.share li {
  display: inline-block;
  margin: 0 25px .5em;
}

.share a {
  display: inline-block;
  padding: 8px 5px 8px 45px;
  background: url(/static/img/social-icons-dark.png) no-repeat;
}

.share .facebook {
  background-position: 0 -98px;
}

.share .twitter {
  background-position: 0 -198px;
}

.share .tumblr {
  background-position: 0 -298px;
}

/* Tablet Layout: 760px */
@media only screen and (min-width: 760px) and (max-width: 880px) {

  .steps {
    font-size: 18px;
  }

  .user-input fieldset {
    width: 460px;
  }

  .user-input .col1,
  .user-input .col2 {
    width: 200px;
  }

  .user-input input {
    width: 190px;
  }

  .user-input .note {
    width: 190px;
    left: 460px;
  }

  .progress {
    width: 470px;
  }

  .video-info .col2 {
    width: 490px;
  }

  .video-info .note {
    width: 100%;
  }

}

/* Mobile Layout: 320px */
@media only screen and (max-width: 760px) {

  body {
    height: auto;
    background-position: -550px -400px, 340px -360px, 75% 1200px, 0 0;
  }

  #page {
    padding: 10px;
  }

  .steps {
    font-size: 16px;
  }

  .steps .current {
    background: none;
  }

  .user-input fieldset {
    width: auto;
  }

  .user-input .col1,
  .user-input .col2 {
    width: auto;
    margin-right: 0;
    float: none;
  }

  .user-input input,
  .user-input select,
  .user-input textarea {
    width: 240px;
  }

  .user-input .note {
    width: auto;
    position: static;
    margin: 0 0 1em;
  }

  .video-data {
    padding-left: 0;
  }

  .video-data h2 {
    width: auto;
    float: none;
    margin: 0 0 .25em;
  }

  .progress {
    width: auto;
  }

  .video-info .col2 {
    width: auto;
  }

  .video-info .col2 textarea {
    width: 98%;
  }

  .video-info .note {
    width: 100%;
    margin: .25em 0;
  }

  .file-button {
    width: 240px;
    height: auto;
    position: relative;
    left: auto;
    margin: 0 auto;
  }

  .file-button .button {
    font-size: 16px;
    width: auto;
  }

  .video-info textarea {
    width: auto;
  }

  .video-info .col2 {
    width: auto;
  }

  .progress {
    width: auto;
    height: auto;
  }

  .progress .filename,
  .progress .filesize {
    width: auto;
    float: none;
    display: block;
    text-align: left;
  }

}

@media only screen and (max-width: 650px) {
  
  .steps {
    margin-bottom: 20px;
  }
  
  .steps li {
    display: block;
    padding-bottom: 0;
  }

}
