.video {
    background: #000;
    position: relative;
}

.video iframe {
    height: 529px;
}

.video iframe.vidly {
    height: 337px;
}

.video .winner-mark {
    position: absolute;
    right: 15px;
    top: 15px;
}

.video-details {
    border-top: none;
    padding: 30px 240px 0 15px;
    position: relative;
}

.video-details .awards {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    float: right;
    list-style-type: none;
    width: 200px;
    padding: 10px 10px 1px;
    background: rgba(0,0,0,.05);
    border-radius: 6px;
    box-shadow: 0 1px 1px rgba(255,255,255,.75), inset 0 1px 1px rgba(0,0,0,.08);
}

.video-details .awards li {
    background: url('/static/img/winner-trophy-sm.png') no-repeat;
    margin-bottom: 10px;
    padding: 5px 0 5px 48px;
    min-height: 20px;
}

.video-details .vcard {
    margin: 30px 0;
    padding-left: 65px;
}

.video-details h1 {
    font-size: 38px;
    margin: 0 240px 15px 0;
}

.video-details .profile {
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
}

.video-details .photo {
    float: left;
    margin: -3px 0 .5em -68px;
    border: 3px solid #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

/* Voting controls */
.video-details .vote-control {
    position: absolute;
    right: 0;
    top: 30px;
    width: 220px;
}

.vote-control .vote-count { 
    margin: 0 0 10px;
    font: 20px/1.15 "Open Sans", sans-serif;
    color: #fff;
    background: #2d3438;
    background: rgba(27,34,38,.9);
    padding: .5em 20px;
    border-radius: 1.75em;
    text-align: center;
}

.vote-control .vote-button {
    margin: 0 0 10px;
}

.vote-button button,
.vote-control .share .toggle {
    font-size: 18px;
    line-height: 1;
    display: inline-block;
    width: 153px;
    padding: 10px 50px 10px 15px;
    border: 1px solid #ccc;
    cursor: pointer;
    text-align: left;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border-radius: 6px;
    -moz-box-shadow: 0 2px 0 0 rgba(0,0,0,.1), inset 0 -2px 0 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,.1), inset 0 -2px 0 0 rgba(0,0,0,.1);
    box-shadow: 0 2px 0 0 rgba(0,0,0,.1), inset 0 -1px 0 0 rgba(0,0,0,.05);
}

.add-vote {
    background: #3a90d4;
    background: url(/static/img/icn-vote.png) 176px 7px no-repeat, #3a90d4 linear-gradient(to bottom, #3c88cc, #276195);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.25);
    border-color: #5ea3da;
}
.add-vote:hover,
.add-vote:focus {
    background: #409de7;
    background: url(/static/img/icn-vote.png) 176px 7px no-repeat, #409de7 linear-gradient(to bottom, #409de7, #3484c5);
}

.remove-vote {
    background: url(/static/img/icn-vote.png) 176px -93px no-repeat, linear-gradient(#fff, #e8e8e8);
}
.remove-vote:hover,
.remove-vote:focus {
    background: url(/static/img/icn-vote.png) 176px -93px no-repeat, linear-gradient(#fff, #dcdcdc);
}

.vote-control .share .toggle {
    font-size: 18px;
    background: url(/static/img/icn-vote.png) 176px -196px no-repeat, linear-gradient(#fff, #e8e8e8);
}

.vote-control .share .popup {
    top: 42px;
}

#modal .video {
    width: 600px;
    height: 338px;
    margin: 0 auto;
}
#modal .video-details {
    width: 600px;
    margin: 0 auto;
}
#modal .video-details h1 {
    font-size: 24px;
}

#gallery .thumbnail {
  width: 200px;
  height: 150px;
}

/* Award winners */
.winners-page .section-intro {
    width: 60%;
}

.winners-page .entry-list {
    margin: 0 0 2em;
    margin-left: -10px;
}

.period {
    margin: 0 -10px 2em;
    padding: 19px 19px 0;
    background: rgba(255,255,255,.35);
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    box-shadow: inset 0 0 3px rgba(0,0,0,.1);
}

.period header h2 {
    margin: 0 auto .5em;
}
.period header h2 span {
    display: block;
    font-size: .823em;
}

.period .entry-list {
  margin: 0 -20px 0 0;
}

.period .entry-list .entry {
    width: 210px;
}

.winner {
    position: relative;
}

.winner .placing {
    font-size: 14px;
    text-transform: uppercase;
    background: #eee;
    border: 1px outset rgba(0,0,0,.1);
    width: 70%;
    padding: 3px 14px;
    position: absolute;
    left: -7px;
    top: 14px;
    z-index: 10;
    box-shadow: 2px 2px 1px rgba(0,0,0,.2);
}

.first-place .placing {
    background-color: #ffd745;
    background-image: linear-gradient(150deg, #ffdf69 0%, #fff5d2 35%, #ebb217 100%);
}

.second-place .placing {
    background-color: #d2dedf;
    background-image: linear-gradient(150deg, #c6d0d2 0%, #edf0f2 35%, #b0b7bd 100%);
}

.third-place .placing {
    background-color: #e2ab75;
    background-image: linear-gradient(150deg, #c0a665 0%, #ffe8d0 35%, #9f7d38 100%);
}

/* Tablet Layout: 760px */
@media only screen and (min-width: 760px) and (max-width: 1000px) {

  .video iframe {
    height: 405px;
  }

  #trailers {
    width: auto;
    float: none;
    margin: 0 auto 1em;
  }

  #trailers h3 {
    text-align: center;
  }

  #trailers .entry-list {
    width: auto;
  }

  #trailers .entry {
    float: left;
    margin: 0 15px 1.5em;
  }
  
  .winners-page .section-intro {
      width: auto;
  }
  
  .period {
      margin: 0 -20px 2em 0;
      width: auto;
  }

}

/* Mobile Layout: 320px */
@media only screen and (max-width: 760px) {

  .video iframe,
  .video iframe.vidly {
    height: 169px;
  }

  .video-details h1 {
    font-size: 28px;
    margin: 0 0 15px;
  }

  .video-details .awards {
    float: none;
    width: auto;
  }

  #trailers {
    width: auto;
    float: none;
    margin: 0 auto 1em;
  }

  #trailers h3 {
    text-align: center;
  }

  #trailers .entry-list {
    width: auto;
  }

  #trailers .entry {
    margin: 0 auto 1.5em;
  }

  .winners-page .section-intro,
  .winners-page .entry-list {
    width: auto;
  }
  
  .period {
    margin: 0 0 2em;
  }
  
  .video-details {
    padding-right: 15px;
  }
  
  .video-details .vote-control {
    position: static;
    margin: 0 auto 30px;
  }

}

/* Wide Mobile Layout: 480px */
@media only screen and (min-width: 480px) and (max-width: 760px) {

  .video iframe,
  .video iframe.vidly {
    height: 259px;
  }

  #trailers .entry {
    width: 28%;
    float: left;
    margin: 0 2.5% 1em;
  }

  #trailers .entry:nth-child(3n+1) {
    clear: left;
  }

  #trailers .entry:nth-child(2n+1) {
    clear: none;
  }
  
  .period .entry-list {
    margin-left: -10px;
  }
  
  .period .entry-list .entry {
      width: 190px;
  }
  
  .period .entry-list .third-place {
    float: none;
    clear: both;
    display: block;
    margin: 0 auto 1.5em;
  }

}
