.video {
    background: #000;
    height: 529px;
    position: relative;
}

.video .winner-mark {
    position: absolute;
    right: 15px;
    top: 15px;
}

.video-details {
    border-top: none;
    padding: 30px 15px 0;
}

.video-details .awards {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    float: right;
    list-style-type: none;
    width: 200px;
    padding: 10px 10px 1px;
    background: rgba(0,0,0,.05);
    border-radius: 6px;
    box-shadow: 0 1px 1px rgba(255,255,255,.75), inset 0 1px 1px rgba(0,0,0,.08);
}

.video-details .awards li {
    background: url('/static/img/winner-trophy-sm.png') no-repeat;
    margin-bottom: 10px;
    padding: 5px 0 5px 48px;
    min-height: 20px;
}

.video-details .vcard {
    margin-bottom: 20px;
    padding-left: 65px;
}

.video-details h1 {
    font-size: 38px;
    margin: 0 240px 15px 0;
}

.video-details .profile {
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
}

.video-details .photo {
    float: left;
    margin: -3px 0 .5em -68px;
    border: 3px solid #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

/* Video List *********/
#trailers {
  background: #ececec;
  background: rgba(0,0,0,.05);
  border-radius: 6px;
  box-shadow: inset 0 0 3px rgba(0,0,0,.05);
  width: 190px;
  padding: 20px 20px 0;
  margin-right: -20px;
}

#trailers h3 {
  margin: 0 0 1em;
}

#trailers .entry {
  width: 190px;
  float: none;
  margin: 0 10px 1.5em;
}

#trailers .title {
  font-size: 14px;
}

#gallery .thumbnail {
  width: 200px;
  height: 150px;
}


/* Tablet Layout: 760px */
@media only screen and (min-width: 760px) and (max-width: 1000px) {

  .video {
    height: 405px;
  }

  #trailers {
    width: auto;
    float: none;
    margin: 0 auto 1em;
  }

  #trailers h3 {
    text-align: center;
  }

  #trailers .entry-list {
    width: auto;
  }

  #trailers .entry {
    float: left;
    margin: 0 15px 1.5em;
  }

}

/* Mobile Layout: 320px */
@media only screen and (max-width: 760px) {

  .video {
    height: 259px;
  }

  .video-details h1 {
    font-size: 28px;
    margin: 0 0 15px;
  }

  .video-details .awards {
    float: none;
    width: auto;
  }

  #trailers {
    width: auto;
    float: none;
    margin: 0 auto 1em;
  }

  #trailers h3 {
    text-align: center;
  }

  #trailers .entry-list {
    width: auto;
  }

  #trailers .entry {
    margin: 0 auto 1.5em;
  }


}

/* Wide Mobile Layout: 480px */
@media only screen and (min-width: 480px) and (max-width: 760px) {

  #trailers .entry {
    width: 28%;
    float: left;
    margin: 0 2.5% 1em;
  }

  #trailers .entry:nth-child(3n+1) {
    clear: left;
  }

  #trailers .entry:nth-child(2n+1) {
    clear: none;
  }

}
