.video {
    background: #000;
    height: 337px;
    position: relative;
}

.video .winner-mark {
    position: absolute;
    right: 15px;
    top: 15px;
}

.video-details {
    border-top: none;
    padding: 30px 15px 0;
}

.video-details .awards {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    float: right;
    list-style-type: none;
    width: 200px;
    padding: 10px 10px 1px;
    background: rgba(0,0,0,.05);
    border-radius: 6px;
    box-shadow: 0 1px 1px rgba(255,255,255,.75), inset 0 1px 1px rgba(0,0,0,.08);
}

.video-details .awards li {
    background: url('/static/img/winner-trophy-sm.png') no-repeat;
    margin-bottom: 10px;
    padding: 5px 0 5px 48px;
    min-height: 20px;
}

.video-details .vcard {
    margin-bottom: 20px;
    padding-left: 65px;
}

.video-details h1 {
    font-size: 38px;
    margin: 0 240px 15px 0;
}

.video-details .profile {
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
}

.video-details .photo {
    float: left;
    margin: -3px 0 .5em -68px;
    border: 3px solid #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

/* Video List *********/
.samples:after {
  content: "";
  display: block;
  width: 100%;
  height: 6px;
  position: absolute;
  bottom: -6px;
  left: 0;
  background: url(/static/img/div-shadow.png) center top no-repeat;
  z-index: 10;
}

.samples .entry {
  width: 30%;
  margin: 0 1.5%;
}

.samples .entry .thumbnail {
  margin-left: 0;
}

/* Tablet Layout: 760px */
@media only screen and (min-width: 760px) and (max-width: 1000px) {
  .samples .entry-list {
    width: auto;
    margin: 0 auto 1em;
  }

  .samples .entry-list .entry:nth-child(3n+1) {
    clear: none;
  }

  .samples .entry-list .entry:nth-child(2n+1) {
    clear: none;
  }

}

/* Mobile Layout: 320px */
@media only screen and (max-width: 760px) {
  .video-details h1 {
    font-size: 28px;
    margin: 0 0 15px;
  }

  .video-details .awards {
    float: none;
    width: auto;
  }

  .samples .entry-list .entry {
    float: none;
    width: 220px;
    margin: 0 auto 1em;
  }

  .samples .entry-list .entry:nth-child(3n+1),
  .samples .entry-list .entry:nth-child(2n+1) {
    clear: none;
  }

}

/* Wide Mobile Layout: 480px */
@media only screen and (min-width: 480px) and (max-width: 760px) {
  .samples .entry-list .entry {
    float: left;
    width: 28%;
    margin: 0 2.5%;
  }

}
