@font-face {
    font-family: 'Open Sans Condensed';
    src: url('/static/fonts/OpenSans-CondLight-webfont.eot');
    src: url('/static/fonts/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/OpenSans-CondLight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/static/fonts/OpenSans-Regular-webfont.eot');
    src: url('/static/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('/static/fonts/OpenSans-Light-webfont.eot');
    src: url('/static/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/OpenSans-Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('/static/fonts/Vollkorn-Regular-webfont.eot');
    src: url('/static/fonts/Vollkorn-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/Vollkorn-Regular-webfont.woff') format('woff'),
         url('/static/fonts/Vollkorn-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('/static/fonts/Vollkorn-Bold-webfont.eot');
    src: url('/static/fonts/Vollkorn-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/Vollkorn-Bold-webfont.woff') format('woff'),
         url('/static/fonts/Vollkorn-Bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('/static/fonts/Vollkorn-Italic-webfont.eot');
    src: url('/static/fonts/Vollkorn-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/Vollkorn-Italic-webfont.woff') format('woff'),
         url('/static/fonts/Vollkorn-Italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('/static/fonts/Vollkorn-BoldItalic-webfont.eot');
    src: url('/static/fonts/Vollkorn-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/Vollkorn-BoldItalic-webfont.woff') format('woff'),
         url('/static/fonts/Vollkorn-BoldItalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* @Reset defaults *********/
header, hgroup, nav, section, article, main, aside, footer { display: block; }
html, body, form, fieldset, legend, h1, h2, h3, h4, h5, h6, dd { margin: 0; padding: 0; }
p, pre, blockquote, ul, ol, dl, table, figure { margin: 0 0 1.4em; padding: 0; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, iframe { border: 0; }
legend { color: inherit; } /* For IE */
form ul, form ol { list-style: none; }
a img { border: 0; }
input, select, textarea { font-family: inherit; font-size: 100%; }
.dtstart, .dtend, .published, .updated { border: 0; }
img, video, object, embed { max-width: 100%; height: auto; }

/* @General styles *********/
html, body {
  height: 100%;
  background: #f5f5f5 url(/static/img/bg-grain.png) fixed;
}

body {
  font: 16px/1.428 Vollkorn, Georgia, serif;
  color: #212a2f;
}

.pl body,
.ru body,
.cs body,
.sl body {
  font-family: Georgia, serif;
}

.zh-TW body {
  font-family: Vollkorn, Georgia, "Heiti TC", "LiHei Pro", "微軟正黑體", "WenQuanYi - Micro Hei", serif;
}

.prose li {
  margin-left: 25px;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

/*** @Headings *********/
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.1;
  margin: 0 0 .25em;
  text-shadow: 0 1px rgba(255,255,255,.9);
}

h1,
.page-title,
.section-title {
  font-size: 48px;
  margin-bottom: .15em;
  letter-spacing: -1px;
  text-shadow: 0 1px rgba(255,255,255,.9);
}

.page-title,
.section-title {
  text-align: center;
}

.info .page-title {
  margin: 0 0 1em;
}

h2 {
  font-size: 34px;
  letter-spacing: -.25px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5, h6 {
  font-size: 1em;
}

.faq h2 {
  font-size: 20px;
  letter-spacing: normal;
  margin-top: 1.75em;
}

/*** @Links *********/
a:link {
  color: #1677b9;
  text-decoration: none;
}

a:visited {
  color: #4e687a;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #1287d7;
  text-decoration: underline;
}

#modal a:link {
  color: #a6dbff;
}

#modal a:visited {
  color: #74c5ff;
}

#modal a:hover,
#modal a:focus,
#modal a:active {
  color: #c1e6ff;
}

a.go:after {
  content: " »";
  white-space: nowrap;
}

a.dl:after {
  content: "";
  white-space: nowrap;
  display: inline-block;
  margin: 3px 0 0 6px;
  width: 11px;
  height: 12px;
  background: url(/static/img/arrow-down.png) center center no-repeat;
}

/*** @Buttons *********/
.button,
.button:link,
.button:visited {
  display: inline-block;
  border-radius: 0.25em;
  -moz-box-shadow: 0 2px 0 0 rgba(0,0,0,.1), inset 0 -2px 0 0 rgba(0,0,0,.2);
  -webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,.1), inset 0 -2px 0 0 rgba(0,0,0,.2);
  box-shadow: 0 2px 0 0 rgba(0,0,0,.1), inset 0 -2px 0 0 rgba(0,0,0,.2);
  background-color: #276195;
  background-image: -moz-linear-gradient(#3c88cc, #276195);
  background-image: -ms-linear-gradient(#3c88cc, #276195);
  background-image: -webkit-linear-gradient(#3c88cc, #276195);
  background-image: -o-linear-gradient(#3c88cc, #276195);
  background-image: linear-gradient(#3c88cc, #276195);
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 12px 20px;
  text-decoration: none;
  min-width: 100px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.25);
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: all linear .25s;
  -moz-transition: all linear .25s;
  -o-transition: all linear .25s;
  -ms-transition: all linear .25s;
  transition: all linear .25s;
}
.button:hover,
.button:focus,
.button:active {
  -moz-box-shadow: 0 2px 0 0 rgba(0,0,0,.1), inset 0 -2px 0 0 rgba(0,0,0,.2), inset 0 12px 24px 2px #3089d8;
  -webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,.1), inset 0 -2px 0 0 rgba(0,0,0,.2), inset 0 12px 24px 2px #3089d8;
  box-shadow: 0 2px 0 0 rgba(0,0,0,.1), inset 0 -2px 0 0 rgba(0,0,0,.2), inset 0 12px 24px 2px #3089d8;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all linear .25s;
  -moz-transition: all linear .25s;
  -o-transition: all linear .25s;
  -ms-transition: all linear .25s;
  transition: all linear .25s;
}
.button:focus {
  outline-color: #484848;
}
.button:active {
  -moz-box-shadow: inset 0 2px 0 0 rgba(0,0,0,.2), inset 0 12px 24px 6px rgba(0,0,0,.2), inset 0 0 2px 2px rgba(0,0,0,.2);
  -webkit-box-shadow: inset 0 2px 0 0 rgba(0,0,0,.2), inset 0 12px 24px 6px rgba(0,0,0,.2), inset 0 0 2px 2px rgba(0,0,0,.2);
  box-shadow: inset 0 2px 0 0 rgba(0,0,0,.2), inset 0 12px 24px 6px rgba(0,0,0,.2), inset 0 0 2px 2px rgba(0,0,0,.2);
  color: #fff;
  text-decoration: none;
  -webkit-transition: all linear .25s;
  -moz-transition: all linear .25s;
  -o-transition: all linear .25s;
  -ms-transition: all linear .25s;
  transition: all linear .25s;
}

.button.next {
  position: relative;
  padding-right: 50px;
}
.button.next:after {
  content: "";
  display: block;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  background: url(/static/img/arrow-go-r.png) no-repeat;
}

.button.prev {
  display: inline-block;
  position: relative;
  padding-left: 50px;
}
.button.prev:before {
  content: "";
  display: block;
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  background: url(/static/img/arrow-go-l.png) no-repeat;
}

.button-light,
.button-light:link,
.button-light:visited {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  padding: 4px 10px;
  margin: 0 0 .25em;
  color: #1677b9;
  background: #f3f3f3;
  background: rgba(255,255,255,.5);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 -2px 0 rgba(0,0,0,.1);
  -moz-transition: all .125s ease-out;
  -ms-transition: all .125s ease-out;
  -o-transition: all .125s ease-out;
  -webkit-transition: all .125s ease-out;
  transition: all .125s ease-out;
}

.button-light:hover,
.button-light:focus,
.button-light:active {
  background-color: #fff;
  background-color: rgba(255,255,255,.75);
  border-color: #bbb;
  color: #1287d7;
  -moz-transition: all .125s ease-in;
  -ms-transition: all .125s ease-in;
  -o-transition: all .125s ease-in;
  -webkit-transition: all .125s ease-in;
  transition: all .125s ease-in;
}

.section-intro .button-light {
  font-size: 16px;
}

.actions .submit-link a,
a.submit-link {
  display: inline-block;
  margin: .25em 0 0;
  font-size: 18px;
  padding: 8px 20px 8px 50px;
  color: #1677b9;
  background: #fff url(/static/img/icn-arrow.png) 10px center no-repeat;
  background: url(/static/img/icn-arrow.png) 10px center no-repeat, #fff -moz-linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.1));
  background: url(/static/img/icn-arrow.png) 10px center no-repeat, #fff -webkit-linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.1));
  background: url(/static/img/icn-arrow.png) 10px center no-repeat, #fff linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.1));
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 -2px 0 rgba(0,0,0,.1);
  -moz-transition: all .125s ease-out;
  -ms-transition: all .125s ease-out;
  -o-transition: all .125s ease-out;
  -webkit-transition: all .125s ease-out;
  transition: all .125s ease-out;
}

.actions .submit-link a:hover,
.actions .submit-link a:focus,
.actions .submit-link a:active,
a.submit-link:hover,
a.submit-link:focus,
a.submit-link:active {
  background-color: #f3f3f3;
  background-color: rgba(255,255,255,.75);
  border-color: #bbb;
  color: #1287d7;
  -moz-transition: all .125s ease-in;
  -ms-transition: all .125s ease-in;
  -o-transition: all .125s ease-in;
  -webkit-transition: all .125s ease-in;
  transition: all .125s ease-in;
}

.share .toggle {
  display: inline-block;
  font: 13px/1 "Open Sans", sans-serif;
  padding: 4px 10px;
  margin: 0 0 .25em;
  color: #1677b9;
  background: #f3f3f3;
  background: rgba(255,255,255,.5);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 -2px 0 rgba(0,0,0,.1);
  -moz-transition: all .125s ease-out;
  -ms-transition: all .125s ease-out;
  -o-transition: all .125s ease-out;
  -webkit-transition: all .125s ease-out;
  transition: all .125s ease-out;
}

#modal .share .toggle {
  background: #999;
  background: rgba(0,0,0,.65);
  border-color: #000;
  color: #eee;
}

/* @Layout *********/
.wrap {
  width: 940px;
  padding: 0 10px;
  position: relative;
  margin: 0 auto;
}

.wrap:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.wrap.info {
  width: 780px;
  padding: 0 80px;
}

#page {
  position: relative;
}

.section {
  padding: 140px 0 80px;
  position: relative;
  border-bottom: 1px solid #dedede;
}

.section-intro {
  font-size: 20px;
  line-height: 1.35;
  text-align: center;
  margin: 0 auto 2em;
  max-width: 80%;
}

.main {
  width: 700px;
  float: left;
}

.aside {
  width: 220px;
  float: right;
}

/* Video List *********/
.sidebar {
  background: #ececec;
  background: rgba(0,0,0,.05);
  border-radius: 6px;
  box-shadow: inset 0 0 3px rgba(0,0,0,.05);
  width: 190px;
  padding: 20px 20px 1px;
  margin-right: -20px;
  float: right;
}

.sidebar .winners {
  text-align: center;
}

.sidebar h2 {
  text-align: center;
  font-size: 1.25rem;
  margin: 0 0 1em;
}

.sidebar h3 {
  font-size: 1rem;
  margin: 0 0 .5em;
}

.sidebar ul {
  list-style: none;
  font-size: .875rem;
  margin: 0 0 1.5em;
}

.sidebar ul li:before {
  content: "\27A4\0020";
  color: #1677b9;
}

.sidebar .entry-list {
  margin: 0 0 1.5em;
}

.sidebar .entry-list .entry {
  width: 180px;
  padding: 0 5px;
  float: none;
  margin: 0 0 1.5em;
}

.sidebar .entry-list .entry:before {
  content: "";
}

.sidebar .entry-list .title {
  font-size: 14px;
}

/* @Header *********/
#masthead {
  position: relative;
}

#head-inner {
  background: #2d3438;
  background: rgba(27,34,38,.9);
  border-top: 2px solid #fff;
  width: 100%;
  min-height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
}

.fixed #head-inner {
  position: fixed;
}

#head-inner:after {
  content: "";
  display: block;
  background: url(/static/img/bg-scallop-down.png) center bottom repeat-x;
  width: 100%;
  height: 6px;
  position: absolute;
  bottom: -6px;
}

.logo {
  position: absolute;
  left: 0;
  top: 2px;
  line-height: 1;
  z-index: 91;
}

#masthead ul {
  list-style: none;
}

/* @Navigation *********/
#page-nav {
  font: 14px/1 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: -.25px;
  text-align: right;
  padding-top: 12px;
  margin: 0 150px 0 200px;
}

#page-nav li {
  display: inline-block;
  margin-left: 12px;
}

#page-nav a:link,
#page-nav a:visited {
  color: #dadada;
  text-decoration: none;
  padding: 2px 6px;
  border-radius: 3px;
  -moz-transition: all .125s ease-out;
  -ms-transition: all .125s ease-out;
  -o-transition: all .125s ease-out;
  -webkit-transition: all .125s ease-out;
  transition: all .125s ease-out;
}

#page-nav a:hover,
#page-nav a:focus,
#page-nav a:active {
  background: #434749;
  background: rgba(150,150,150,.2);
  color: #fff;
  text-decoration: underline;
  -moz-transition: all .125s ease-in;
  -ms-transition: all .125s ease-in;
  -o-transition: all .125s ease-in;
  -webkit-transition: all .125s ease-in;
  transition: all .125s ease-in;
}

#page-nav .current a {
  background: #53585a;
  background: rgba(150,150,150,.35);
  color: #fff;
}

#page-nav .toggle {
  display: none; /* Hidden in non-mobile views */
}

#tabzilla {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 91;
}

/*** @Social links *********/
#nav-social-head {
  height: 30px;
  position: absolute;
  right: 10px;
  top: 80px;
  z-index: 89;
}

.nav-social ul {
  list-style: none;
  margin: 0;
  text-align: right;
}

.nav-social li {
  display: inline-block;
  height: 20px;
  text-align: left;
  margin: 6px 0 0 8px;
}

.nav-social a {
  position: relative;
  top: -5px;
  font: 14px 'Open Sans', sans-serif;
  display: inline-block;
  color: #8d9092;
  width: 34px;
  height: 34px;
  overflow: hidden;
  text-indent: -99em;
  background-repeat: no-repeat;
  background-image: url(/static/img/social-icons.png);
}

.nav-social .blog {
  width: auto;
  height: auto;
  text-indent: 0;
  background: none;
  margin-right: 10px;
}

.nav-social .blog:hover,
.nav-social .blog:focus
.nav-social .blog:active {
  color: #1677b9;
}

.nav-social .vimeo {
  background-position: 0 0;
}
.nav-social .vimeo:hover,
.nav-social .vimeo:focus,
.nav-social .vimeo:active {
  background-position: 0 -100px;
}

.nav-social .facebook {
  background-position: -50px 0;
}
.nav-social .facebook:hover,
.nav-social .facebook:focus,
.nav-social .facebook:active {
  background-position: -50px -100px;
}

.nav-social .tumblr {
  background-position: -100px 0;
}
.nav-social .tumblr:hover,
.nav-social .tumblr:focus,
.nav-social .tumblr:active {
  background-position: -100px -100px;
}

.nav-social .twitter {
  background-position: -150px 0;
}
.nav-social .twitter:hover,
.nav-social .twitter:focus,
.nav-social .twitter:active {
  background-position: -150px -100px;
}

#nav-submit {
  margin-right: 10px;
  padding-right: 20px;
  border-right: 1px solid #ccc;
}

#nav-submit a {
  width: auto;
  height: auto;
  line-height: 1;
  text-indent: 0;
  text-transform: none;
  padding: 6px 15px 6px 35px;
  margin: 0 0 .25em;
  color: #1677b9;
  background: #fff url(/static/img/icn-arrow-sm.png) 6px center no-repeat;
  background: url(/static/img/icn-arrow-sm.png) 6px center no-repeat, #fff -moz-linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.1));
  background: url(/static/img/icn-arrow-sm.png) 6px center no-repeat, #fff -webkit-linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.1));
  background: url(/static/img/icn-arrow-sm.png) 6px center no-repeat, #fff linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.1));
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 -2px 0 rgba(0,0,0,.1);
  -moz-transition: all .125s ease-out;
  -ms-transition: all .125s ease-out;
  -o-transition: all .125s ease-out;
  -webkit-transition: all .125s ease-out;
  transition: all .125s ease-out;
}

#nav-submit a:hover,
#nav-submit a:focus,
#nav-submit a:active {
  background-color: #f3f3f3;
  background-color: rgba(255,255,255,.75);
  border-color: #bbb;
  color: #1287d7;
  -moz-transition: all .125s ease-in;
  -ms-transition: all .125s ease-in;
  -o-transition: all .125s ease-in;
  -webkit-transition: all .125s ease-in;
  transition: all .125s ease-in;
}


#nav-submit.logged-in a {
  padding: 6px 0;
  margin: 0 0 .25em;
  background: transparent none;
  border: 0;
  color: #8d9092;
  box-shadow: none;
}

#nav-submit.logged-in a:hover,
#nav-submit.logged-in a:focus,
#nav-submit.logged-in a:active {
  background-color: transparent;
  color: #8d9092;
}

/* @Footer *********/
#footer {
  clear: both;
  background: #2d3438;
  background: rgba(27,34,38,.9);
  color: #b7bcc0;
  width: 100%;
  padding: 30px 0;
  position: relative;
  font: 14px "Open Sans", sans-serif;
}

#footer:before {
  content: "";
  background: url(/static/img/bg-scallop-up.png) center top repeat-x;
  width: 100%;
  height: 6px;
  display: block;
  position: absolute;
  top: -6px;
}

#footer h4 {
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
  text-shadow: none;
  margin: 0 0 .75em;
}

#footer a {
  color: #b7bcc0;
}

#footer .partners {
  width: 640px;
  float: left;
}

#footer .partners ul {
  margin: 0;
  list-style: none;
}

#footer .partners li {
  display: inline-block;
  margin: 0 10px 10px 0;
  vertical-align: top;
}

#footer .util {
  width: 220px;
  float: right;
}

#nav-social-foot ul {
  text-align: left;
}

#nav-social-foot li {
  margin: 0 10px 20px 0;
}

#footer .firefoxos a {
  display: block;
  width: 142px;
  height: 30px;
  text-indent: -99em;
  overflow: hidden;
  background: url(/static/img/firefoxos-logo.png) 0 0 no-repeat;
}

#footer .firefoxos a:hover,
#footer .firefoxos a:focus,
#footer .firefoxos a:active {
  background-position: 0 -50px;
}

#nav-fineprint {
  clear: both;
  text-align: center;
  font: 12px "Open Sans", sans-serif;
}

#nav-fineprint li {
  list-style: none;
  display: inline-block;
  margin: 0 0 1em 15px;
  padding: 0 0 0 15px;
  border-left: 1px solid #b7bcc0;
}

#nav-fineprint li:first-child {
  border: 0;
  padding: 0;
  margin-left: 0;
}

.languages select {
  border: 1px solid #333;
  background: transparent;
  color: #b7bcc0;
}

.js .languages button {
  display: none;
}

#strings {
  display: none;
}

/* @Share Button *********/
.share {
  position: relative;
  margin-top: 8px;
}

/* Home Variant */
.actions .share-home {
  margin-top: 0;
  position: relative;
}

.share .toggle {
  cursor: pointer;
}

.share .popup {
  background: #2d3438;
  background: rgba(27,34,38,.9);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,.5);
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.5);
  box-shadow: 0 2px 6px rgba(0,0,0,.5);
  color: #b7bCC0;
  display: none;
  font-size: 16px;
  left: -6px;
  list-style: none;
  margin: 0;
  padding: 11px 15px;
  position: absolute;
  top: 1.5em;
  width: 200px;
  z-index: 999;
}

.share .popup a:link,
.share .popup a:visited {
  color: #2092dd;
}

/* Home Variant */
.share-home .popup {
  left: 50%;
  top: 2.6em;
  margin-left: -115px;
}

.share .popup li {
  margin-bottom: 3px;
  float:left;
  width:auto;
}

.share .embed {
  margin-top: 15px;
  display: block;
}

.share .embed textarea {
  background: #b7bcc0;
  font: normal 10px "Open Sans", sans-serif;
  height: 90px;
  width: 190px;
  padding: 5px;
  border: 1px solid;
}

.share .popup a {
  background: url(/static/img/social-icons-sm.png) no-repeat;
  padding-left: 24px;
}

.share .twitter a { background-position: 0 -91px; }
.share .facebook a { background-position: 0 -44px; }
.share .tumblr a { background-position: 0 -138px; }


/* @Video @listings *********/
.entry-list {
  list-style: none;
  overflow: auto;
  font-family: "Open Sans", sans-serif;
  margin: 0 -10px 1em;
}

.entry-list .entry {
  width: 215px;
  float: left;
  margin: 0 10px 2em;
}

.entry-list .entry:nth-child(3n+1) {
  clear: left;
}

.entry .thumbnail {
  border: 5px solid #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  margin: 0 0 .25em -5px;
}

.entry .title {
  font-size: 16px;
  font-weight: normal;
}

.entry .vcard {
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}

.entry p {
  margin: 0;
  font-size: 11px;
}

.entry a:link,
.entry a:visited {
  color: #28333a;
}

.entry a:focus,
.entry a:active {
  color: #28333a;
  outline: 0;
}

/* Judge bios *********/
.judge-bio {
  padding-bottom: 40px;
  margin-bottom: 50px;
  border-bottom: 1px solid #ccc;
}

.judge-bio header:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.judge-bio h2 {
  font-size: 24px;
}

.judge-bio h3 {
  font-size: 16px;
  font-style: italic;
}

.judge-bio .photo {
  float: left;
  border: 5px solid #fff;
  margin: 0 20px 20px -5px;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

/* @Partners *********/
.partners-page .section-intro {
  width: 60%;
}

.partners-page hr {
  margin: 0 auto 2em;
  width: 60%;
  background: #cecece;
  color: transparent;
  height: 1px;
}

.partners-page h2 {
  width: 60%;
  margin: .75em auto .25em;
  padding-top: 1em;
  border-top: 1px solid #cecece;
  font-size: 22px;
  color: #777;
  text-align: center;
}

.partners-list {
  list-style: none;
  text-align: center;
  margin: 0 auto 1em;
}

.partners-list li {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 20px;
  margin: 0 5px 20px;
  max-width: 100%;
}

/* @Pagination *********/
.pagination {
  font: 14px/1.1 "Open Sans", sans-serif;
  position: relative;
  clear: both;
  margin: 1em 0 3em;
  line-height: 1;
  overflow: hidden;
  text-align: center;
}

.pagination span {
  position: absolute;
  left: -999em;
}

.pagination ol {
  list-style: none;
  text-align: center;
  margin: .25em auto;
}

.pagination li {
  display: inline-block;
  padding: 6px 8px;
  margin: 0 2px .25em;
}

.pagination a {
  display: block;
  font-weight: normal;
  border: 0;
  padding: 6px 8px;
  margin: -6px -8px;
  color: #28333a;
  border-radius: 3px;
  -moz-transition: all .125s ease-out;
  -ms-transition: all .125s ease-out;
  -o-transition: all .125s ease-out;
  -webkit-transition: all .125s ease-out;
  transition: all .125s ease-out;
}

.pagination a:hover,
.pagination a:focus,
.pagination a:active {
  border: 0;
  text-decoration: none;
  background: #d6dadc;
  background: rgba(27,34,38,.1);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -moz-transition: all .125s ease-in;
  -ms-transition: all .125s ease-in;
  -o-transition: all .125s ease-in;
  -webkit-transition: all .125s ease-in;
  transition: all .125s ease-in;
}

.pagination .current {
  font-weight: bold;
  background: #2d3438;
  background: rgba(27,34,38,.9);
  color: #dadada;
  border-radius: 3px;
}

.pagination .gap {
  background: transparent;
}

.pagination .prev a:before {
  content: "« ";
  white-space: nowrap;
}

.pagination .next a:after {
  content: " »";
  white-space: nowrap;
}

/* Full-window overlays *********/
body.noscroll {
  overflow: hidden;
  padding-right: 15px;
}

body.noscroll .fixed #head-inner {
  left: -10px;
}

#modal {
  background: #444;
  background: rgba(0,0,0,.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  overflow: auto;
  display: none;
}

#modal .inner {
  width: 80%;
  margin: 40px auto;
  padding: 40px 0;
  color: #f3f3f3;
  text-shadow: 0 1px 1px rgba(0,0,0,.95);
}

#modal h1,
#modal h2,
#modal h3 {
  text-shadow: 0 1px 1px rgba(0,0,0,.95);
}

#modal .inner iframe {
  max-width: 90%;
  display: block;
  margin: 0 auto;
}

#modal .close {
  display: inline;
  position: fixed;
  z-index: 99;
  top: 30px;
  right: 30px;
  color: #ccc;
  font: bold 12px/1 "Open Sans", sans-serif;
  text-transform: uppercase;
  padding-right: 22px;
  cursor: pointer;
  border: 0;
  background: transparent url(/static/img/closex.png) right center no-repeat;
}

#modal .close:hover,
#modal .close:focus {
  text-decoration: underline;
  color: #eee;
}

.submit-frame {
  width: 880px;
  height: 90%;
  min-height: 600px;
  background: #fff;
  border: 0;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
}

/* Tablet Layout: 760px */
@media only screen and (min-width: 760px) and (max-width: 1000px) {

  .wrap {
    width: 720px;
  }

  .main,
  .aside {
    width: auto;
    float: none;
  }

  .wrap.info {
    width: 460px;
    padding: 0 120px;
  }

  .logo {
    width: 60px;
    overflow: hidden;
  }

  .logo img {
    max-width: 300px;
  }

  #page-nav {
    margin-left: 70px;
  }

  .entry-list {
    width: 710px;
    padding-left: 10px;
    margin: 0 auto 1em;
  }

  #footer .partners {
    width: 480px;
  }

  .submit-frame {
    width: 720px;
  }

  .partners-page .section-intro {
    width: auto;
  }

}

/* Mobile Layout: 320px */
@media only screen and (max-width: 760px) {

  .wrap {
    width: 300px;
  }

  .main,
  .aside {
    width: auto;
    float: none;
  }

  .sidebar {
    margin: 0 0 2em;
  }

  .wrap.info {
    width: 290px;
    padding: 0 10px;
  }

  h1,
  .page-title,
  .section-title {
    font-size: 38px;
    letter-spacing: -.5px;
  }

  h2 {
    font-size: 24px;
    letter-spacing: normal;
  }

  .logo {
    left: auto;
    right: 170px;
    width: 60px;
    overflow: hidden;
  }

  .logo img {
    max-width: 300px;
  }

  #page-nav {
    position: absolute;
    left: 20px;
    z-index: 99;
    width: 32px;
    margin: 0;
    text-align: left;
  }

  #page-nav .toggle {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0;
    background: url(/static/img/icn-toggle.png) center 0 no-repeat;
    text-indent: -999em;
    overflow: hidden;
    cursor: pointer;
  }

  #page-nav .toggle.open {
    background-position: center -100px;
  }

  #page-nav-list {
    background: #2d3438;
    background: rgba(27,34,38,.975);
    width: 200px;
    padding: 10px;
    margin-left: -10px;
    border-radius: 6px;
    position: absolute;
    left: -999em;
  }

  #page-nav:hover #page-nav-list,
  #page-nav #page-nav-list:target {
    left: auto;
  }

  .js #page-nav-list {
    left: auto;
    display: none;
  }

  #page-nav-list li {
    display: block;
    float: none;
    margin: 0 0 2px;
  }

  #page-nav-list a:link {
    display: block;
    padding: 6px 10px;
  }

  #nav-social-head {
    height: auto;
    position: relative;
    text-align: center;
    margin-bottom: -40px;
  }

  #nav-submit {
    text-align: right;
    display: block;
    margin-right: 0;
    margin-bottom: .5em;
    border-right: 0;
    padding-right: 0;
  }

  #footer .partners,
  #footer .util {
    width: auto;
    float: none;
  }

  #nav-fineprint {
    margin-top: 3em;
  }

  #nav-fineprint li {
    text-align: left;
    display: block;
    padding: 0;
    margin: 0 0 .5em;
    border: 0;
  }

  .entry-list {
    width: auto;
  }

  .entry-list .entry {
    float: none;
    clear: both;
    width: 200px;
    margin: 0 auto 2em;
  }

  .entry-list .entry:nth-child(3n+1) {
    clear: none;
  }

  .entry-list .entry:nth-child(2n+1) {
    clear: left;
  }

  .pagination .prev,
  .pagination .next {
    display: block;
    float: none;
    clear: both;
    margin: .5em 0;
  }

  .submit-frame {
    width: 290px;
  }

  body.noscroll {
    padding-right: 0;
  }

  .partners-page .section-intro {
    width: auto;
  }

  .partners-list li {
    margin: 0 0 20px;
  }

}

/* Wide Mobile Layout: 480px */
@media only screen and (min-width: 480px) and (max-width: 760px) {

  .wrap {
    width: 460px;
  }

  .wrap.info {
    width: 460px;
    padding: 0 10px;
  }

  .logo {
    width: auto;
    left: auto;
    right: 150px;
  }

  .entry-list .entry {
    float: left;
    clear: none;
    margin: 0 15px 2em;
  }

  .submit-frame {
    width: 400px;
  }

  #nav-social-head {
    height: 30px;
    position: absolute;
    margin-bottom: 0;
  }

  #nav-submit {
    text-align: right;
    display: inline-block;
    margin-bottom: 0;
    margin-right: 10px;
    padding-right: 20px;
    border-right: 1px solid #ccc;
  }


}

